<!--
 * @Author: 李云涛
 * @LastEditors: liyuntao
 * @description: page description
 * @Date: 2022-04-27 15:05:47
 * @LastEditTime: 2022-05-27 15:15:37
-->
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="force-rendering" content="webkit">
  <meta name="renderer" content="webkit">
  <meta name="keywords" content="天启http">
  <meta name="description" content="天启http">
  <title>404</title>
  <link href="/images/favicon.ico" rel="shortcut icon">
  <%- include('../components/style.html'); %>
  <link rel="stylesheet" href="/css/404.css">
</head>

<body>
  <%- include('../components/header.html'); %>
  <div class="error">

    <div>
      <div class="error-bg">

      </div>
      <h3>
        哎呀！网页找不到了，你可以返回再试一次～
      </h3>
      <p class="text-center">
        <span id="timer">4</span> 秒后自动跳转到首页
      </p>

      <div class="obn flex justify-content-center text-center mt-30">
        <a href="/">
          <button class="bl-button bk-bt"><span>返回首页</span></button>
        </a>
        <a href="javascript:void(0)" onclick="goBack()">
          <button class="bl-l-button ml-40 bk-bt"><span>上一步</span></button>
        </a>
      </div>
    </div>


  </div>
</body>
<script src="/lib/js/jquery-3.5.1.min.js"></script>

<script>
  var timer = 5

  var tem = setInterval(() => {
    if (timer > 0) {
      timer--
      $("#timer").text(timer)
    }
    if (timer <= 0) {
      clearInterval(tem)
      location.href = "/"

    }
  }, 1000)


  function goBack(){
    window.history.back()
  }




</script>

</html>