<!--
 * @Author: 朱占伟
 * @LastEditors: 朱占伟
 * @description: 首页
 * @Date: 2022-04-22 15:15:09
 * @LastEditTime: 2022-04-24 10:25:42
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>天启http</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="force-rendering" content="webkit">
  <meta name="renderer" content="webkit">
  <meta name="keywords" content="天启http">
  <meta name="description" content="天启http">

  <!-- 公共css -->
  <%- include('components/style.html'); %>
  <link rel="stylesheet" href="/cssmin/home.css">
</head>

<body>

  <h1>hello world2</h1>
  <h2>
    <%=title%>
  </h2>

  <img src="/images/logo.png" />

</body>
<!-- 公共js -->
<%- include('components/js.html'); %>
</html>