/******** moduleName:ui框架重置 *******/
//重置主体色
:root {
  --van-white: #fff;
  --van-blue: #1989fa;
  --van-button-primary-color: #6153ff;
  --van-button-primary-background-color: var(--van-primary-color);
  --van-primary-color: #6153ff;
  --van-success-color: var(--van-green);
  --van-danger-color: var(--van-red);
  --van-warning-color: var(--van-orange);
  --van-text-color: var(--van-gray-8);
  --van-active-color: var(--van-gray-2);
  --van-active-opacity: 0.7;
  --van-disabled-opacity: 0.5;
  --van-background-color: var(--van-gray-1);
  --van-background-color-light: #fafafa;
  --van-text-link-color: #576b95;
  --van-nav-bar-height: 50px; //navbar高度
}
