@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 775px) {
  .layout .main {
    .main-right {
      max-width: 700px;
    }
  }

  div.slide-affix {
    // display: none;

    .slide-affix--fixed{
      width: 55px !important;
      .sideBar{
        width: 100%;
        .el-menu-item{
          span{
            display: none;
          }
        }
      }
    }
  } 
}

@media screen and (max-width: 575px) {
}

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 375px) {
}
