@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 775px) {
  .layout .main {
    .main-right {
      max-width:90vw;
      overflow-x: auto !important;
    }
  }

  div.slide-affix {
    // display: none;
    width: 15px !important;

    .slide-affix--fixed{
      width: 55px !important;
      .sideBar{
        width: 55px !important;
        .show-side{
          display: flex !important;
        }
        .el-menu-item{
          span{
            display: none;
          }
        }
        .iconfont{
          display: block;
        }
      }
    }
  } 

  div.slide-affix.show-on-hidden{
    // display: none;
    width: 80px !important;

    .slide-affix--fixed{
      width: 115px !important;
      .sideBar{
        width: 115px !important;
        .show-side{
          display: flex !important;
          transform: rotate(180deg);
          transition: all .3s;
        }
        i{
          padding-left: 5px;
        }
        .el-menu-item{
          span{
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
}

@media screen and (max-width: 450px) {
  

  .header .logo .logo-title {
    padding-right: 10px;

  }
  .header .user .button {
    width: 60px;
    height: 36px;
    line-height: 34px;
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
}
