<!--
 * @Author: 李云涛
 * @LastEditors: 李云涛
 * @description: page description
 * @Date: 2022-05-09 16:50:30
 * @LastEditTime: 2022-05-09 16:54:45
-->
<!--
 * @Author: 朱占伟
 * @LastEditors: 秦琛
 * @description: 首页
 * @Date: 2022-04-22 15:15:09
 * @LastEditTime: 2022-05-09 15:10:25
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>天启http</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="force-rendering" content="webkit">
  <meta name="renderer" content="webkit">
  <meta name="keywords" content="天启http">
  <meta name="description" content="天启http">

  <!-- 公共css -->
  <%- include('../components/style.html'); %>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <%- include('../components/header.html'); %>
    <h1>hello world</h1>


    <dl>
      <dt>
        <%=name%>
      </dt>
      <dd>
        <span>地址:</span>
        <span>
          <%=url%>
        </span>
      </dd>
    </dl>

    <img src="/images/logo.png" />
    <%- include('../components/rightToolbar/rightToolbar.html'); %>

  <!-- footer -->
  <%- include('../components/footer/footer.html'); %>
</body>
<!-- 公共js -->
<%- include('../components/js.html'); %>

</html>