<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <meta charset="UTF-8">
  <title>Boke</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="force-rendering" content="webkit">
  <meta name="renderer" content="webkit">
  <meta name="keywords" content="Bke">
  <meta name="description" content="Bke">
  <!-- 公共css -->
  <%- include('../components/style.html'); %>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <%- include('../components/header.html'); %>
    <div>
      Content

      <div class="content-theme">
        <%= homeData.test %>
      </div>
    </div>

    <%#公共底部 %>
      <%- include('../components/footer.html'); %>
</body>
<!-- 公共js -->
<!-- <%- include('../components/js.html'); %> -->
  <script src="/js/home.js"></script>

</html>