<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>HTTP代理IP服务器_企业级代理IP服务商|天启HTTP官网</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="force-rendering" content="webkit">
  <meta name="renderer" content="webkit">
  <meta name="keywords" content="ip代理服务器,换ip软件，静态ip,HTTP代理ip,动态代理ip,代理ip免费试用">
  <meta name="description" content="天启HTTP专注高品质IP代理服务,国内200+城市节点,自建机房,一手ip代理服务器资源,低延迟,高可用率,多种去重模式,静态ip动态ip多种代理IP组合可先试用再购买,为企业和开发者大数据采集赋能。">
  <!-- 公共css -->
  <%- include('../components/style.html'); %>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body class="mb-20">
  <%- include('../components/header.html'); %>
    <div class="home">
      <div id="particles-js" class="particles-container" style="display:none;"></div>
      <div class="homeContent pt-80">
        <div class="banner-right common-setMaxWt">
          <!-- 第一个banner -->
          <div class="banner-board">
            <div class="banner-left pt-140 mb-140">
              <div class="banner-title fadeInUp wow"><img src="/images/home/backg-title.svg" alt="HTTP、HTTPS、SOCKS5协议，全方位支持大数据采集"></div>
              <div class="banner-subTitle mt-30 fadeInUp wow animate__delay-1">
                <span>HTTP、HTTPS、SOCKS5协议，全方位支持大数据采集</span>
              </div>
              <div class="banner-btn mt-30 fadeInUp wow animate__delay-2">
                <div class="bl-button  backg-btn" onclick="onFreeTry()"><span>免费试用</span></div>
                <div class="or-l-button  border-btn ml-30" onclick="contactUs()"><span>联系客服</span></div>
              </div>
            </div>

          </div>
          <!-- 第二栏 -->
          <ul class="secondRow fadeInUp wow animate__delay-1 pt-45 pb-45">
            <li>
              <div class="number"><span id="cityNum">200</span><span>+</span></div>
              <div class="desc mt-30"><span>全国城市数量</span></div>
            </li>
            <li>
              <div class="number"><span id="ipTotalNum">3,251,974</span></div>
              <div class="desc mt-30"><span>今日可用IP总数</span></div>
            </li>
            <li>
              <div class="number"><span id="ipNum">638,451</span></div>
              <div class="desc mt-30"><span>今日更新IP数</span></div>
            </li>
            <li>
              <div class="number"><span id="canUserNum">99</span><span>%</span></div>
              <div class="desc mt-30"><span>IP可用率</span></div>
            </li>
          </ul>
        </div>
        <!-- 第三栏 优质代理IP资源-->
        <div class="commonRow threeRow mt-140 common-setMaxWt">
          <div class="common-row-title">
            <div class="title"><span>优质代理IP资源</span></div>
            <div class="subTitle mt-20"><span>运营商正规授权资源,安全稳定的优质代理服务</span></div>
          </div>
          <ul class="mt-80">
            <li class="wow fadeInUp animate__delay-0 pointer">
              <div class="top">
                <div class="title"><span>三大协议支持</span></div>
                <div class="icon-img1"></div>
              </div>
              <div class="mt-30 bottom"><span>提供HTTP/HTTPS/SOCKS5协议，满足各类业务需求</span></div>
            </li>
            <li class="wow mt-60 fadeInUp animate__delay-1 pointer">
              <div class="top">
                <div class="title"><span>全国自建机房</span></div>
                <div class="icon-img2"></div>
              </div>
              <div class="mt-30 bottom"><span>全国200+城市节点，自建机房纯净网络，掌握一手IP资源</span></div>
            </li>
            <li class="wow mt-110 fadeInUp animate__delay-2 pointer">
              <div class="top">
                <div class="title"><span>快捷极速响应</span></div>
                <div class="icon-img3"></div>
              </div>
              <div class="mt-30 bottom"><span>IP可用率≥９９％，响应延迟≤10毫秒，接口请求时间＜1秒</span></div>
            </li>
          </ul>
        </div>

        <%# 产品核心优势 | 多种套餐选择 | 定制企业HTTP服务 三模块ui组件 %>
          <%- include('../components/banner.html',{title:'产品核心优势',from:'home'}); %>

            <!--合作企业  -->
            <div class="sevenRow mt-140">
              <div class="common-row-title">
                <div class="title"><span>合作企业</span></div>
                <div class="subTitle mt-20"><span>忠诚合作,携手共赢</span></div>
              </div>
              <ul class="mt-80 fadeInUp">
                <li class="common-scrollLeft">
                  <img src="/images/home/enterprise-left.png" alt="合作企业">
                  <img src="/images/home/enterprise-left.png" alt="合作企业">
                </li>
                <li class="common-scrollRight">
                  <img src="/images/home/enterprise-right.png" alt="合作企业">
                  <img src="/images/home/enterprise-right.png" alt="合作企业">
                </li>
              </ul>
            </div>
            <!-- 现在注册，免费领取5000IP -->
            <div class="eightRow regist pt-30 pb-40 mt-140 wow fadeInUp">
              <div><img src="/images/home/regist.png" alt="现在注册，免费领取5000IP"></div>
              <div class="desc"><span>现在注册，免费领取5000IP</span></div>
              <div class="btn">
                <div class="bl-button button mr-40" onclick="onFreeTry()"><span>免费试用</span></div>
                <div class="or-button button" onclick="contactUs()"><span>联系客服</span></div>
              </div>
            </div>
            <!-- 资讯中心 -->
            <div class="nineRow mt-140 common-setMaxWt">
              <div class="common-row-title mb-30">
                <div class="title"><span>资讯中心</span></div>
              </div>
              <ul>
                <% articleList.forEach(function(articleItem,index) { %>
                  <li
                    class="news<%= index+1 %> pl-50 pr-50 pt-50 pb-50 ml-20 mr-20  mt-80 wow fadeInTopRight animate__delay-<%= index %>">
                    <div class="common-arrow-title pb-30">
                      <div class="arrow arrow_left mr-20">
                        <i class="lightColour">&gt;</i>
                        <i class="darkColour">&gt;</i>
                      </div>
                      <div class="title">
                        <span>
                          <%= articleItem.type %>
                        </span>
                      </div>
                      <div class="arrow arrow_right ml-20">
                        <i class="darkColour">&lt;</i>
                        <i class="lightColour">&lt;</i>
                      </div>
                    </div>
                    <ul class="content">
                      <% articleItem.articleDetail.forEach(function(articleDetail,index) { %>
                        <li class="mb-20">

                          <a href="/help-details/<%= articleDetail.id%>.html" class="text-desc flex align-items-center">
                            <span class="mr-30">
                              <%= articleDetail.convertData %>
                            </span>
                            <span>
                              <%= articleDetail.title %>
                            </span>
                          </a>
                        </li>
                        <% }) %>
                    </ul>
                    <a class="mt-20 queryBtn pointer d-block"
                      href="/help-center/<%=articleItem.typeAlias%>/1.html">查看全部<span>>></span></a>
                  </li>


                  <% }) %>
              </ul>


            </div>

      </div>
    </div>

    <%#右側廣告 %>
    <%- include('../components/rightToolbar.html'); %>

    <%- include('../components/homeDialog.html') %>
    <%#公共底部 %>
    <%- include('../components/footer.html'); %>
</body>
<!-- WPA start -->
<script id="qd2355160769411743a87929e240233080d4010b0d10"
  src="https://wp.qiye.qq.com/qidian/2355160769/411743a87929e240233080d4010b0d10" charset="utf-8" async defer></script>
<!-- WPA end -->
<!-- 公共js -->
  <%- include('../components/js.html'); %>
  <script src="/lib/js/particles.min.js"></script>
  <script src="/js/particles-config.js"></script>
  <script src="/lib/js/wow.min.js"></script>
  <script src="/js/home.js"></script>
</html>