<!--
 * @Author: dengxiujie
 * @LastEditors: dengxiujie
 * @description: 右侧悬浮工具栏
 * @Date: 2022-05-06 17:31:00
 * @LastEditTime: 2022-05-07 11:54:21
-->
<link rel="stylesheet" href="/css/rightToolbar.css">
<ul class="rightToolbar mediaStyle">
  <li class="toolbar-gift">
    <div class="">

    </div>
  </li>
  <li class="toolbar-consult toolbar-backg">
    <div class="qrCode"></div>
    <div class="">
      <img src="/images/rightToolbar/icon-3.png" alt="公众号">
      <div><span>商务合作</span></div>
    </div>
  </li>
  <li class="toolbar-publicNum toolbar-backg">
    <div class="publicNum-left">

    </div>
    <div class="publicNum-right">
      <img src="/images/rightToolbar/icon-3.png" alt="公众号">
      <div><span>公众号</span></div>
    </div>
  </li>
  <li class="toolbar-toTop toolbar-backg">
    <a href="#">
      <!-- <div class="toolbar-icon"> -->
        <img src="/images/rightToolbar/icon-7.png" alt="置顶">
        <div><span>置顶</span></div>
      <!-- </div> -->
    </a>
  </li>
</ul>