<!--
 * @Author: 秦琛
 * @LastEditors: 秦琛
 * @description: page description
 * @Date: 2022-05-20 17:45:33
 * @LastEditTime: 2022-05-20 17:49:41
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('../components/js.html'); %>
</body>
<script src="/lib/js/qrcode.min.js"></script>
<script src="/js/payCenter.js"></script>

</html>