<!--
 * @Author: 秦琛
 * @LastEditors: 秦琛
 * @description: page description
 * @Date: 2022-05-20 17:45:33
 * @LastEditTime: 2022-05-21 13:50:38
-->
<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>天启HTTP代理</title>
    <script src="/lib/js/jquery-3.5.1.min.js"></script>
    <script src="/js/common.js" async defer></script>
</head>

<body>

</body>
<script src="/lib/js/qrcode.min.js"></script>
<script src="/js/payCenter.js"></script>

</html>