<!--
 * @Author: 李云涛
 * @LastEditors: 秦琛
 * @description: page description
 * @Date: 2022-05-09 13:31:39
 * @LastEditTime: 2022-05-20 14:26:52
-->

<link rel="stylesheet" href="/css/footer.css">
<footer class="footer-wrap">
  <div class="footer-main-content mediaStyle">
    <div class="title cooperate-title">
      商务合作
    </div>
    <div class="cooperate-content">
      <div>
        大客户：张经理
      </div>
      <div>
        联系方式：13260755168（微信同号）
      </div>
    </div>
    <!-- 二维码 -->
    <div class="ewm ewm-img">
      <!-- 二维码img -->
      <img src="/images/promotion/public-code.png" alt="ewm-img">
    </div>
    <div class="ewm ewm-text">
      <!-- 二维码text -->
      <p>扫码关注公众号</p>
      <p>享受更多优惠</p>
    </div>
    <div class="title link-title">
      友情链接
    </div>
    <div class="link-content">
      <% links && links.forEach(function(item){ %>
        <a href="<%- item.link %>" target="<%- item.link || '_blank' %>">
          <%- item.title %>
        </a>
        <% }) %>
    </div>
  </div>
  <hr />
  <div class="footer-text-content">
    <div>
      天启HTTP仅提供大数据采集与分析服务，严禁用户从事任何违法犯罪行为，产生的相关责任用户自负，对此天启HTTP不承担任何法律责任。
    </div>
    <div>
      <span>天启HTTP©南京光年之内网络科技有限公司</span>
      <span>地址：南京市雨花台区安德门大街57号楚翘城7幢402</span>
      <span>联系我们：13260755168</span>
    </div>
    <div>
      <span>苏ICP备2021021297号-1</span>
      <span>增值电信业务经营许可证：B1-20210427 </span>
      <span><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32011402010914" target="_blank"><img
            src="/images/footer/public.png" />苏公网安备11 32011402010914号</a></span>
    </div>
  </div>
</footer>