<!--
 * @Author: 陈昊天
 * @LastEditors: liyuntao
 * @description: 业务场景
 * @Date: 2022-05-14 18:25:11
 * @LastEditTime: 2022-05-24 11:51:11
-->
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="force-rendering" content="webkit">
  <meta name="renderer" content="webkit">
  <meta name="keywords" content="天启http">
  <meta name="description" content="天启http">
  <title>
    <% if(title){ %>
      <%= title %>-
        <% } %> 业务场景
  </title>
  <%- include('../components/style.html'); %>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/businessScene.css">
</head>

<body>
  <%- include('../components/header.html'); %>


    <div class="business-wrap grid widthAll mt-150">
      <div class="top grid">

        <% if(currentId){%>
          <% switch(currentId) { case '1' : %>
            <div class="flex-center wow  fadeInLeft">
              <div class="left_text grid">
                <span class="businesstitle main-title-color">市场调查</span>
                <p class="content">
                  了解市场现状及其发展趋势，需要用科学的方法，有目的、系统地搜集、记录、整理行业相关信息。天启HTTP能帮您轻松收集全网数据和行业动态，为决策者制定计划提供客观、正确的参考依据，帮助企业率先占据行业优势。
                </p>
                <div class="bottom_btn flex justify-start align-center">
                  <% if(token) {%>
                    <a href="/package">
                      <button type="button" class="bl-button free mr-30">
                        <span>免费试用</span>
                      </button>
                    </a>
                    <% } else { %>
                      <a href="/register">
                        <button type="button" class="bl-button free mr-30">
                          <span>免费试用</span>
                        </button>
                      </a>
                      <% } %>
                        <a href="https://wpa1.qq.com/Lkz12X21?_type=wpa&qidian=true" target="_black">
                          <button type="button" class="or-l-button connect">
                            <span>联系客服</span>
                          </button>
                        </a>
                </div>
              </div>
            </div>
            <img class="wow fadeInRight" src="/images/business/market_research.png" alt="市场调查">
            <% break; %>
              <% case '2' : %>
                <div class="flex-center wow  fadeInLeft">
                  <div class="left_text grid">
                    <span class="businesstitle main-title-color">社交采集</span>
                    <p class="content">
                      天启HTTP提供稳定可靠的代理解决方案，能帮您采集全网全渠道的社交媒体数据，包括微博、公众号、抖音、小红书等各类垂直平台，为企业分析产品口碑、活动走势、行业情报、竞品新闻等提供有效支持。</p>
                    <div class="bottom_btn flex justify-start align-center">
                      <% if(token) {%>
                        <a href="/package">
                          <button type="button" class="bl-button free mr-30">
                            <span>免费试用</span>
                          </button>
                        </a>
                        <% } else { %>
                          <a href="/register">
                            <button type="button" class="bl-button free mr-30">
                              <span>免费试用</span>
                            </button>
                          </a>
                          <% } %>
                            <a href="https://wpa1.qq.com/Lkz12X21?_type=wpa&qidian=true" target="_black">
                              <button type="button" class="or-l-button connect">
                                <span>联系客服</span>
                              </button>
                            </a>
                    </div>
                  </div>
                </div>
                <img class="wow fadeInRight" src="/images/business/social_gathering.png" alt="社交采集">
                <% break; %>
                  <% case '3' : %>
                    <div class="flex-center wow  fadeInLeft">
                      <div class="left_text grid">
                        <span class="businesstitle main-title-color">品牌保护</span>
                        <p class="content">
                          打造一个牢固的品牌形象来之不易，天启HTTP能帮您识别网站内容，快速发现和防范来自各方面的侵权行为，以防止品牌被盗用、滥用，助力打造强势的品牌形象，增强用户对品牌的信任。</p>
                        <div class="bottom_btn flex justify-start align-center">
                          <% if(token) {%>
                            <a href="/package">
                              <button type="button" class="bl-button free mr-30">
                                <span>免费试用</span>
                              </button>
                            </a>
                            <% } else { %>
                              <a href="/register">
                                <button type="button" class="bl-button free mr-30">
                                  <span>免费试用</span>
                                </button>
                              </a>
                              <% } %>
                                <a href="https://wpa1.qq.com/Lkz12X21?_type=wpa&qidian=true" target="_black">
                                  <button type="button" class="or-l-button connect">
                                    <span>联系客服</span>
                                  </button>
                                </a>
                        </div>
                      </div>
                    </div>
                    <img class="wow fadeInRight" src="/images/business/brand_protection.png" alt="品牌保护">
                    <% break; %>
                      <% case '4' : %>
                        <div class="flex-center wow  fadeInLeft">
                          <div class="left_text grid">
                            <span class="businesstitle main-title-color">SEO情报</span>
                            <p class="content">
                              搜索引擎优化对每个网站经营者都至关重要，天启HTTP能帮您快速收集具备价值的搜索引擎情报和数据，进行关键词跟踪和广告验证，让您在搜索引擎竞争中占据优势，获得品牌收益。</p>
                            <div class="bottom_btn flex justify-start align-center">
                              <% if(token) {%>
                                <a href="/package">
                                  <button type="button" class="bl-button free mr-30">
                                    <span>免费试用</span>
                                  </button>
                                </a>
                                <% } else { %>
                                  <a href="/register">
                                    <button type="button" class="bl-button free mr-30">
                                      <span>免费试用</span>
                                    </button>
                                  </a>
                                  <% } %>
                                    <a href="https://wpa1.qq.com/Lkz12X21?_type=wpa&qidian=true" target="_black">
                                      <button type="button" class="or-l-button connect">
                                        <span>联系客服</span>
                                      </button>
                                    </a>
                            </div>
                          </div>
                        </div>
                        <img class="wow fadeInRight" src="/images/business/SEO_information.png" alt="SEO情报">
                        <% break; %>
                          <% case '5' : %>
                            <div class="flex-center wow  fadeInLeft">
                              <div class="left_text grid">
                                <span class="businesstitle main-title-color">电子商务</span>
                                <p class="content">
                                  电子商务已广泛分布于全球贸易中，您可利用天启HTTP抢购淘宝、京东、拼多多等电商平台商品，获取全网电商平台信息，取得有利于自身的情报，从而及时调整运营策略，掌握行业风向。
                                </p>
                                <div class="bottom_btn flex justify-start align-center">
                                  <% if(token) {%>
                                    <a href="/package">
                                      <button type="button" class="bl-button free mr-30">
                                        <span>免费试用</span>
                                      </button>
                                    </a>
                                    <% } else { %>
                                      <a href="/register">
                                        <button type="button" class="bl-button free mr-30">
                                          <span>免费试用</span>
                                        </button>
                                      </a>
                                      <% } %>
                                        <a href="https://wpa1.qq.com/Lkz12X21?_type=wpa&qidian=true" target="_black">
                                          <button type="button" class="or-l-button connect">
                                            <span>联系客服</span>
                                          </button>
                                        </a>
                                </div>
                              </div>
                            </div>
                            <img class="wow fadeInRight" src="/images/business/electronic_commerce.png" alt="电子商务">
                            <% break; %>
                              <% case '6' : %>
                                <div class="flex-center wow fadeInLeft">
                                  <div class="left_text grid">
                                    <span class="businesstitle main-title-color">价格监控</span>
                                    <p class="content">
                                      使用天启HTTP优质代理IP监控行业价格，实时掌握机票、酒店、演唱会的价格变化，把控各个渠道的商品售价，监控竞争对手的调价行为，让企业能快速、稳定、快捷地采集价格数据。
                                    </p>
                                    <div class="bottom_btn flex justify-start align-center">
                                      <% if(token) {%>
                                        <a href="/package">
                                          <button type="button" class="bl-button free mr-30">
                                            <span>免费试用</span>
                                          </button>
                                        </a>
                                        <% } else { %>
                                          <a href="/register">
                                            <button type="button" class="bl-button free mr-30">
                                              <span>免费试用</span>
                                            </button>
                                          </a>
                                          <% } %>
                                            <a href="https://wpa1.qq.com/Lkz12X21?_type=wpa&qidian=true"
                                              target="_black">
                                              <button type="button" class="or-l-button connect">
                                                <span>联系客服</span>
                                              </button>
                                            </a>
                                    </div>
                                  </div>
                                </div>
                                <img class="wow fadeInRight" src="/images/business/price_monitoring.png" alt="价格监控">
                                <% break; %>
                                  <% } %>

                                    <% } %>
      </div>

      <div class="tab">
        <div id="particles-js" class="particles-container" style="display:none;"></div>
        <div class="homeContent pt-80">
          <%# 产品核心优势 | 多种套餐选择 | 定制企业HTTP服务 三模块ui组件 %>
            <%- include('../components/banner.html',{title:'优质使用体验',from:'business-scene'}); %>

        </div>
      </div>
    </div>
    <%#公共底部 %>
      <%- include('../components/footer.html'); %>
</body>
<%- include('../components/js.html'); %>
  <script src="/lib/js/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>
</html>