<!--
 * @Author: 陈昊天
 * @LastEditors: 陈昊天
 * @description: 业务场景js
 * @Date: 2022-05-14 18:26:24
 * @LastEditTime: 2022-05-16 16:17:17
-->
<script>
  const social = '/images/business/social_gathering.png';
  const market = '/images/business/market_research.png';
  const brand = '/images/business/brand_protection.png';
  const seo = '/images/business/SEO_information.png';
  const electronic = '/images/business/electronic_commerce.png';
  const price = '/images/business/price_monitoring.png';

  const tabList = [
    {
      title: '企业级代理服务',
      icon: 'icon-img1'
    },
    {
      title: '优质性能保证',
      icon: 'icon-img2'
    },
    {
      title: '资源自由去重',
      icon: 'icon-img3'
    },
    {
      title: 'API快捷调用',
      icon: 'icon-img4'
    },
    {
      title: '终端使用授权',
      icon: 'icon-img5'
    },
    {
      title: '专业技术客服',
      icon: 'icon-img6'
    }
  ]

  const menuList = [
    {
      title: '海量优质IP资源',
      alt: '海量优质IP资源',
      className: 'icon-1'
    },
    {
      title: '200+城市地区',
      alt: '200+城市地区',
      className: 'icon-2'
    },
    {
      title: '稳定的自建机房保障',
      alt: '稳定的自建机房保障',
      className: 'icon-3'
    },
    {
      title: '不限制多机器调用',
      alt: '不限制多机器调用',
      className: 'icon-4'
    },
    {
      title: '不限制并发请求数量',
      alt: '不限制并发请求数量',
      className: 'icon-5'
    },
  ]

  //顶部渲染
  let currentId = 1;
  switch(currentId) {
    case 1:
    $('.top').append(`
    <div class="flex-center common-slideInLeft">
      <div class="left_text grid">
        <span class="title main-title-color">市场调查</span>
        <p class="content">了解市场现状及其发展趋势，需要用科学的方法，有目的、系统地搜集、记录、整理行业相关信息。天启HTTP能帮您轻松收集全网数据和行业动态，为决策者制定计划提供客观、正确的参考依据，帮助企业率先占据行业优势。</p>
        <div class="bottom_btn flex justify-start align-center">
          <button type="button" class="bl-button free mr-30">
            <span>免费试用</span>
          </button>
          <button type="button" class="or-l-button connect">
            <span>联系客服</span>
          </button>
        </div>
      </div>
    </div>  
    <img class="common-slideInRight" src=${market} alt="市场调查">
    `)
      break;
      case 2:
      $('.top').append(`
      <div class="flex-center common-slideInLeft">
        <div class="left_text grid">
          <span class="title main-title-color">社交采集</span>
          <p class="content">天启HTTP提供稳定可靠的代理解决方案，能帮您采集全网全渠道的社交媒体数据，包括微博、公众号、抖音、小红书等各类垂直平台，为企业分析产品口碑、活动走势、行业情报、竞品新闻等提供有效支持。</p>
          <div class="bottom_btn flex justify-start align-center">
            <button type="button" class="bl-button free mr-30">
              <span>免费试用</span>
            </button>
            <button type="button" class="or-l-button connect">
              <span>联系客服</span>
            </button>
          </div>
        </div>  
      </div>
      <img class="common-slideInRight" src=${social} alt="社交采集">
      `)
      break;
      case 3:
      $('.top').append(`
      <div class="flex-center common-slideInLeft">
        <div class="left_text grid">
          <span class="title main-title-color">品牌保护</span>
          <p class="content">打造一个牢固的品牌形象来之不易，天启HTTP能帮您识别网站内容，快速发现和防范来自各方面的侵权行为，以防止品牌被盗用、滥用，助力打造强势的品牌形象，增强用户对品牌的信任。</p>
          <div class="bottom_btn flex justify-start align-center">
            <button type="button" class="bl-button free mr-30">
              <span>免费试用</span>
            </button>
            <button type="button" class="or-l-button connect">
              <span>联系客服</span>
            </button>
          </div>
        </div>
      </div>
      <img class="common-slideInRight" src=${brand} alt="品牌保护">
      `)
      break;
      case 4:
      $('.top').append(`
      <div class="flex-center common-slideInLeft">
        <div class="left_text grid">
          <span class="title main-title-color">SEO情报</span>
          <p class="content">搜索引擎优化对每个网站经营者都至关重要，天启HTTP能帮您快速收集具备价值的搜索引擎情报和数据，进行关键词跟踪和广告验证，让您在搜索引擎竞争中占据优势，获得品牌收益。</p>
          <div class="bottom_btn flex justify-start align-center">
            <button type="button" class="bl-button free mr-30">
              <span>免费试用</span>
            </button>
            <button type="button" class="or-l-button connect">
              <span>联系客服</span>
            </button>
          </div>
        </div>
      </div>
      <img class="common-slideInRight" src=${seo} alt="SEO情报">
      `)
      break;
      case 5:
      $('.top').append(`
      <div class="flex-center common-slideInLeft">
          <div class="left_text grid">
          <span class="title main-title-color">电子商务</span>
          <p class="content">电子商务已广泛分布于全球贸易中，您可利用天启HTTP抢购淘宝、京东、拼多多等电商平台商品，获取全网电商平台信息，取得有利于自身的情报，从而及时调整运营策略，掌握行业风向。</p>
          <div class="bottom_btn flex justify-start align-center">
            <button type="button" class="bl-button free mr-30">
              <span>免费试用</span>
            </button>
            <button type="button" class="or-l-button connect">
              <span>联系客服</span>
            </button>
          </div>
        </div>
      </div>
      <img class="common-slideInRight" src=${electronic} alt="电子商务">
      `)
      break;
      case 6:
      $('.top').append(`
      <div class="flex-center common-slideInLeft">
        <div class="left_text grid">
          <span class="title main-title-color">价格监控</span>
          <p class="content">使用天启HTTP优质代理IP监控行业价格，实时掌握机票、酒店、演唱会的价格变化，把控各个渠道的商品售价，监控竞争对手的调价行为，让企业能快速、稳定、快捷地采集价格数据。</p>
          <div class="bottom_btn flex justify-start align-center">
            <button type="button" class="bl-button free mr-30">
              <span>免费试用</span>
            </button>
            <button type="button" class="or-l-button connect">
              <span>联系客服</span>
            </button>
          </div>
        </div>
      </div>
      <img class="common-slideInRight" src=${price} alt="价格监控">
      `)
      break;
  }

  //tab渲染
  $.each(tabList,(index,item) => {
    $('.tab_box').append(`<li class="ml-40 mr-40 pb-40">
        <div class="icon-img ${item.icon}"></div>
        <div class="mt-30">
          <span>${item.title}</span>  
        </div>
      </li>`)
  })

  //定制服务
  $.each(menuList,(index,item) => {
    $('.menu_list').append(`<div class="menu_item flex-center">
      <div class="${item.className} item-icon"></div>
      <div class="font-16 main-title-color">${item.title}</div> 
    </div>`)
  })

  //优质的使用体验
  $("#kernelBox li").hover(function () {
    $(this).addClass("active")
    $(this).find('.icon-img').addClass('li_hover')
  },function() {
    $(this).removeClass("active")
    $(this).find('.icon-img').removeClass('li_hover')
  })

  //套餐
  $('.menu_box').hover(function() {
    $(this).addClass('menu_box_move')
  },function() {
    $(this).removeClass('menu_box_move')
  })
</script>