<!--
 * @Author: 陈昊天
 * @LastEditors: 陈昊天
 * @description: 业务场景
 * @Date: 2022-05-14 18:26:28
 * @LastEditTime: 2022-05-16 16:16:33
-->
<style lang="scss" scoped>
  .container {
    grid-template-rows: repeat(5,auto);
    grid-row-gap: 80px;
  }
  .title {
    font-size: 48px;
    font-weight: 800;
    color: #091D43;
  }
  .model_title {
    font-size: 36px;
    color: #091D43;
  }
  .top {
    grid-template-columns: 8fr 4fr;
  }
  .top .left_text {
    grid-template-rows: 58px 93px 60px;
    grid-row-gap: 40px;
  }
  .top .right_img {
    width: 100%;
    height: 100%;
    background: url('/images/business/social_gathering.png') no-repeat;
    background-size: contain;
  }
  .free {
    width: 200px;
    height: 60px;
    font-size: 24px;
  }
  .connect {
    width: 200px;
    height: 60px;
    font-size: 24px;
    background: #fff;
  }
  .tab .common-row-title {
    font-size: 36px;
  }
  .proxy {
    grid-template-columns: repeat(2,1fr);
  }
  .proxy_left {
    width: 730px;
    height: 441px;
    background: url('/images/home/kernel-bg.png') no-repeat;
    background-size: contain;
  }
  .menu {
    grid-template-rows: 47px 1fr;
    grid-row-gap: 80px;
  }
  .menu_bottom {
    grid-template-columns: repeat(2,530px);
    grid-column-gap: 100px;
  }
  .menu_box {
    display: grid;
    grid-template-rows: repeat(4,auto);
    justify-content: center;
    align-items: center;
    height: 556px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 20px rgb(208 224 255 / 40%);
    border-radius: 8px;
    background-position: 360px -15px;
    background-size:  200px 100px;
    background-repeat: no-repeat;
    background-image: radial-gradient(closest-side at 60%, rgba(208, 224, 255, 0.7), rgba(255, 0, 0, 0));
    position: relative;
  }
  .menu_box_move {
    top: -30px;
  }
  .customer {
    grid-row-gap: 80px;
    /* background-image: linear-gradient(40deg, #1968fc 0%,#fff 100%); */
  }
  .customer_bottom {
    grid-template-columns: repeat(2,1fr);
  }
  .module_img {
    width: 730px;
    height: 430px;
    background: url('/images/home/custom-made-bg.png') no-repeat;
    background-size: contain;
  }
  .customer_btn {
    width: 240px;
    height: 50px;
    font-size: 20px;
    position: relative;
    left: -40px;
  }
  .menu_list {
    grid-template-rows: repeat(5,1fr);
    grid-row-gap: 30px;
  }
  .menu_item {
    width: 400px;
    height: 80px;
    border: 1px solid #d0e0ff;
    border-radius: 8px;
  }
  .item-icon {
    width: 50px;
    height: 50px;
    background: url("/images/home/custom-made.png") no-repeat;
  }
  .icon-1 {
    background-position: -30px -30px;
  }
  .icon-2 {
    background-position: -110px -30px;
  }
  .icon-3 {
    background-position: -190px -30px;
  }
  .icon-4 {
    background-position: -270px -30px;
  }
  .icon-5 {
    background-position: -345px -30px;
  }
  .menu_title {
    color: #091D43;
    font-size: 36px;
  }
  .know_btn {
    width: 240px;
    height: 50px;
    font-size: 20px;
  }
  .timesRange {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px 30px;
  }
  .setMeal-limt {
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 20px;
  }
  .box_desc {
    grid-row-gap: 40px;
  }
  .icon-yuetaocan-zhuangshi1 {
    color: #758DFF;
  }
  .icon-yuetaocan-zhuangshi2 {
    color: #22C55E;
  }
  .tab_box {
    border-bottom: 1px solid #d0e0ff;
    &:hover {
      .icon-img {
        @include animation-kernel;
      }
    }
  }
  .tab_box .active:after{
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 2px solid #1968fc;
  }
  .tab_box li {
    text-align: center;
    position: relative;
  }
  .li_hover {
    background-position: -45px -185px !important;
  }
  .icon-img {
    width: 80px;
    height: 80px;
    margin: auto;
    font-size: 24px;
    color: #091D43;
  }
  .icon-img1 {
    background: url("/images/home/kernel1.png") no-repeat;
    background-position: -45px -45px;
  }
  .icon-img2 {
    background: url("/images/home/kernel2.png") no-repeat;
    background-position: -45px -45px;
  }
  .icon-img3 {
    background: url("/images/home/kernel3.png") no-repeat;
    background-position: -45px -45px;
  }
  .icon-img4 {
    background: url("/images/home/kernel4.png") no-repeat;
    background-position: -45px -45px;
  }
  .icon-img5 {
    background: url("/images/home/kernel5.png") no-repeat;
    background-position: -45px -45px;
  }
  .icon-img6 {
    background: url("/images/home/kernel6.png") no-repeat;
    background-position: -45px -45px;
  }
</style>