
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="force-rendering" content="webkit" />
  <meta name="renderer" content="webkit" />
  <meta http-equiv="x-ua-compatible" content="IE=Edge">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover" />
  <title>个人中心-天启HTTP官网</title>
  <link href="/images/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="/css/protocol.css">
</head>
<body>
<div>
    <div class="agreement">
        <h1>《天启HTTP注册协议》</h1>
        <div>

            <p>本协议是您与天启HTTP相关事宜所订立的契约，请您仔细阅读本注册协议，您点击“同意”后，本协议即构成对双方有约束力的法律文件。</p>


            <p>
                第1条用户注册
                <br>1、用户注册是指用户登录天启HTTP，按要求填写相关信息并确认同意本服务协议的过程。
                <br>2、天启HTTP用户必须是具有完全民事行为能力的自然人。
                <br>3、本产品提供试用测试，一经出售，概不退款
            </p>

            <p>
                第2条用户的帐号、密码和安全性
                <br>用户一旦注册成功，成为本站的合法用户。天启HTTP将对用户名和密码安全负全部责任，若是因个人行为造成的密码用户安全问题，本公司不负责任。此外，每个用户都要对以其用户名进行的所有活动和事件负全责。用户若发现任何非法使用用户帐号或存在安全漏洞的情况，请立即通告本站或者致电官网电话。
            </p>

            <p>
                第3条用户依法履行义务
                <br>本协议依据国家相关法律法规规章制定，用户同意严格遵守以下义务：
                <br>（1）不得传输或发表：煽动抗拒、破坏宪法和法律、行政法规实施的言论，煽动颠覆国家政权，推翻社会主义制度的言论，煽动分裂国家、破坏国家统一的的言论，煽动民族仇恨、民族歧视、破坏民族团结的言论；
                <br>（2）从中国大陆向境外传输资料信息时必须符合中国有关法规；
                <br>（3）不得利用本站从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；
                <br>（4）不得干扰本站的正常运转，不得侵入本站及国家计算机信息系统；
                <br>（5）不得传输或发表任何违法犯罪的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的，淫秽的、不文明的等信息资料；
                <br>（6）不得传输或发表损害国家社会公共利益和涉及国家安全的信息资料或言论；
                <br>（7）不得教唆他人从事本条所禁止的行为；
                <br>（8）不得利用在本站注册的账户进行牟利性经营活动；
                <br>（9）不得发布任何侵犯他人著作权、商标权等知识产权或合法权利的内容；
            </p>

            <p>
                注明：用户应不时关注并遵守本站不时公布或修改的各类合法规则规定，本站保有删除站内各类不符合法律政策或不真实的信息内容而无须通知用户的权利。若用户未遵守以上规定的，本站有权作出独立判断并采取暂停或关闭用户帐号等措施。用户须对自己在网上的言论和行为承担法律责任。
            </p>
            <p>
                第4条 协议更新及用户关注义务
                <br>根据国家法律法规变化及网站运营需要，天启HTTP有权对本协议条款不时地进行修改，修改后的协议一旦被张贴在本站上即生效，并代替原来的协议。用户可随时登录查阅最新协议；用户有义务不时关注并阅读最新版的协议及网站公告。如用户不同意更新后的协议，可以且应立即停止接受网站依据本协议提供的服务；如用户继续使用本网站提供的服务的，即视为同意更新后的协议。天启HTTP建议您在使用本站之前阅读本协议及本站的公告。 如果本协议中任何一条被视为废止、无效或因任何理由不可执行，该条应视为可分的且并不影响任何其余条款的有效性和可执行性。
            </p>
            <p>
                第5条 法律管辖和适用
                <br>本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）。 如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。 如缔约方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向有管辖权的中华人民共和国大陆地区法院提起诉讼。
            </p>
        </div>
    </div>
</div>
</body>
</html>
