<!--
 * @Author: 李云涛
 * @LastEditors: 陈昊天
 * @description: 提取ip
 * @Date: 2022-04-27 11:56:24
 * @LastEditTime: 2022-05-09 17:33:03
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="force-rendering" content="webkit">
  <meta name="renderer" content="webkit">
  <meta name="keywords" content="天启http">
  <meta name="description" content="天启http">
  <title>提取IP</title>
  <%- include('../components/style.html'); %>
  <%- include('./style.html') %>
</head>
<body>
  <div class="container grid justify-cente">
    <!-- 左边悬浮框 -->
    <div class="left">
      <div class="extract_ip_left pd-20 grid justify-center">
        <span class="desc font-25 title">提取IP</span>
        <div class="anchor grid justify-center">
        </div>
      </div>
      <div class="code_demo_left mt-20 pd-20 grid justify-center">
        <span class="desc font-25 title">代码demo</span>
        <div class="demo grid justify-center"></div>
      </div>
    </div>
    <div class="empty"></div>
    <!-- 右边主体内容 -->
    <div class="right grid">
      <div class="head extract_ip_right">
        <span class="font-25 title">提取IP</span>
        <div class="form-group row mt-30 align-center">
          <label for="extractType" class="col-sm-2 col-form-label font-20 main-title-color">选择提取类型</label>
          <select id="extractType" class="col-sm-6 extract_select form-control">
            <option selected>余额提取</option>
          </select>
        </div>
        <div class="form-group count">
          <label for="count" class="font-20 main-title-color">账户概况</label>
          <div class="count_box mt-20 flex justify-between align-center" id="count">
            <div class="box_left">
              <label for="left_desc">当前账户余额(天启币)</label>
              <span class="left_count ml-5" id="left_count">3333.3333</span>
            </div>
            <button class="right_btn">充值</button>
          </div>
        </div>
        <div class="meal_box mt-30 grid"></div>
        <div class="form-group row mt-30 extract_num align-center">
          <label class="font-20 main-title-color col-sm-2">提取数量</label>
          <div class="input-group col-sm-3">
            <div class="input-group-prepend">
              <button class="btn no-border">-</button>
            </div>
            <input type="text" class="form-control">
            <div class="input-group-append">
              <button class="btn no-border">+</button>
            </div>
          </div>
        </div>
        <div class="form-group mt-30 ip_use">
          <label class="font-20 main-title-color">IP使用时长</label>
          <div class="ip_use_box grid justify-start align-center mt-45"></div>
        </div>
      </div>
      <div class="head extract_interface" style="height: 500px">
        <span class="font-25 title">提取接口</span>
      </div>
      <div class="head white_list" style="height: 500px">
        <span class="font-25 title">白名单接口</span>
      </div>
      <div class="head error_code" style="height: 500px">
        <span class="font-25 title">错误码</span>
      </div>
      <div class="head code_demo_right" style="height: 500px">
        <span class="font-25 title">代码demo</span>
      </div>
    </div>
  </div>
</body>
<%- include('../components/js.html'); %>
<%- include('./js.html') %>
</html>