<!--
 * @Author: 李云涛
 * @LastEditors: 陈昊天
 * @description: 提取ip
 * @Date: 2022-04-27 11:56:24
 * @LastEditTime: 2022-05-11 10:46:58
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="force-rendering" content="webkit">
  <meta name="renderer" content="webkit">
  <meta name="keywords" content="天启http">
  <meta name="description" content="天启http">
  <title>提取IP</title>
  <%- include('../components/style.html'); %>
  <%- include('./style.html') %>
</head>
<body>
  <div class="container grid">
    <!-- 左边悬浮框 -->
    <div class="left">
      <div class="extract_ip_left pd-20 grid justify-center">
        <span class="desc font-25 title">提取IP</span>
        <div class="anchor grid justify-center">
        </div>
      </div>
      <div class="code_demo_left mt-20 pd-20 grid justify-center">
        <span class="desc font-25 title">代码demo</span>
        <div class="demo grid justify-center"></div>
      </div>
    </div>
    <div class="empty"></div>
    <!-- 右边主体内容 -->
    <div class="right grid">
      <div class="head extract_ip_right">
        <span class="font-25 title">提取IP</span>
        <div class="extract_type_box flex flex-wrap align-center mt-40">
          <label for="extractType" class="font-18 main-title-color label_lay">选择提取类型</label>
          <select id="extractType" class="extract_select form-control">
            <option selected>余额提取</option>
          </select>
        </div>
        <div class="form-group count mt-40">
          <label for="count" class="font-18 main-title-color">账户概况</label>
          <div class="count_box mt-20 flex justify-between align-center" id="count">
            <div class="box_left">
              <label for="left_desc">当前账户余额(天启币)</label>
              <span class="left_count ml-5" id="left_count">3333.3333</span>
            </div>
            <button class="right_btn">充值</button>
          </div>
        </div>
        <div class="meal_box mt-30 grid"></div>
        <div class="mt-30 extract_num flex flex-wrap align-center">
          <label class="font-18 main-title-color label_lay">提取数量</label>
          <div class="input-group extract_box flex-center">
            <button class="decrement">-</button>
            <input type="text" class="form-control extract_num_input text-center" value="1">
            <button class="increment">+</button>
          </div>
        </div>
        <div class="form-group mt-30 ip_use">
          <label class="font-18 main-title-color">IP使用时长</label>
          <div class="ip_use_box grid justify-start align-center mt-45"></div>
        </div>
        <div class="flex flex-wrap align-center data_format_box mt-40">
          <label class="label_lay font-18 main-title-color">数据格式</label>
          <div class="data_format flex">
            <div class="narrow_box mr-40 flex-center pointer">
              <span class="font-15 main-title-color">TEXT</span>
            </div>
            <div class="narrow_box flex-center pointer">
              <span class="font-15 main-title-color">JSON</span>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap align-center choose_type_box mt-40">
          <label class="label_lay font-18 main-title-color">选择属性</label>
          <div class="choose_type"></div>
        </div>
        <div class="flex flex-wrap align-center separator_box mt-40">
          <label class="label_lay font-18 main-title-color">分隔符</label>
          <div class="separator flex"></div>
        </div>
        <div class="choose_area_box mt-40">
          <label class="font-18 main-title-color">选择地区</label>
          <div class="choose_area grid mt-30">
            <div class="top flex">
              <div class="narrow_box mr-40 flex-center pointer">
                <span class="font-15 main-title-color">全国混拨</span>
              </div>
              <div class="narrow_box flex-center pointer">
                <span class="font-15 main-title-color">省份混拨</span>
              </div>
            </div>
            <div class="bottom flex flex-wrap"></div>
          </div>
        </div>
        <div class="flex flex-wrap align-center operator_box mt-40">
          <label class="label_lay font-18 main-title-color">运营商</label>
          <div class="operator_box flex">
            <div class="narrow_box mr-40 flex-center pointer">
              <span class="font-15 main-title-color">不限</span>
            </div>
            <div class="narrow_box mr-40 flex-center pointer">
              <span class="font-15 main-title-color">电信</span>
            </div>
            <div class="narrow_box flex-center pointer">
              <span class="font-15 main-title-color">联通</span>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap align-center ip_box mt-40">
          <label class="label_lay font-18 main-title-color">运营商</label>
          <div class="ip_agreement flex">
            <div class="narrow_box mr-40 flex-center pointer">
              <span class="font-15 main-title-color">HTTP</span>
            </div>
            <div class="narrow_box mr-40 flex-center pointer">
              <span class="font-15 main-title-color">HTTPS</span>
            </div>
            <div class="narrow_box flex-center pointer">
              <span class="font-15 main-title-color">SOCKS5</span>
            </div>
          </div>
        </div>
        <div class="mt-40 grid">
          <div class="flex align-center ">
            <button class="create_api_url">生成API链接</button>
            <span class="pointer ml-50">查看API文档</span>
          </div>
          <div class="input-group apiUrl_input_box mt-40">
            <input type="text" class="form-control apiUrl_input" placeholder="点击上方按钮，生成API链接" >
            <div class="input-group-append">
              <button class="btn btn-outline-secondary copy" type="button">复制链接</button>
              <button class="btn btn-outline-secondary open" type="button">打开链接</button>
            </div>
          </div>
        </div>
        <div class="instructions_box mt-40">
          <span class="font-18 main-title-color">使用说明</span>
          <div class="note_bottom mt-20">
            <p class="mb-10 font-15">* 生成API链接，调用GET请求即可返回所需的IP结果</p>
            <p class="mb-10 font-15">* 您的所有访问操作均有日志保存，望遵纪守法</p>
            <p class="font-15">* 请使用合理的频率去调用API接口，暴力调用将导致您的客户端IP被防火墙封禁</p>
        </div>
      </div>
      <div class="head extract_interface mt-40">
        <span class="font-25 title">提取接口</span>
        <div class="note_box flex mt-40">
          <ul class="note_desc">
            <li class="top_li flex-center">属性</li>
            <div class="extract_box"></div>
          </ul>
          <ul class="note_content widthAll">
            <li class="top_li flex-center">内容</li>
            <li class="ele flex-center pt-20 pb-20">
              <div class="li_item_box flex-center">
                http://api.tianqiip.com/getip
              </div>
            </li>
            <li class="ele flex-center pt-20 pb-20">
              <div class="li_item_box flex-center">
                GET
              </div>
            </li>
            <li class="ele flex-center pt-20 pb-20">
              <div class="li_item_box flex-center">
                utf-8
              </div>
            </li>
            <li class="ele grid pt-20 pb-20 align-center params_desc"></li>
            <li class="ele flex-center flex-column pt-20 pb-20">
              <div class="li_item_box flex-center">
                code: 错误编号
              </div>
              <div class="li_item_box flex-center mt-20">
                Msg: 描述信息
              </div>
            </li>
            <li class="ele flex-center pt-20 pb-20">
              <div class="code flex-center">
                <br>
                  返回内容的标签或字段类型可在产品管理里通过设置提取格式来定制；<br/>
                  类型为txt文本的定制标签如下：<br/>
                  ip：port自定义分隔符；<br/>
                  类型为json格式的响应字段如下：<br/>
                  data：[<br/>
                          {<br/>
                            ip：IP<br/>
                            port：端口<br/>
                            expire：有效时间<br/>
                            city：城市<br/>
                            isp：运营商<br/>
                          }<br/>
                  ]
                </p>
              </div>
            </li>
            <li class="ele flex-center pt-20 pb-20">
              <div class="li_item_box flex-center">
                1000: 获取成功
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="head white_list mt-40">
        <span class="font-25 title">白名单接口</span>
        <div class="note_box flex mt-40">
          <ul class="note_desc">
            <li class="top_li flex-center">属性</li>
            <div class="white_box"></div>
          </ul>
          <ul class="note_content widthAll">
            <li class="top_li flex-center">内容</li>
            <li class="ele flex-center pt-20 pb-20">
              <div class="li_item_box flex-center port">
                http://api.tianqiip.com/white/add?key=xxx&brand=2&sign=xxx&ip=xxx
              </div>
            </li>
            <li class="ele flex-center pt-20 pb-20">
              <div class="li_item_box flex-center port">
                http://api.tianqiip.com/white/delete?key=xxx&brand=2&sign=xxx&ip=xxx
              </div>
            </li>
            <li class="ele flex-center pt-20 pb-20">
              <div class="li_item_box flex-center port">
                http://api.tianqiip.com/white/fetch?key=xxx&brand=2&sign=xxx
              </div>
            </li>
            <li class="ele flex-center pt-20 pb-20">
              <div class="li_item_box flex-center">
                GET
              </div>
            </li>
            <li class="ele flex-center pt-20 pb-20">
              <div class="li_item_box flex-center">
                utf-8
              </div>
            </li>
            <li class="ele grid pt-20 pb-20 align-center params_desc"></li>
            <li class="ele flex-center flex-column pt-20 pb-20">
              <div class="li_item_box flex-center">
                code: 错误编号
              </div>
              <div class="li_item_box flex-center mt-20">
                Msg: 描述信息
              </div>
            </li>
            <li class="ele flex-center flex-column pt-20 pb-20">
              <div class="li_item_box flex-center">
                code: 200
              </div>
              <div class="li_item_box flex-center mt-20">
                info: 描述信息
              </div>
            </li>
            <li class="ele flex-center pt-20 pb-20">
              <div class="li_item_box flex-center">
                200: 操作成功
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="head error_code" style="height: 500px">
        <span class="font-25 title">错误码</span>
      </div>
      <div class="head code_demo_right" style="height: 500px">
        <span class="font-25 title">代码demo</span>
      </div>
    </div>
  </div>
</body>
<%- include('../components/js.html'); %>
<%- include('./js.html') %>
</html>