<!--
 * @Author: 陈昊天
 * @LastEditors: 陈昊天
 * @description: 提取IP JS部分
 * @Date: 2022-05-09 10:29:23
 * @LastEditTime: 2022-05-11 14:52:32
-->
<script>
$(function() {
  let loginStatus = false;  //登录情况

  const extractIp = [
    {
      title: 'API获取',
    },
    {
      title: '提取接口',
    },
    {
      title: '白名单接口',
    },
    {
      title: '错误码'
    }
  ]

  const codeDemo = [
    {
      title: 'Python语言'
    },
    {
      title: 'GO语言'
    },
    {
      title: 'C#语言'
    },
    {
      title: 'JavaScript语言'
    },
    {
      title: 'Java语言'
    },
    {
      title: 'Kotlin语言'
    },
    {
      title: 'Php语言'
    },
    {
      title: '易语言'
    },
    {
      title: 'C语言'
    },
    {
      title: 'Phantomjs语言'
    },
    {
      title: 'Selenium语言'
    },
    {
      title: 'Node语言'
    },
  ]

  const paidList = [
    {
      id: 1,
      desc: '已购套餐1'
    },
    {
      id: 2,
      desc: '已购套餐2'
    }
  ]

  const mealBox = [
    {
      desc: '3分钟的IP',
      num: '40,000',
    },
    {
      desc: '5分钟的IP',
      num: '20,000',
    },
    {
      desc: '10分钟的IP',
      num: '11,111',
    },
    {
      desc: '15分钟的IP',
      num: '6,666',
    },
    {
      desc: '1~5分钟的IP',
      num: '40,000',
    },
    {
    desc: '5~25分钟的IP',
      num: '20,000',
    },
    {
      desc: '25分钟~3小时的IP',
      num: '20,000',
    },
    {
      desc: '3~6小时的IP',
      num: '11,111',
    },
    {
      desc: '6~12小时的IP',
      num: '6,666',
    },
    {
      desc: '12~24小时的IP',
      num: '40,000',
    },
  ]

  const ipUse = [
    {
      time: '3分钟',
      deal: '5天启币/IP'
    },
    {
      time: '5分钟',
      deal: '10天启币/IP'
    },
    {
      time: '10分钟',
      deal: '18天启币/IP'
    },
    {
      time: '15分钟',
      deal: '30天启币/IP'
    },
  ]

  const chooseType = [
    {
      status: false,
      label: '城市'
    },
    {
      status: false,
      label: '运营商'
    },
    {
      status: false,
      label: '到期时间'
    }
  ]

  const separator = [
    {
      label: '回车换行(\\r\\n)'
    },
    {
      label: '回车(\\r)'
    },
    {
      label: '换行(\\n)'
    },
    {
      label: 'Tab换行(\\t)'
    }
  ]

  const province = [
    {
      status: false,
      label: '北京市'
    },
    {
      status: false,
      label: '天津市'
    },
    {
      status: false,
      label: '上海市'
    },
    {
      status: false,
      label: '重庆市'
    },
    {
      status: false,
      label: '河北省'
    },
    {
      status: false,
      label: '山西省'
    },
    {
      status: false,
      label: '山东省'
    },
    {
      status: false,
      label: '辽宁省'
    },
    {
      status: false,
      label: '吉林省'
    },
    {
      status: false,
      label: '黑龙江省'
    },
    {
      status: false,
      label: '江苏省'
    },
    {
      status: false,
      label: '浙江省'
    },
    {
      status: false,
      label: '安徽省'
    },
    {
      status: false,
      label: '福建省'
    },
    {
      status: false,
      label: '江西省'
    },
    {
      status: false,
      label: '山东省'
    },
    {
      status: false,
      label: '河南省'
    },
    {
      status: false,
      label: '湖北省'
    },
    {
      status: false,
      label: '湖南省'
    },
    {
      status: false,
      label: '广东省'
    },
    {
      status: false,
      label: '河南省'
    },
    {
      status: false,
      label: '四川省'
    },
    {
      status: false,
      label: '贵州省'
    },
    {
      status: false,
      label: '云南省'
    },
    {
      status: false,
      label: '陕西省'
    },
    {
      status: false,
      label: '甘肃省'
    },
    {
      status: false,
      label: '青海省'
    },
    {
      status: false,
      label: '台湾省'
    },
    {
      status: false,
      label: '内蒙古自治区'
    },
    {
      status: false,
      label: '广西壮族自治区'
    },
    {
      status: false,
      label: '宁夏回族自治区'
    },
    {
      status: false,
      label: '新疆维吾尔自治区'
    },
  ]

  const paramsDesc = [
    {
      label: 'secret:提取秘钥'
    },
    {
      label: 'num(可选):提取IP数量,不能超过200,默认值10'
    },
    {
      label: 'yys(可选):提取IP运营商,电信、移动、联通'
    },
    {
      label: 'type(可选):返回类型,txt,json'
    },
    {
      label: 'lb(可选):txt格式返回的分隔符'
    },
    {
      label: 'region(可选):区域编号,多个用英文逗号分隔'
    },
    {
      label: 'port:IP协议  1:HTTP 2:SOCKS5  3:HTTPS'
    },
    {
      label: 'time(按次提取必选):IP使用时长只支持(3,5,10,15)'
    },
    {
      label: 'ts(可选):是否显示IP过期时间, 1:显示   默认不显示'
    },
    {
      label: 'ys(可选):是否显示IP运营商,1:显示  默认不显示'
    },
    {
      label: 'cs(可选):是否显示位置,1:显示  默认不显示'
    },
  ]

  const extractDesc = [
    {
      label: 'URL'
    },
    {
      label: '方法'
    },
    {
      label: '编码方式'
    },
    {
      label: '参数说明'
    },
    {
      label: '异常'
    },
    {
      label: '成功'
    },
    {
      label: '状态码'
    }
  ]

  const whiteDesc = [
  {
      label: '添加白名单接口'
    },
    {
      label: '删除白名单接口'
    },
    {
      label: '查询白名单接口'
    },
    {
      label: '方法'
    },
    {
      label: '编码方式'
    },
    {
      label: '参数说明'
    },
    {
      label: '异常'
    },
    {
      label: '成功'
    },
    {
      label: '状态码'
    }
  ]

  const whiteParamsDesc = [
    {
      label: 'Key: 用户账号'
    },
    {
      label: 'Sign: 密钥签名'
    },
    {
      label: "需要添加或删除的ip地址,多个使用','分割"
    },
    {
      label: '固定参数,固定取值2'
    }
  ]

  const errorCodeContent = {
    left_desc: [
      {
        label: '提取接口错误码'
      },
      {
        label: '白名单接口错误码'
      },
      {
        label: '代理使用错误码'
      }
    ],
    extractError: [
      {
        label: '1001: 请求格式不正确'
      },
      {
        label: '1002: 单次请求数量超出最大值'
      },
      {
        label: '1003: 请求KEY异常'
      },
      {
        label: '1004: 套餐已过期'
      },
      {
        label: '1005: 套餐提取数量上限'
      },
      {
        label: '1006: 暂无可用IP'
      },
      {
        label: '1007: 提取地区超出服务范围'
      }
    ],
    whiteError: [
    {
        label: '1001: 参数有误'
      },
      {
        label: '1002: ip地址格式无效'
      },
      {
        label: '1003: key无效'
      },
      {
        label: '1004: 参数sign错误'
      },
      {
        label: '1005: 不是代理用户'
      },
      {
        label: '1006: 添加的新ip数量超过最大数量限制'
      },
      {
        label: '1007: ip已存在'
      },
      {
        label: '1008: ip地址不在服务范围'
      },
      {
        label: '1009: 白名单中不存在指定的ip可以删除'
      },
      {
        label: '1009: 白名单中不存在指定的ip可以删除'
      },
      {
        label: '1101: 服务器内部错误'
      }
    ],
    proxyError: [
      {
        label: '407: 白名单IP校验失败'
      },
      {
        label: '430: 客户端IP非国内'
      },
      {
        label: '431: 代理认证口令为空'
      },
      {
        label: '432: 账号密码错误'
      },
      {
        label: '434: 代理节点异常'
      },
      {
        label: '435: 代理IP状态异常'
      },
      {
        label: '436: 代理IP未经授权或已超出使用时长'
      },
      {
        label: '451: IP未提取或已过期'
      },
      {
        label: '452: 套餐信息异常'
      },
      {
        label: '453: IP提取记录不存在'
      },
      {
        label: '454: 套餐不存在'
      },
      {
        label: '455: 用户信息异常'
      },
      {
        label: '456: 未实名'
      },
    ]
  }

  //列表渲染-提取IP
  $.each(extractIp,(index,item) => {
    $('.anchor').append(`<span class="pointer">${item.title}<span>`)
  })

  //列表渲染-代码demo
  $.each(codeDemo,(index,item) => {
    $('.demo').append(`<span class="pointer">${item.title}<span>`)
  })

  //点击定位
  $('.anchor span').on('click', function() {
    let currentAnchor = $('.right .head').eq($(this).index()).offset().top
    $('body,html').stop().animate({
      scrollTop: currentAnchor
    })
  })
  $('.demo span').on('click', function() {  //代码demo定位
    let currentDemo = $('.right div').last($(this).index()).offset().top
    $('body,html').stop().animate({
      scrollTop: currentDemo
    })
  })

  //select渲染
  $.each(paidList,(index,item) => {
    $('.extract_select').append(`<option>${item.desc}</option>`)
  })

  //ip数量列表渲染
  $.each(mealBox,(index,item) => {
    $('.meal_box').append(`<div class="meal_item grid justify-center align-center">
        <div class="desc flex justify-center pt-10 pb-10">
          <span class="font-15">${item.desc}</span>
        </div>
        <div class="num flex justify-center align-center">
          <span class="text-blue font-25">${item.num}</span>
          <span class="text-blue font-15">个</span>
        </div>
      </div>`)
  })

  //ip套餐列表渲染
  $.each(ipUse,(index,item) => {
    $('.ip_use_box').append(`<div class="ip_use_item flex flex-column align-center justify-center">
        <div class="time_box">
          <span class="time_text font-25 font-bold main-title-color">${item.time}</span>
        </div>
        <div class="deal_box mt-15 pt-10 flex justify-center align-center pb-10 ">
          <span class="deal_text text-blue">${item.deal}</span>  
        </div>
      </div>`)
  })

  //点击IP使用时长
  $('.ip_use_box .ip_use_item').on('click',function() {
    $(this).toggleClass('ip_use_item_choose')
    $(this).find('.time_text').toggleClass('time_text_choose')
    $(this).find('.deal_box').toggleClass('deal_box_choose')
    $(this).find('.deal_text').toggleClass('deal_text_choose')
  })

  //提取数量
  const changeIpNum = (val,btn) => {
    let num = Number(val)
    if (btn === 'decrement' && val <= 1) {  //点击"-"并且数值为1
      $message.warning({
        message: '单次最小提取量为1',
        showClose: true
      })
      return null
    } else {
      if (btn === 'decrement') {
        num-=5;
        return num;
      } else {
        num+=5;
        return num;
      }
    }
  }
  $('.decrement,.increment').on('click',function() {
    let currentVal = $(this).siblings('.extract_num_input').val() //获取input值
    let currentEl = $(this).attr('class') //获取当前类名
    let newVal = changeIpNum(currentVal,currentEl)
    if (newVal !== null) {  //判断是否逻辑正确
      $(this).siblings('.extract_num_input').val(newVal)
    }
  })

  //选择属性列表
  $.each(chooseType,(index,item) => {
    $('.choose_type').append(`<div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value=${item.status}>
      <label class="form-check-label">${item.label}</label>
    </div>`)
  })

  //分隔符列表
  $.each(separator,(index,item) => {
    $('.separator').append(`<div>
      <div class="narrow_box mr-40 flex justify-center align-center pointer">
        <span class="font-15 main-title-color">${item.label}</span>
      </div>
    </div>`)
  })

  //样式切换
  $('.narrow_box').on('click',function() {
    $(this).toggleClass('narrow_box_choose')
  })
  
  //省份列表
  $.each(province,(index,item) => {
    $('.choose_area .bottom').append(`<div class="form-check mr-20 mb-20">
      <input class="form-check-input" type="checkbox" value=${item.status}>
      <label class="form-check-label">${item.label}</label>
    </div>`)
  })

  //参数说明
  $.each(paramsDesc,(index,item) => {
    $('.extract_interface .params_desc').append(`<div class="li_item_box flex-center">
      ${item.label}
    </div>`)
  })

  //提取接口-属性
  $.each(extractDesc,(index,item) => {
    $('.note_desc .extract_box').append(`<li class="ele flex-center">
      ${item.label}
    </li>`)
  })

  //白名单接口-属性
  $.each(whiteDesc,(index,item) => {
    $('.note_desc .white_box').append(`<li class="ele flex-center">
      ${item.label}
    </li>`)
  })

  //白名单接口-参数说明
  $.each(whiteParamsDesc,(index,item) => {
    $('.white_list .params_desc').append(`<div class="li_item_box flex-center">
      ${item.label}
    </div>`)
  })

  //错误码
  $.each(errorCodeContent.left_desc,(index,item) => {
    $('.error_code .box').append(`<li class="ele flex-center">
      ${item.label}
    </li>`)
  })
  $.each(errorCodeContent.extractError,(index,item) => {
    $('.error_code .extract').append(`<div class="li_item_box flex-center mb-20 port">
      ${item.label}
    </div>`)
  })
  $.each(errorCodeContent.whiteError,(index,item) => {
    $('.error_code .white').append(`<div class="li_item_box flex-center mb-20 port">
      ${item.label}
    </div>`)
  })
  $.each(errorCodeContent.proxyError,(index,item) => {
    $('.error_code .proxy').append(`<div class="li_item_box flex-center mb-20 port">
      ${item.label}
    </div>`)
  })

  //代码demo
  $.each(codeDemo,(index,item) => {
    $('.demo_box').append(`<div class="demo_box_item flex-center flex-column">
      <span class="demo_title mb-15">${item.title}</span>
      <button type="button" class="download">立即下载</button>
    </div>`)
  })

  //动态改变列表高度
  const getContentHeight = () => {//获取内容列表每一行的高度
    let heightList = []
    $('.note_content .ele').each((index,item)=>{
      heightList.push($(item).css('height'))
    })
    return heightList
  }
  let heightList = getContentHeight()
  $('.note_desc .ele').each((i,e)=>{
    heightList.map((item,index) => {
      if (i === index) {  //如果高度数组索引等于dom数组索引才进行高度赋值
        $(e).css({
          'height':item
        })
      }
    })
  })

  //登录情况判断渲染
  $('.already_login').css('display',loginStatus ? 'block' : 'none')
  $('.not_login').css('display',loginStatus ? 'none' : 'block')
})
</script>