<!--
 * @Author: 陈昊天
 * @LastEditors: 陈昊天
 * @description: 提取IP样式
 * @Date: 2022-05-09 10:29:18
 * @LastEditTime: 2022-05-09 13:40:28
-->
<style scoped>
  .left {
    position: fixed;
  }
  .right {
    display: grid;
    justify-content: center;
    grid-row-gap: 40px;
  }
  .extract_ip_left {
    width: 220px;
    height: 285px;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(208, 224, 255, 0.4);
    background-image: linear-gradient(to bottom right, rgba(208, 224, 255, 0.4), #fff, #fff, #fff);
    grid-row-gap: 10px;
  }
  .code_demo_left {
    width: 220px;
    height: 613px;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(208, 224, 255, 0.4);
    background-image: linear-gradient(to bottom right, rgba(208, 224, 255, 0.4), #fff, #fff, #fff, #fff);
  }
  .title {
    color: #091D43;
    font-weight: bold;
  }
  .desc {
    height: 0;
  }
  .anchor {
    grid-row-gap: 20px;
    color: #4C5664;
    font-size: 15px;
  }
  .demo {
    grid-row-gap: 20px;
    color: #4C5664;
    font-size: 15px;
  }
</style>