<!--
 * @Author: 陈昊天
 * @LastEditors: 陈昊天
 * @description: 提取IP样式
 * @Date: 2022-05-09 10:29:18
 * @LastEditTime: 2022-05-17 17:52:35
-->
<style scoped>
  .container {
    grid-template-columns: 1fr;
  }
  .left {
    position: fixed;
    left: 6%;
    transform: translate(-6%,0)
  }
  .right {
    grid-row-gap: 40px;
  }
  .extract_ip_left {
    width: 220px;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(208, 224, 255, 0.4);
    background-image: linear-gradient(to bottom right, rgba(208, 224, 255, 0.4), #fff, #fff, #fff);
    grid-row-gap: 30px;
  }
  .code_demo_left {
    width: 220px;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(208, 224, 255, 0.4);
    background-image: linear-gradient(to bottom right, rgba(208, 224, 255, 0.4), #fff, #fff, #fff, #fff);
    grid-row-gap: 30px;
  }
  .title {
    color: #091D43;
    font-weight: bold;
  }
  .anchor {
    grid-row-gap: 20px;
    color: #4C5664;
    font-size: 15px;
  }
  .demo {
    grid-row-gap: 20px;
    color: #4C5664;
    font-size: 15px;
  }
  .extract_select {
    border-radius: 4px;
    max-width: 460px;
  }
  .count {
    padding-bottom: 30px;
    border-bottom: 1px solid #E4E5EB;
  }
  .count_box {   
    max-width: 800px;
    padding: 20px 30px;
    background: rgba(208, 224, 255, 0.3);
    border-radius: 8px;
  }
  .left_count {
    color: #4C5664;
    font-size: 20px;
  }
  .right_btn {
    border: none;
    width: 80px !important;
    height: 40px !important;
    color: #fff;
    background: #FC7019;
    border-radius: 4px;
  }
  .meal_box {
    grid-template-columns: repeat(auto-fit,190px);
    grid-gap: 20px 30px;
  }
  .meal_item {
    height: 144px;
    border-radius: 8px;
    background: rgba(208, 224, 255, 0.3);
  }
  .meal_item .desc {
    width: 140px;
    height: 40px;
    border-radius: 20px;
    background: rgba(208, 224, 255, 0.6);
  }
  .extract_num .btn {
    width: 40px;
    background: #D8DCE6;
  }
  .extract_box {
    width: 184px;
    height: 40px;
  }
  .extract_box .extract_num_input {
    border-left:"none";
    border-right:"none";
  }
  .extract_box .decrement,.increment {
    width: 40px;
    height: 38px;
    border: 1px solid #ced4da;
  }
  .decrement {
    border-radius: 4px 0px 0px 4px;
    border-right: none;
  }
  .increment {
    border-radius: 0px 4px 4px 0px;
    border-left: none;
  }
  .ip_use_box {
    grid-template-columns: repeat(auto-fit,202px);
    grid-gap: 20px 30px;
  }
  .ip_use_item {
    height: 129px;
    border-radius: 8px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 20px rgba(208, 224, 255, 0.4);
    background-image: linear-gradient(to bottom right, rgba(208, 224, 255, 0.4), #fff, #fff, #fff);
  }
  .ip_use_item:hover {
    cursor: pointer;
  }
  .ip_use_item_choose {
    height: 129px;
    border-radius: 8px;
    border: 1px solid #fc7019 !important;
    background-image: linear-gradient(to bottom right, rgba(252, 112, 25, 0.4), #fff, #fff, #fff) !important;
    box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.1) !important;
  }
  .time_text_choose {
    color: #FC7019 !important;
  }
  .deal_box_choose {
    width: 120px;
    border-radius: 20px;
    background: #FFF4ED !important;
  }
  .deal_text_choose {
    color: #FC7019 !important;
  }

  .deal_box {
    width: 120px;
    border-radius: 20px;
    background: #E8F0FF;
  }
  .label_lay {
    width: 150px;
  }
  .narrow_box {
    width: 200px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(208, 224, 255, 0.4);
    background-image: linear-gradient(to right, rgba(208, 224, 255, 0.4), #fff, #fff, #fff);
  }
  .narrow_box_choose {
    width: 200px;
    height: 50px;
    border: 1px solid #fc7019 !important;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.1) !important;
    background-image: linear-gradient(to right, rgba(252, 112, 25, 0.4), #fff, #fff, #fff) !important;
  }
  .choose_area {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
  .create_api_url {
    width: 240px;
    height: 60px;
    border-radius: 4px;
    background: #1968FC;
    border: none;
    color: #fff;
  }
  .apiUrl_input_box {
    padding: 30px;
    border: 1px solid #E4E5EB;
    border-radius: 8px;
  }
  .apiUrl_input {
    border: none;
  }
  .apiUrl_input_box .copy {
    width: 120px !important;
    height: 40px !important;
    background: #1968FC;
    border: none;
    color: #fff;
    border-radius: 4px !important;
  }
  .apiUrl_input_box .open {
    width: 120px !important;
    height: 40px !important;
    background: #FC7019;
    border: none;
    color: #fff;
    border-radius: 4px !important;
  }
  .note_box {
    border: 1px solid #E4E5EB;
  }
  .note_desc {
    border-right: 1px solid #E4E5EB;
  }
  .note_desc li{
    width: 200px;
    border-bottom: 1px solid #E4E5EB;
  }
  .note_desc li:last-child {
    border: none;
  }
  .note_content li {
    width: 100%;
    border-bottom: 1px solid #E4E5EB;
  }
  .note_content li:last-child {
    border: none;
  }
  .top_li {
    height: 40px;
    background-color: rgba(208, 224, 255, 0.25);
    color: #4C5664;
    font-size: 16px;
    font-weight: bold;
  }
  .extract_return .box {
    grid-row-gap: 20px;
  }
  .extract_return .container {
    width: 100%;
    border-radius: 8px;
    background-color: rgba(208, 224, 255, 0.25);
  }
  .li_item_box {
    width: 378px;
    height: 44px;
    border-radius: 8px;
    background-color: rgba(208, 224, 255, 0.25);
  }
  .params_desc {
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 20px;
    justify-items: center;
  }
  .note_content .code {
    width: 810px;
    border-radius: 8px;
    background-color: rgba(208, 224, 255, 0.25);
    white-space: pre;
  }
  .top_title {
    width: 370px;
    height: 40px;
    border-radius: 8px;
    color: #fff;
    background: #1968FC;
  }
  .port {
    width: 600px;
  }
  .demo_box {
    grid-template-columns: repeat(auto-fit,231px);
    grid-gap: 20px 30px;
  }
  .demo_box_item {
    width: 231px;
    height: 148px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(208, 224, 255, 0.4);
  }
  .demo_box_item:hover{
    width: 231px;
    height: 148px;
    border: 2px solid #FC7019;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.1);
  }
  .demo_title {
    color: #333;
    font-size: 26px;
    font-weight: bold;
  }
  .demo_box_item:hover .demo_title {
    color: #FC7019;
    font-size: 26px;
    font-weight: bold;
  }
  .download {
    width: 135px;
    height: 40px;
    border: none;
    border-radius: 30px;
    color: #1968FC;
    background: #E8F0FF;
  }
  .demo_box_item:hover .download {
    width: 135px;
    height: 40px;
    border: none;
    border-radius: 30px;
    color: #fff;
    background: #FC7019;
  }

  /* 适配 */
  @media screen and (max-width: 414px) {

  }

  @media screen and (max-width: 575px) {

  } 

  @media screen and (max-width: 775px) {

  }

  @media screen and (max-width: 901px) {

  }  

  @media screen and (max-width: 1200px) {

  } 
</style>