.home-dialog-wrap{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.3);
  top: 0;
  left: 0;

  .home-dialog-l{
    width: 380px;
    height: 400px;
    margin: 0 auto;
    transform: translate(0, 24vh);

    // old act img
    background-image: url('/images/activity/june/homeCenterDialog-202205.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    cursor: pointer;
  }

  .home-dialog-f{
    width: 380px;
    height: 400px;
    margin: 0 auto;
    transform: translate(0, 24vh);
    // background-color: red;

    // new act img
    background-image: url('/images/activity/june/home/homeCenterDialog-202206.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    cursor: pointer;
  }


}

.left-dialog-wrap{
  position: fixed;
  top: 0;
  width: 10%;
  height: 9vw;
  transform: translate(3vh, 37vh);

  // old act img
  .left-dialog-l{
    width: 100%;
    height: 100%;

    background-image: url('/images/activity/june/homeLeftDialog-202205.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    cursor: pointer;

    animation: .5s cubic-bezier(0.5, 2.0, 0.4, 0.6) 0s 1 leftshow ;
  }


  // new act img
  .left-dialog-f{
    width: 100%;
    height: 100%;

    // background-color: red;
    background-image: url('/images/activity/june/home/homeLeftDialog-202206.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    cursor: pointer;

    animation: .5s cubic-bezier(0.5, 2.0, 0.4, 0.6) 0s 1 leftshow ;
  }
}




.close-center-dialog-btn{
  text-align: center;
  transform: translate(0, 25vh);
  
  .close-i{
    color: rgba($color: #ffffff, $alpha: 0.5);
    font-size: 26px;

    &:hover{
      font-size: 30px;
    }
  }
}

.close-left-dialog-btn{
  text-align: center;
  
  animation: .5s cubic-bezier(0.5, 2.0, 0.4, 0.6) 0s 1 leftshow ;
  .close-i{
    color: rgba($color: #000000, $alpha: 0.3);
    font-size: 26px;

    &:hover{
      font-size: 30px;
    }
  }
}


@media screen and (max-width: 750px) {
  .home-dialog-wrap,.left-dialog-wrap{
    display: none;
  }
}


@keyframes leftshow {
  from {
    transform: translateX(-110%);
  }

  to {
    transform: translateX(0);
  }
}