.home-dialog-wrap{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  .home-dialog-bg{
    width: inherit;
    height: inherit;
    background-color: rgba($color: #000000, $alpha: 0.3);

    .home-dialog{
      width: 380px;
      height: 400px;
      margin: 0 auto;
      transform: translate(0, 30vh);
      background-color: red;
    }
  }




  .close-dialog-btn{
    text-align: center;
    transform: translate(0, 31vh);
    button{
      display: inline-block;
      // margin: 0 auto;
    }
  }
}