@mixin animation-kernel {
  -webkit-animation: keyframe-kernel steps(1) forwards;
  animation: keyframe-kernel steps(1) forwards;
}
.business-wrap {
  grid-row-gap: 80px;
  width: 1400px;
  margin: 0 auto;
  // padding: 0px 270px;
}
.content {
  line-height: 1.4;
}
.common-slideInRight {
  height: 445px;
  object-fit: cover;
}
.businesstitle {
  font-size: 48px;
  font-weight: 800;
  color: #091d43;
}
.model_title {
  font-size: 36px;
  color: #091d43;
}
.top {
  grid-template-columns: 8fr 4fr;
  img {
    max-width: 703px;
    width: 100%;
    height: 444px;
  }
}
.top .left_text {
  grid-template-rows: 58px 93px 60px;
  grid-row-gap: 40px;
}
.top .right_img {
  width: 100%;
  height: 100%;
  background: url("/images/business/social_gathering.png") no-repeat;
  background-size: contain;
}
.free {
  width: 200px;
  height: 60px;
  font-size: 24px;
}
.connect {
  width: 200px;
  height: 60px;
  font-size: 24px;
  background: #fff;
}
.tab .common-row-title {
  font-size: 36px;
}
