.footer-wrap{
  // background-color: rgba(245, 247, 255, 0.39);
  background: linear-gradient(180deg, #FAFBFF 0%, #F3F6FF 100%);;
  .footer-main-content{
    padding: 60px 12% 5px;
    transition: all .3s;

    display: grid;
    grid-template-columns: 100px 4fr [ewmimg-start] minmax(145px, 0.6fr) [ewmimg-end ewmtext-start] minmax(145px, 1fr) [ewntext-end];
    gap: 30px 10px;

    .title{
      font-weight: 400;
      color: #091D43;
      font-size: 20px;
    }

    .cooperate-content{
      display: grid;
      grid-template-columns: minmax(160px, 180px) minmax(300px, 1fr);
    }

    .ewm{
      grid-row: 1 / 3;
      justify-self: center;
      align-self: center;
    }
    .ewm-img{
      grid-column: ewmimg;
    }
    .ewm-text{
      grid-column: ewmtext;
      justify-self: start;
      text-align: center;
      p:first-child{
        margin-bottom: 10px;
      }
    }

    .link-content{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, auto));
      grid-auto-rows: 38px;
      transition: inherit;

      div:hover{
        cursor: pointer;
        text-decoration: underline;
      }
    }

  }

  .footer-text-content{

    display: grid;
    grid-template-rows: repeat(3, 40px);
    justify-items: center;

    font-size: 14px;

    span{
      margin-right: 22px;
    }
  }
}
