.getip-wrap {
  width: 1400px;
  margin: 0 auto;
  grid-template-columns: minmax(210px, 320px) auto;
}
.left {
  // position: fixed;
  // height: 86%;
  padding-bottom: 20px;
  // overflow-y: auto;
  // overflow-x: unset;
}
.right {
  grid-row-gap: 40px;
}
.extract_ip_left {
  width: 210px;
  border: 2px solid #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(208, 224, 255, 0.4);
  background-image: linear-gradient(to bottom right, rgba(208, 224, 255, 0.4), #fff, #fff, #fff);
  grid-row-gap: 30px;
}
.code_demo_left {
  width: 210px;
  border: 2px solid #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(208, 224, 255, 0.4);
  background-image: linear-gradient(to bottom right, rgba(208, 224, 255, 0.4), #fff, #fff, #fff, #fff);
  grid-row-gap: 30px;
}
.title {
  color: #091D43;
  font-weight: bold;
}
.anchor {
  grid-row-gap: 20px;
  color: #4C5664;
  font-size: 15px;
}
.demo {
  grid-row-gap: 20px;
  color: #4C5664;
  font-size: 15px;
}
.getip-select-wrap{
  position: relative;
  &::after{
    position: absolute;
    width: 10px;
    height: 12px;
    right: 2%;
    top: 50%;
    content: '';
    border-top: 6px solid #909399;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: unset;

    transform-origin: 6px 3px;
    transform: translateY(-25%);
    transition: all .3s;
    // transform: rotate(180deg);
    pointer-events: none;
  }
}

.getip-select-wrap.is-active-s{
  &::after{
    transform: translateY(-25%) rotate(180deg);
    // transform: rotate(180deg);
  }
}


.extract_select {
  border-radius: 4px;
  width: 660px;
  color: #1968FC;
  &:focus{
    color: #1968FC;
  }
}

.count {
  padding-bottom: 30px;
  border-bottom: 1px solid #E4E5EB;
}
.count_box {   
  max-width: 800px;
  padding: 20px 30px;
  background: rgba(208, 224, 255, 0.3);
  border-radius: 8px;
}
.left_count {
  color: #4C5664;
  font-size: 20px;
}
.right_btn {
  border: none;
  width: 80px !important;
  height: 40px !important;
  color: #fff;
  // background: #FC7019;
  border-radius: 4px;
}
.meal_box {
  grid-template-columns: repeat(auto-fit,minmax(190px, auto));
  grid-gap: 20px 30px;
}
.meal_item {
  height: 144px;
  border-radius: 8px;
  background: rgba(208, 224, 255, 0.3);
}
.meal_item .desc {
  width: 140px;
  height: 40px;
  margin: 0 auto;
  border-radius: 20px;
  background: rgba(208, 224, 255, 0.6);
}
.extract_num .btn {
  width: 40px;
  background: #D8DCE6;
}
.extract_box, .white_box, .error_box {
  width: 100%;
  height: 40px;
}
.input-group{
  width: auto !important;
}
.extract_box .extract_num_input {
  width: 100px !important;
  border-left:"none";
  border-right:"none";
  color: #1968FC;
}
.extract_box .decrement,.increment {
  width: 40px;
  height: 38px;
  font-size: 18px;
  border: 1px solid #ced4da;
  background-color: #F5F7FA;
}
.decrement {
  border-radius: 4px 0px 0px 4px;
  border-right: none;
}
.increment {
  border-radius: 0px 4px 4px 0px;
  border-left: none;
}
.ip_use_box {
  grid-template-columns: repeat(auto-fit,202px);
  grid-gap: 20px 30px;
}
.ip_use_item {
  height: 129px;
  border-radius: 8px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 20px rgba(208, 224, 255, 0.4);
}
.ip_use_item:hover {
  cursor: pointer;
}
.ip_use_item_choose {
  height: 129px;
  border-radius: 8px;
  border: 1px solid #fc7019 !important;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.1);
}
.time_text_choose {
  color: #FC7019 !important;
}
.deal_box_choose {
  width: 120px;
  border-radius: 20px;
  background: #FFF4ED !important;
}
.deal_text_choose {
  color: #FC7019 !important;
}

.deal_box {
  width: 120px;
  border-radius: 20px;
  background: #E8F0FF;
}
.label_lay_s {
  width: 140px;
}
.label_lay {
  width: 120px;
}
.narrow_box {
  width: 200px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(208, 224, 255, 0.4);
  button{
    font-size: 16px;
  }
}
.narrow_box_choose {
  width: 200px;
  height: 50px;
  border: 1px solid #fc7019 !important;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.1) !important;
}
.choose_area {
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
}
.create_api_url, .create_api_url1 {
  width: 240px !important;
  height: 60px !important;
  border-radius: 4px;
  background: #1968FC;
  border: none;
  color: #fff;
}
.find-api{
  color: #677294;
  &:hover{
    color: inherit
  }
}
.apiUrl_input_box {
  padding: 24px 30px 24px 18px;
  border: 1px solid #E4E5EB;
  border-radius: 8px;
  input:read-only{
    background-color: transparent;
  }
}
.apiUrl_input {
  border: none !important;
}
.apiUrl_input_box .copy {
  width: 120px !important;
  height: 40px !important;
  background: #1968FC;
  border: none;
  color: #fff;
  border-radius: 4px !important;
}
.apiUrl_input_box .open {
  width: 120px !important;
  height: 40px !important;
  background: #FC7019;
  border: none;
  color: #fff;
  border-radius: 4px !important;
}
.note_box {
  display: grid;
  grid-template-columns: minmax(max-content, 180px) minmax(max-content, 870px);
  width: fit-content;
  box-sizing: border-box;
  border: 1px solid #E4E5EB;
}
.note_desc {
  border-right: 1px solid #E4E5EB;
}
.note_desc li{
  max-width: 200px;
  border-bottom: 1px solid #E4E5EB;
}
.note_desc li:last-child {
  border: none;
}
.note_content{
  width: 100%;
}
.note_content li {
  width: 100%;
  border-bottom: 1px solid #E4E5EB;
}
.note_content li:last-child {
  border: none;
}
.top_li {
  height: 40px;
  background-color: rgba(208, 224, 255, 0.25);
  color: #4C5664;
  font-size: 16px;
  font-weight: bold;
}
.extract_return .box {
  grid-row-gap: 20px;
}
.extract_return .container {
  width: 100%;
  border-radius: 8px;
  background-color: rgba(208, 224, 255, 0.25);
}
.li_item_box {
  width: 100%;
  max-width: 380px;
  height: 44px;
  border-radius: 8px;
  background-color: rgba(208, 224, 255, 0.25);
  margin: 0 auto;
  font-size: 14px;
}
.params_desc {
  grid-template-columns: repeat(2,1fr);
  grid-row-gap: 20px;
  padding: 0px 20px;
}
.note_content .code {
  padding: 12px 0;
  width: 810px;
  border-radius: 8px;
  background-color: rgba(208, 224, 255, 0.25);

  p{
    font-size: 14px;

    span{
      margin-bottom: 12px;
    }
  }
}
.return_right{
  font-size: 14px;
  &>div{
    width: fit-content;
    margin: 0 auto;
    span{
      margin-bottom: 12px;
    }
  }
}
.top_title {
  width: 370px;
  height: 40px;
  border-radius: 8px;
  color: #fff;
  background: #1968FC;
}
.port {
  width: 900px;
}
.demo_box {
  grid-template-columns: repeat(auto-fit,231px);
  grid-gap: 20px 50px;
}
.demo_box_item {
  width: 231px;
  height: 148px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(208, 224, 255, 0.4);
  .download {
    width: 135px;
    height: 40px;
    border: none;
    border-radius: 30px;
    color: #1968FC !important;
    background: #E8F0FF;
  }
}
.demo_box_item:hover{
  width: 231px;
  height: 148px;
  border: 2px solid #FC7019;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.1);
  .download{
    color: white !important;
  }
}
.demo_title {
  color: #333;
  font-size: 26px;
  font-weight: bold;
}
.demo_box_item:hover .demo_title {
  color: #FC7019;
  font-size: 26px;
  font-weight: bold;
}
.demo_box_item:hover .download {
  width: 135px;
  height: 40px;
  border: none;
  border-radius: 30px;
  color: #fff;
  background: #FC7019;
}

.white_li_box{
  width: 96%;
  height: 44px;
  border-radius: 8px;
  background-color: rgba(208, 224, 255, 0.25);
  margin: 0 auto;
  font-size: 14px;
}

/* 适配 */
@media screen and (max-width: 414px) {

}

@media screen and (max-width: 575px) {

} 

@media screen and (max-width: 775px) {

}

@media screen and (max-width: 901px) {

}  

@media screen and (max-width: 1200px) {

} 



button{
  width: 100%;
  height: 100%;
  border: none;
  background-color: unset;
}


.indent{
  text-indent: 1em;
}
.indent2{
  text-indent: 2em;
}
.indent3{
  text-indent: 3em;
}
.inline-block{
  display: inline-block;
}

/* 未完成 */
.form-check-inp{
  position: relative;
  height: 16px;
  width: 16px;
  margin-right: 10px;
  margin-top: 1px;
  font-size: 14px;
}
.form-check-inp:checked{
  background: #FCDE11;
        border: 2px solid #FCDE11;
}
