.banner {
  width: 100%;
  height: 300px;
  background: url("/images/helpCenter/banner.png") no-repeat;
  background-size: 100% 100%;
  margin-top: 80px;
}
.container {
  margin-top: 80px;
  grid-template-columns: 1fr;
}
.nav {
  width: 900px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(208, 224, 255, 0.4);
  background: rgba(255, 255, 255, 0.39);
}
.nav-item {
  width: 300px;
  height: 80px;
}
.nav-link {
  height: 40px;
  color: #4c5664;
  font-size: 18px;
  border-right: 1px solid #e4e5eb;
}
.nav-item .active {
  height: 93px !important;
  font-weight: bold;
  position: relative;
}
.nav .nav-item:last-child a {
  border: none;
}
.tab-pane .content {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px 60px;
  justify-items: center;
}
.blog_item {
  width: 670px;
  height: 160px;
  background: rgba(255, 255, 255, 0.39);
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(208, 224, 255, 0.4);
  padding: 30px;
  display: grid;
  grid-template-columns: 80px 1fr;
  .left {
    border-radius: 8px;
    height: 100px;
    border: 1px solid #3e6ae2;
    padding: 5px;
    .top {
      font-size: 32px;
      font-weight: bold;
      position: relative;
      left: 5px;
    }
  }

  .bottom {
    .line {
      width: 80%;
      height: 0;
      border-top: 1px solid #1968fc;
      transform: rotateZ(-50deg);
      position: relative;
      left: 10%;
    }
    .month-box {
      position: relative;
      right: 15px;
    }
  }

  .right {
    grid-row-gap: 20px;
    align-self: flex-start;
    .right_top {
      display: grid;
      grid-template-columns: 4fr 1fr;
      justify-items: flex-start;
      align-content: flex-start;
      .articlt-title {
        display: block;
        width: 92%;
      }
    }
    .desc {
      width: 500px;
    }
  }
}

.go_detail {
  font-size: 16px;
  color: #1968fc;
}
.page-active,
.page-active a {
  background-color: #1968fc !important;
  color: white !important;
  box-sizing: content-box;
  outline: none;
  border: none;
}
.goto_input {
  width: 60px;
  height: 28px;
  border: 1px solid #dcdfe6;
  color: #666;
  border-radius: 3px;
}
.goto input:focus {
  outline: none;
}
.page-link {
  border: none;
}
.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: none;
}
.nav-item .active::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #007bff;
  transform: translate(0px, 50px);
}

.article-detail {
  display: block;
}

// 关键词聚合页
.tab-nav {
  max-width: 350px;
  .b_box {
    padding: 40px;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(208, 224, 255, 0.4);
    background-image: linear-gradient(to bottom right, rgba(208, 224, 255, 0.4), #fff, #fff, #fff, #fff);
  }
}
.look_more {
  color: #1968fc;
  font-size: 14px;
}
.icon-biaoqian {
  color: #3e6ae2;
}
.a_tag {
  padding: 10px 25px;
  height: 36px;
  color: #3e6ae2;
  background: rgba(255, 255, 255, 0.39);
  box-shadow: 0px 0px 3px #3e6ae2;
  border-radius: 4px;
}
