@font-face {
  font-family: "iconfont"; /* Project id 3387842 */
  src: url('//at.alicdn.com/t/font_3387842_6ekr9klr4z6.woff2?t=1652412006851') format('woff2'),
       url('//at.alicdn.com/t/font_3387842_6ekr9klr4z6.woff?t=1652412006851') format('woff'),
       url('//at.alicdn.com/t/font_3387842_6ekr9klr4z6.ttf?t=1652412006851') format('truetype'),
       url('//at.alicdn.com/t/font_3387842_6ekr9klr4z6.svg?t=1652412006851#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xianxing-shangla:before {
  content: "\e687";
}

.icon-bianji:before {
  content: "\e677";
}

.icon-mianxing-shangla:before {
  content: "\e678";
}

.icon-rili:before {
  content: "\e679";
}

.icon-chakanquanbu:before {
  content: "\e67a";
}

.icon-mianxing-wenhao:before {
  content: "\e67b";
}

.icon-guanbi:before {
  content: "\e67c";
}

.icon-xianxing-xiala:before {
  content: "\e67d";
}

.icon-tupian:before {
  content: "\e67e";
}

.icon-mianxing-xiala:before {
  content: "\e67f";
}

.icon-biaoqian:before {
  content: "\e680";
}

.icon-yuetaocan-zhuangshi2:before {
  content: "\e681";
}

.icon-xianxing-wenhao:before {
  content: "\e682";
}

.icon-weixin:before {
  content: "\e683";
}

.icon-title-zhuangshi:before {
  content: "\e684";
}

.icon-zhifubao:before {
  content: "\e685";
}

.icon-yuetaocan-zhuangshi1:before {
  content: "\e686";
}
