@font-face {
  font-family: "iconfont"; /* Project id 2134217 */
  src: url('//at.alicdn.com/t/font_2134217_vpfrpi5aw6d.woff2?t=1652261712145') format('woff2'),
       url('//at.alicdn.com/t/font_2134217_vpfrpi5aw6d.woff?t=1652261712145') format('woff'),
       url('//at.alicdn.com/t/font_2134217_vpfrpi5aw6d.ttf?t=1652261712145') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e6dc";
}

.icon-arrow-up:before {
  content: "\e743";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-warning:before {
  content: "\e61c";
}

.icon-nodata:before {
  content: "\e729";
}

.icon-Navigation:before {
  content: "\e6ab";
}
