// 定制顶部导航
.header {
  background-color: transparent !important;
}

.login {
  width: 1920px;
  height: 800px;
  background-image: linear-gradient(170deg, #e2eafd, #fefeff 85%);

  .login-page {
    padding-top: 170px;
    border: 1px solid red;
    width: 1500px;
    margin: 0 auto;
    .login-banager {
      width: 640px;
      height: 515px;
      background: url("/images/login/banager.png") no-repeat;
      background-size: 100% 100%;
      border: 1px solid red;
    }

    .login-box {
      width: 500px;
      height: 365px;
      background-color: #ffffff;
      box-shadow: -1px 7px 38px rgba(95, 111, 178, 0.18);
      border-radius: 8px;
      margin-right: 150px;
    }
  }
}
