// 定制顶部导航

.login {
  width: 100%;
  background-image: linear-gradient(170deg, #e2eafd, #fefeff 85%);

  input:focus {
    outline: 1px solid #1968fc;
  }
  .header {
    background-color: transparent;
  }
  .login-page {
    padding: 170px 0 80px;
    width: 66%;
    margin: 0 auto;
    .login-banager {
      width: 640px;
      height: 543px;
      background: url("/images/login/banager.png") no-repeat;
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .bg {
        width: 330px;
        height: 40px;
        background-image: url("/images/login/bg.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }

    .login-box {
      width: 500px;
      min-height: 365px;
      background-color: #ffffff;
      box-shadow: -1px 7px 38px rgba(95, 111, 178, 0.18);
      border-radius: 8px;
      h3 {
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        color: #333333;
        text-shadow: -7.347880586115415e-16px 12px 84px rgba(107, 176, 226, 0.23);
      }
      .form-input > input:first-of-type {
        width: 400px;
        height: 44px;
        border: 1px solid #e4e5eb;
        // box-shadow: 0px 12px 84px rgba(107, 176, 226, 0.23);
        border-radius: 4px;
        padding-left: 25px;
      }

      .login-other {
        max-width: 400px;
      }

      .btn-outline-code {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 44px;
        box-shadow: 0px 0px 20px rgba(208, 224, 255, 0.3);
        border-radius: 4px;
        color: #fc7019;
        text-shadow: -7.347880586115415e-16px 12px 84px rgba(107, 176, 226, 0.23);
      }
      .btn-group-vertical {
        bottom: 1px;
        color: #677294;
      }

      .user-login {
        width: 80%;
        margin: 0 auto;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .form-checkout-agree {
      width: 80%;
      margin: 0 auto;
      a {
        color: #1968fc;
      }
    }
  }
}

.login-danger {
  color: red;
  font-size: 12px;
  display: none;
}
