
.lrr-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .card-bg {
    position: absolute;
    width: 50%;
    height: 46%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    background-color: gold;
  }

  .lrr-card {
    position: absolute;
    width: 400px;
    height: 500px;
    transition: transform .25s;
  }

  #login-card {
    background-color: skyblue;
  }
  #register-card {
    background-color: pink;
  }
  #reset-card {
    background-color: plum;
  }
  
  .is-unactive-1 {
    top: 50%;
    left: 50%;
    transform: translate(-100%, -55%) scale(0.93);
  }

  .is-unactive-2 {
    top: 50%;
    left: 50%;
    transform: translate(-12%, -55%) scale(0.93);
  }

  .is-active {
    top: 50%;
    left: 50%;
    transform: translate(-60%, -55%) scale(1.1);
    z-index: 10;
  }
}