@media screen and (max-width: 1200px) {
  //帮助中心
  .help-center {
  }
  .right-dot {
    display: none;
  }
  .rightToolbar.mediaStyle {
    top: 150px;
  }

  .footer-wrap {
    .footer-main-content.mediaStyle {
      // padding-top: 40px;
      // padding-bottom: 10px;
      padding: 40px 0 10px;
      width: 95%;
      margin: 0 auto;
      grid-auto-rows: unset;
      row-gap: 5px;
      grid-template-columns: 120px 3fr [ewmimg-start] 100px [ewmimg-end ewmtext-start] minmax(145px, 0.8fr) [ewntext-end];

      .cooperate-content {
        grid-template-columns: minmax(290px, 1fr);
        grid-auto-rows: 30px;
        align-self: stretch;
      }

      .link-content {
        margin-top: 5px;
        align-items: center;
        grid-column: 2 / span 3;
      }

      .ewm {
        grid-row: 1 / 2;
      }
    }
  }

  //业务场景
  .business-wrap {
    width: 90%;
    padding: 10px;
  }
}

@media screen and (max-width: 900px) {
  .rightToolbar.mediaStyle {
    display: none;
  }
  // 套餐购买
  .packageBuy {
    .changeTab.mediaStyle {
      width: 50% !important;
      min-width: 400px;
    }
  }
}

@media screen and (max-width: 775px) {
  //首页
  div.home {
    padding-bottom: 60px;
    .mt-140 {
      margin-top: 80px !important;
    }
    .mt-80 {
      margin-top: 50px !important;
    }
    .homeContent {
      img {
        width: 100% !important;
        height: auto !important;
      }

      .banner-right {
        padding: 0 12px;
        .homeBackg {
          display: none;
        }
      }

      .secondRow {
        li {
          width: auto;
          min-width: unset;
        }
      }
      .threeRow {
        ul {
          justify-content: center;
          li {
            width: auto;
          }
        }
      }
      .eightRow {
        .egihtWidth {
          justify-content: center;
          .desc {
            margin: 10px 0;
          }
        }
      }
      .nineRow {
        margin-top: 80px !important;
        ul {
          justify-content: center;
        }
      }
    }

    .mt-140 {
      // margin-top: 80px !important;
    }
  }

  div.common-main-button {
    width: 80%;
    margin-left: 10% !important;
    padding: 0;
    margin: 0 auto;
  }

  // 登录/注册
  div.login {
    .login-page {
      width: 80%;
      .login-banager {
        display: none;
      }

      .login-box {
        margin: 0 auto;
      }
    }
  }

  // 套餐购买
  .packageBuy {
    .changeTab.mediaStyle {
      width: 50% !important;
      min-width: 400px;
    }
    .modal-content {
      width: auto !important;
    }
  }
  //帮助中心
  div.help-center {
    margin-top: 30px;
    .nav {
      width: 700px;
      margin: 0 auto;
      .nav-item {
        width: auto;
        height: auto;
        .active {
          height: 60px;
        }
      }
    }

    .tab-pane {
      .content {
        grid-template-columns: repeat(1, 1fr);
        justify-items: unset;
      }
    }
  }
  div.helper-banner {
    margin-top: 80px;
    max-width: 100%;
    height: 120px;
    background: url(/images/helpCenter/banner-mobile.png) no-repeat;
    background-size: 100% 100%;
  }
  // 帮助中心详情页
  .helper-details {
    margin-top: 100px !important;
    .box {
      display: unset;
    }

    div.a_right {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      max-width: none;

      .related_blogs {
        margin-top: 0 !important;
      }
    }
  }

  //关键词聚合页
  .tags {
    max-width: none;
    margin-bottom: 0px !important;
    .tab-content {
      display: unset;
      .content {
        margin-top: 30px;
      }
      .tab-nav {
        max-width: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-content: center;
      }
    }
  }

  //企业服务
  div.firm-wrap {
    width: auto;
    .require {
      display: inline;
    }
    .form {
      max-width: 550px;
      margin: 0 auto;
    }
    .input-wrap {
      max-width: 500px;
      margin-top: 10px;
    }
    .form-group {
      margin-bottom: 0;
      margin-top: 10px;
    }
    .label-key {
      justify-content: flex-start !important;
    }
    .bottom_btn {
      margin-top: 30px;
    }
  }

  //业务场景
  .business-scene {
    .widthAll {
      margin-top: 100px !important;
    }
    .top {
      img {
        height: auto;
      }
    }
    div.business-wrap {
      width: auto;
      .left_text {
        grid-template-columns: minmax(min-content, 0.8fr);
        grid-template-rows: repeat(3, auto);
      }
    }

    #kernelBox {
      justify-content: flex-start;
    }
    .content-bg {
      display: flex;
      justify-content: center;
      .advance-left {
        float: none !important;
        img {
          height: auto !important;
        }
      }
      .advance-right {
        float: none !important;
        margin-left: 0 !important;
      }
    }

    div.business-wrap.top {
      display: flex;
      flex-wrap: wrap-reverse;
    }
    div.firm-banner {
      margin-top: 80px;
      max-width: 100%;
      height: 120px;
      background: url(/images/companyServe/banner-mobile.png) no-repeat;
      background-size: 100% 100%;
    }
  }

  div.homeContent .fourthRow .content ul {
    border-bottom: 1px solid #d0e0ff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  //提取ip
  div.getip-wrap {
    display: block;
    grid-template-columns: unset;
    padding: 0 20px;
    .left-wrap {
      display: none;
    }

    .params_desc {
      grid-template-columns: 1fr;
      padding: 0;
    }

    .narrow_box {
      margin-top: 40px;
    }

    .choose_area {
      display: block;
      .isProvince {
        margin-top: 40px;
      }
    }

    .ip_use_box {
      justify-content: center !important;
    }

    .count_box {
      width: auto;
      max-width: none;
      .btn {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        // :last-child {
        //   margin-top: 5px;
        // }
      }
    }

    .getip-select-wrap {
      margin: 0 auto;
      width: 90%;
      &::after {
        transform: translateY(150%);
      }

      ul {
        width: 100%;
      }
    }
    .getip-select-wrap.is-active-s {
      &::after {
        transform: translateY(150%) rotate(180deg);
        // transform: rotate(180deg);
      }
    }

    .extract_select {
      margin-top: 40px;
      width: 100% !important;
    }

    .meal_box {
      grid-template-columns: repeat(2, 40%);
      justify-content: center;
    }

    .choose_area_box {
      display: block;
    }

    .data_format_box {
      display: block;
    }

    .note_box {
      grid-template-columns: 70px auto;
      .white_box,
      .error_box,
      .extract_box {
        li {
          padding: 5px;
        }
      }
      width: 100%;
    }
    .note_content {
      li {
        padding: 5px;
      }
    }

    .extract_return {
      width: 90vw;
    }

    .code {
      width: 90%;
      padding-left: 5px;
      padding-right: 5px;
    }

    .demo_box {
      display: flex;
      flex-wrap: wrap;
    }
  }

  // 顶部导航
  .header {
    .buy-header {
      display: block;
    }

    .buy-header-d,
    .buy-header-i {
      display: none;
    }

    .fold.show {
      .nav-list {
        .mixed-range {
          grid-template-columns: 1fr;
          grid-column-gap: 20px; // 列间距50px
          grid-row-gap: 10px; // 行间距30px
          .child-item {
            .meal-icon {
              transform: scale(0.6);
            }
            .content {
              display: inline-flex;
              align-items: center;
            }
            .describe {
              display: none;
            }
          }
        }
        .nav-item {
          height: 50px !important;
          line-height: 50px;
          &.nav-business {
            .child-list {
              transform: translate(-100%, -50%);
              .child-link {
                display: flex;
                align-items: center;
                justify-content: center;
                max-height: 60px;
                min-height: 30px;
                .child-item {
                  display: flex;
                  align-items: center;
                  max-height: 60px;
                }
                // 第一个到第二个
                &:nth-child(-n + 2) {
                  margin-top: 0;
                }

                // 最后两个
                &:nth-last-child(-n + 2) {
                  margin-bottom: 0;
                }

                // 偶数
                &:nth-child(2n) {
                  margin-right: 0;
                }

                // 奇数
                &:nth-child(2n - 1) {
                  margin-left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  // .header .fold.show .nav-item:hover.nav-business .child-list .child-link{
  //   margin: 10px;
  // }

  // 公共底部
  .footer-wrap {
    .footer-main-content.mediaStyle {
      padding: 40px 0% 10px;

      grid-template-columns: 100px 4fr;
      grid-auto-flow: dense;
      grid-auto-rows: unset;
      column-gap: 10px;
      row-gap: 20px;

      .cooperate-content {
        grid-template-columns: minmax(250px, 1fr);
        // grid-column: 2 / span 2;
        grid-auto-rows: 30px;
        align-self: center;
      }

      .link-content {
        margin-top: 10px;
        align-items: center;
        grid-column: unset;
      }

      .ewm {
        grid-column: unset;
        grid-row: unset;
        justify-self: start;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  //帮助中心
  div.help-center {
    margin-top: 40px;
    .nav {
      width: 500px;
      .nav-item {
        .active {
          height: 50px;
        }
      }
    }

    div.tab-content {
      margin-top: 40px !important;
      min-width: 500px;
      .tab-pane {
        .content {
          .blog_item {
            width: 100%;
            .right {
              .go_detail {
                span {
                  display: none;
                }
              }
              .desc {
                width: auto;
              }
            }
          }
        }
      }
    }
  }

  // 帮助中心详情页
  .helper-details {
    div.a_right {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  //关键词聚合页
  .tags {
    max-width: none;
    margin-bottom: 0px !important;
    margin-top: 40px !important;
    .blog_item {
      width: auto;

      .right {
        .desc {
          width: auto;
        }
        .go_detail span {
          display: none;
        }
      }
    }

    .tab-content {
      display: unset;
      .content {
        margin-top: 30px;
      }
      .tab-nav {
        grid-template-columns: 1fr;
        gap: 20px;
        justify-content: center;
      }
    }
  }

  //企业服务
  div.firm-wrap {
    form.form {
      max-width: 500px;
      margin: 0 auto;
    }
    .input-wrap {
      max-width: 410px;
    }
  }

  //业务场景
  .business-scene {
    .mt-80 {
      margin-top: 40px !important;
    }
    .advance-right {
      height: 200px !important;
    }

    .fiveRow {
      margin-top: 80px !important;
    }
    .module_img {
      width: 100% !important;
      height: auto !important;
    }
  }

  //提取ip
  div.getip-wrap {
    .top_title {
      width: 70%;
    }

    .ip_use_box {
      grid-template-columns: 150px 150px;
    }

    .separator {
      width: 100%;
    }

    .meal_item .desc {
      width: 100%;
    }

    .narrow_box {
      width: 38%;
      margin-right: 20px !important;
    }

    .operator_box_wrap,
    .ip_box {
      display: block;
    }

    .copy,
    .open {
      width: 80px !important;
    }

    .create_api_url,
    .create_api_url1 {
      width: 160px !important;
      height: 50px !important;
    }

    .demo_box {
      column-gap: 20px;
    }
    .demo_box_item {
      padding: 5px;
      width: 45%;
      height: 140px;
    }

    .count_box {
      .btn {
        :last-child {
          margin-top: 5px;
        }
      }
    }
  }

  //套餐购买
  div.packageBuy {
    .package-content {
      .tabContent {
        .payType-content {
          justify-content: space-between;
          ul {
            li {
              width: 130px;
            }
          }
          .payType-title {
            min-width: 150px;
          }
        }
        .amount-list {
          justify-content: center !important;
          margin-right: 0 !important;
          .amount-item {
            width: 90% !important;
            margin: 0 auto !important;
            margin-top: 30px !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .header .logo .logo-title {
    padding-right: 10px;
  }
  .header .user .button {
    width: 60px;
    height: 36px;
    line-height: 34px;
    font-size: 14px;
  }

  //业务场景
  .business-scene {
    .bottom_btn {
      button {
        width: 120px;
        font-size: 18px;
      }
    }
  }

  // 登录/注册
  div.login {
    font-size: 14px;
    .login-page {
      padding: 100px 0 60px;
      width: 95%;
      .login-box {
        margin: 0 auto;
        .form-input > input:first-of-type {
          width: 90%;
        }
        .login-other {
          width: 90%;
          #obn-code {
            margin-left: 10px !important;
            font-size: 14px;
          }
        }
      }
    }
  }

  //帮助中心
  div.help-center {
    .nav {
      width: 370px;
    }

    div.tab-content {
      min-width: 370px;
    }
  }
}

@media screen and (max-width: 414px) {
  //帮助中心
  div.help-center {
    .nav {
      width: 370px;
      .nav-item {
        a {
          font-size: 16px;
          white-space: nowrap;
        }
      }
    }
    .blog_item {
      .right {
        .desc {
          margin-top: 10px !important;
        }
      }
    }
  }

  //企业服务
  div.firm-wrap {
    form.form {
      max-width: 370px;
      margin: 0 auto;
    }
    .input-wrap {
      max-width: 370px;
    }
  }
}

@media screen and (max-width: 375px) {
  //帮助中心
  div.help-center {
    .nav {
      width: 300px;
    }

    div.tab-content {
      min-width: 300px;
    }
  }
}
