.home {
  width: 1200px;
  height: 1200px;
  border: 1px solid red;
  margin: 0 auto;
}
//右侧导航栏
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .rightToolbar.mediaStyle {
    top: 150px;
  }
}
@media screen and (max-width: 900px) {
  .rightToolbar.mediaStyle {
    display: none;
  }
}


@media screen and (min-width: 901px) and (max-width: 1200px){
  .footer-wrap{
    .footer-main-content.mediaStyle{
      padding-top: 40px;
      padding-bottom: 10px;
      row-gap: 0px;

      .cooperate-content{
        grid-template-columns: minmax(290px, 1fr);
        grid-auto-rows: 30px;
        align-self: center;
      }
    
      .title{
        align-self: center;
      }
    
      .link-content{
        margin-top: 5px;
        align-items: center;
        grid-column: 2 / span 3;
      }
    
      .ewm{
        grid-row: 1 / 2;
      }
    }
  }
}
