@media screen and (max-width: 1200px) {
  //帮助中心
  .help-center {
  }

  .rightToolbar.mediaStyle {
    top: 150px;
  }

  .footer-wrap {
    .footer-main-content.mediaStyle {
      // padding-top: 40px;
      // padding-bottom: 10px;
      padding: 40px 0 10px;
      width: 95%;
      margin: 0 auto;
      grid-auto-rows: unset;
      row-gap: 5px;

      .cooperate-content {
        grid-template-columns: minmax(290px, 1fr);
        grid-auto-rows: 30px;
        align-self: stretch;
      }

      .link-content {
        margin-top: 5px;
        align-items: center;
        grid-column: 2 / span 3;
      }

      .ewm {
        grid-row: 1 / 2;
      }
    }
  }

  //业务场景
  .business-wrap {
    width: 90%;
    padding: 10px;
  }
}

@media screen and (max-width: 900px) {
  .rightToolbar.mediaStyle {
    display: none;
  }
  // 套餐购买
  .packageBuy {
    .changeTab.mediaStyle {
      width: 50% !important;
      min-width: 400px;
    }
  }
}

@media screen and (max-width: 775px) {
  //帮助中心
  .help-center {
    .nav {
      width: 700px;
      margin: 0 auto;
      .nav-item {
        width: auto;
        height: auto;
        .active {
          height: 60px;
        }
      }
    }

    .tab-pane {
      .content {
        grid-template-columns: repeat(1, 1fr);
        justify-items: unset;
      }
    }
  }

  // 帮助中心详情页
  .helper-details {
    margin-top: 100px !important;
    .box {
      display: unset;
    }

    div.a_right {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      max-width: none;

      .related_blogs {
        margin-top: 0 !important;
      }
    }
  }

  .getip-wrap {
    width: 90%;
    grid-template-columns: unset;
    .left-wrap {
      display: none;
    }

    .params_desc {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 575px) {
  //帮助中心
  div.help-center {
    margin-top: 40px;
    .nav {
      width: 500px;
      .nav-item {
        .active {
          height: 50px;
        }
      }
    }

    div.tab-content {
      margin-top: 40px !important;
      .tab-pane {
        .content {
          .blog_item {
            width: 100%;
            .right {
              .desc {
                width: auto;
              }
            }
          }
        }
      }
    }
  }

  // 帮助中心详情页
  .helper-details {
    div.a_right {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .footer-wrap {
    .footer-main-content.mediaStyle {
      padding: 40px 0% 10px;

      grid-template-columns: 100px 4fr;
      grid-auto-flow: dense;
      grid-auto-rows: unset;
      column-gap: 10px;
      row-gap: 20px;

      .cooperate-content {
        grid-template-columns: minmax(290px, 1fr);
        // grid-column: 2 / span 2;
        grid-auto-rows: 30px;
        align-self: center;
      }

      .link-content {
        margin-top: 10px;
        align-items: center;
        grid-column: unset;
      }

      .ewm {
        grid-column: unset;
        grid-row: unset;
        justify-self: start;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  //帮助中心
  div.help-center {
    .nav {
      width: 370px;
      .nav-item {
        a {
          font-size: 16px;
          white-space: nowrap;
        }
      }
    }
    .blog_item {
      .right {
        .go_detail {
          span {
            display: none;
          }
        }
        .desc {
          margin-top: 10px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 375px) {
  //帮助中心
  div.help-center {
    .nav {
      width: 350px;
    }
  }
}
