body{
    margin: 0;
    padding: 0;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}
.full{
    width: 100%;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.mobile-container{
    width: 100%;
    max-width: 1430px;
    margin: auto;
    min-height: 6.05rem;
    background: linear-gradient(90deg, #4B4DBE 0%, #2671CE 100%);
    align-items: flex-start;

    .nav-bar{
        width: 100%;
        max-width:1430px;
        padding: 0 0.16rem;
        box-sizing: border-box;
        height: 0.4rem;
        background: #fff;
        position: fixed;
        top: 0;
        z-index: 999;
        overflow: hidden;
        justify-content: flex-start;
        flex-wrap: nowrap;
        box-shadow: 3px 2px 9px 0px rgba(1, 51, 140, 0.2);
        
        img {
            height: 60%;
            vertical-align: middle;
            border: none;
        }
    }

    .banner{
        position: relative;
        width: 100%;
        margin-top: 0.4rem;
        height: 2.33rem;

        .banner-img{
            margin-top: -0.4rem;
            width: 100%;
        }
    }

    .banner-cont{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0.52rem 0.14rem 0.47rem 0.16rem;
        flex-flow: column;
        justify-content: space-between;
        box-sizing: border-box;
        font-family: 'Microsoft YaHei';
        color: #FFFFFF;
        font-weight: 400;
        .cont-font1{
            font-size: 0.23rem;
        }
        .cont-font2{
            padding: 0 0.1rem;
            height: 0.3rem;
            border: 1px solid rgba(255,255,255, .74);
            border-radius: 0.15rem;
            font-size: 0.12rem;
            line-height: 0.3rem;
            text-align: center;
        }
    }
    
    // 注册表单
    .mobile-register{
        max-width: 3.61rem;
        text-align: center;
        border-radius: 0.05rem;
        position: relative;

        .reg-img{
            width: 100%;
        }
    }
    /*注册表单*/
    .mobile-regForm{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0.22rem 0.15rem 0.2rem 0.15rem;
        justify-content: flex-end;
        box-sizing: border-box;

        .reg-discounted{
            width: 100%;
            min-width: 1.57rem;
            text-align:justify;
            text-justify:distribute-all-lines;
            text-align-last:justify;
            position: relative;

            .discount-cont{
                font-size: 0.16rem;
                font-weight: bold;
                color: #3F3F3F;
            }
            .get-ip-num{
                letter-spacing:0.02rem;
                font-size: 0.18rem;
                color: #FF4800;
            }
        }

        .hover-title{
            position: relative;
            padding: 0.03rem 0.08rem 0.03rem 0.13rem;
            box-sizing: border-box;
            background: #FF8400;
            border-radius: 0.02rem;
            color: #fff;
            font-size: 0.1rem;
            font-weight: 400;
            margin-bottom: 0.08rem;
            &::after {
                content: "";
                width: 0;
                height:0;
                border-left: 0.05rem solid transparent;
                border-right: 0.05rem solid transparent;
                border-top: 0.08rem solid #FF8400;
                position: absolute;
                left: 40%;
                top: 100%;
            }
        }

        .form {
            width: 100%;
            margin-top: 0.18rem;
        }
        .form-group {
            width: 100%;
            margin-bottom: 0.1rem;
        }
        .form-control {
            height: 0.4rem;
            padding: 0.0375rem 0.2rem;
            font-size: 0.12rem;
            font-weight: 400;
            color: #495057;
            background: #F5F5F5;
            border: 1px solid #D8D8D8;
            border-radius: 0.2rem;
        }
        .form-code{
            justify-content: space-between;
            .code-child{
                flex: 0 0 52.5%;
            }
            .get_code{
                flex: 0 0 42.5%;
                height: 0.4rem;
                background: #0067FF;
                border-radius: 0.2rem;
                color: #fff;
                font-size: 0.12rem;
                font-family: 'Adobe Heiti Std';
                padding: 0.0375rem 0.075rem;
            }
            .code-msg{
                display: flex;
                flex: 0 0 100%;
            }
        }
        .reg_form_btn{
            display: block;
            width: 100%;
            height: 0.4rem;
            background: #FF8400;
            padding: 0.0375rem 0.075rem;
            box-sizing: border-box;
            box-shadow: 0px 1px 0.03rem 0px rgba(233, 121, 0, 0.6);
            border-radius: 0.2rem;
            font-size: 0.14rem;
            color: #FFFFFF;
            &:hover{
                background: #e77c08;
            }
        }
    }
    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.02rem rgba(0,123,255,.25);
        background-color: white;
    }
    
    .btn:focus {
        outline: 0;
        -webkit-appearance: none;
        box-shadow: 0 0 0 0.02rem rgba(0,123,255,.25);
    }
    
    button, input {
        outline: 0;
        -webkit-appearance: none;
        box-shadow: unset !important;
    }

    // 天启优势
    .understand{
        width: 100%;
        max-width: 3.61rem;
        height: 3.72rem;
        margin-top: 0.19rem;
        margin-bottom: 0.2rem;
        padding: 0.2rem 0.22rem;
        background: #fff;
        align-items: start;
        box-sizing: border-box;
        border-radius: 0.05rem;
    }

    .cont-introduce{
        width: 100%;
        height: 0.21rem;
        margin-bottom: 0.2rem;
        align-items: flex-end;
        box-sizing: border-box;
        span {
            margin: 0 0.15rem;
            font-size: 0.16rem;
            font-family: 'Adobe Heiti Std';
            color: #302F2F;
        }
        img {
            height: 66.8%;
        }
    }

    .understand-list{
        width: 100%;
        padding: 0 0.33rem;
        margin-bottom: 0.2rem;
        box-sizing: border-box;

        .understand-item{
            width: 2.48rem;
            height: 0.3rem;
            padding: 0 0.2rem;
            box-sizing: border-box;
            margin-bottom: 0.1rem;
            background: rgba(43, 108, 204, .13);
            border-radius: 0.15rem;
            justify-content: flex-start;
            box-sizing: border-box;
            span{
                margin-left: 0.11rem;
                font-size: 0.12rem;
                color: #0067FF;
            }
            img {
                height: 0.17rem;
            }
        }
    }

    .understand-footer{
        width: 100%;
        justify-content: space-between;
        .footer-item{
            width: 0.51rem;
            margin-bottom: 0.2rem;
            display: inline-flex;
            img{
                width: 98%;
            }
            span{
                font-size: 0.12rem;
                font-family: 'Adobe Heiti Std';
                color: #0067FF;
                line-height: 0.18rem;
            }
        }
    }

    // 提取示例
    .collect-wrap{
        width: 100%;
        max-width: 3.61rem;
        background: #FFFFFF;
        border-radius: 0.05rem;
        margin-top: 0.2rem;
        padding: 0.2rem 0.15rem;
        justify-content: flex-start;
        align-items: start;
        box-sizing: border-box;
        .menu-label{
            margin-bottom: 0.15rem;
            font-size: 0.14rem;
            color: #333;
        }
        .collect-group{
            width: 100%;
            justify-content: flex-start;
        }
        .draw-count{
            margin-bottom: 0.15rem;
            .btn{
                width: 0.3rem;
                height: 0.3rem;
                padding: 0;
                border-radius: 50%;
                background: #D8D8D8;
                color: #fff;
                font-size: 0.3rem;
                line-height: 1;
            }

            .form-control{
                width: 1rem;
                height: 0.3rem;
                border: 1px solid #D8D8D8;
                border-radius: 0.15rem;
                margin: 0 0.1rem;
                font-size: 0.12rem;
                padding: 0.0375rem 0.075rem;
                text-align: center;
            }
        }

        #getIncrease{
            display: inline-block;
            font-size: 0.3rem;
            line-height: 0.2rem;
            position: relative;
            span {
                width: 0.3rem;
                height: 0.3rem;
                font-size: 0.3rem;
                line-height: 0.3rem;
                vertical-align: top;
            }
        }

        
        .btnClick{
            background: #0067FF;
        }
        .btn{
            &:focus {
                outline: 0;
                box-shadow: 0 0 0;
            }
            .decrease{
                display: inline-block;
                width: 0.15rem;
                height: 0.02rem;
                background: #fff;
            }
        }

        // 数据格式
        .menu-item{
            margin-right: 0.16rem;
            margin-bottom: 0.15rem;
            flex-wrap: nowrap;
            label{
                margin-left: 0.09rem;
                margin-bottom: 0;
                font-size: 0.14rem;
                font-weight: 400;
                color: #999999;
            }
            .original-radio{
                display: none;
            }
            .original-checkbox{
                display: none;
            }
            .replace-radio{
                display: inline-block;
                margin-left: 0;
                border: 1px solid #ccc;
                width: 0.14rem;
                height: 0.14rem;
                border-radius: 50%;
                vertical-align: middle;
                position: relative;
                &:before{
                    content: '';
                    font-size: 0;
                    width: 0.07rem;
                    height: 0.07rem;
                    background: #0067FF;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-0.035rem, -0.035rem);
                    border-radius: 50%;
                    display: none;
                }
            }
        }
        .attribute{
            display: none;
            width: 100%;
        }
        .original-radio{
            display: none;
        }
        
        .original-radio:checked~.replace-radio:before{
            display: block;
        
        }
        .original-radio:checked~.replace-radio{
            border-color: #0067FF;
        }
        
        .original-radio:checked~label{
            color: #3888FF;
        }
        .original-checkbox{
            display: none;
        }

        // 选择属性
        .attr-group{
            justify-content: flex-start;
        }

        .menu-item{
            .replace-checkbox{
                display: inline-block;
                margin-left: 0;
                border: 1px solid #ccc;
                width: 0.14rem;
                height: 0.14rem;
                border-radius: 0.02rem;
                vertical-align: middle;
                position: relative;
                &:before{
                    content: '\2713';
                    font-size: 0.14rem;
                    height: 0.14rem;
                    line-height: 0.14rem;
                    transform: scale(.8);
                    font-weight: 800;
                    color: #fff;
                    display: none;
                }
            }
        }
        

        .original-checkbox:checked~.replace-checkbox:before{
            display: block;
        
        }
        .original-checkbox:checked~.replace-checkbox{
            background: #0067FF;
            border: none;
        }
        
        .original-checkbox:checked~label{
            color: #3888FF;
        }

        // 分隔符
        .split-sign{
            display: none;
            width: 100%;
        }

        // 城市
        .province-introduce{
            display: none;
        }
        .prov-item{
            margin-right: 0.2rem;
        }
        
        .prov-item:nth-child(4),
        .prov-item:nth-child(8),
        .prov-item:nth-child(12),
        .prov-item:nth-child(16){
            margin-right: 0;
        }
        .prov-item:nth-child(20){
            margin-right: 0.635rem;
        }
        
    }
    
    // 客户定制
    .last-wrap{
        width: 100%;
        max-width: 3.61rem;
        margin-top: 0.16rem;
        margin-bottom: 0.7rem;
        padding: 0.2rem 0;
        box-sizing: border-box;
        background: #FFFFFF;
        border-radius: 0.05rem;
        .tailor-made-cont{
            width: 1.2rem;
            margin-left: 0.2rem;
            span{
                width: 100%;
            }
            .cont1{
                display: block;
                margin-top: 0.12rem;
                margin-bottom: 0.13rem;
                font-size: 0.16rem;
                font-weight: 400;
                color: #333333;
                text-align: center;
            }
            .cont2{
                display: block;
                margin-bottom: 0.13rem;
                font-size: 0.12rem;
                font-weight: 400;
                color: #333333;
            }
        }
        .introduce-warn{
            margin-top: 0.09rem;
            font-size: 0.12rem;
            font-weight: 400;
            color: #666666;
        }
    }
    
    
    .footer-bar{
        width: 100%;
        max-width: 1430px;
        height: 0.5rem;
        padding: 0 0.16rem;
        box-sizing: border-box;
        background: #fff;
        z-index: 999;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        box-shadow: 3px -2px 9px 0px rgba(1, 51, 140, 0.2);
    
        .footer-wrap{
            height: 100%;
            padding: 0.03rem 0.14rem;
            box-sizing: border-box;
            justify-content: space-between;

            .footer-item{
                width: 0.62rem;
                height: 100%;

                img{
                    height: 60%;
                }

                span{
                    width: 100%;
                    text-align: center;
                    font-size: 0.12rem;
                    font-weight: 400;
                    color: #333333;
                }
            }
        }
    }
 

    
}

.message_tip {
    min-width: 1.2rem;
    padding: 0.075rem 0.075rem 0.075rem 0.1rem;
    border-radius: 0.025rem;
    transform: translate(-50%, 0);
    -webkit-border-radius: 0.025rem;
    -moz-border-radius: 0.025rem;
    -ms-border-radius: 0.025rem;
    -o-border-radius: 0.025rem;
    font-size: 0.08rem;
    line-height: 0.08rem;
    span{
        padding-right: 0.12rem;
    }

    .iconfont {
        right: 0.075rem;
        font-size: 0.08rem;
    }
}

.modal-open {
    .modal {
        padding: 0 0.09rem;
        box-sizing: border-box;
    }
    // 模态框样式重置
    .modal-dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        width: 3.41rem;
        height: 1.5rem;
        max-width: 95%;
        margin: 0;
        box-shadow: 1px 1px 50px rgb(0 0 0 / 30%);
        border-radius: 0.06rem;
    }
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        font-size: 0.11rem;
    }
    .modal-content{
        border-radius: 0.06rem;
        padding-top: 0.29rem;
        background: #fff;
    }
    .modal-header {
        padding: 0.29rem 0 0 0;
        border-radius: 2px 2px 0 0;
        height: auto;
        background: transparent;
        border: none;
        padding: 0;
        box-sizing: border-box;
        font-size: 0.18rem;
        line-height: 0.18rem;
        color: #333;
        text-align: center;
        margin-bottom: 0.05rem;
        border: none;
        justify-content: center;

    }

    .modal-body{
        background: transparent;
        border: none;
        padding: 0.1rem 0.15rem;
        box-sizing: border-box;
        font-size: 0.16rem;
        line-height: 0.24rem;
        color: #333;
        text-align: center;
        height: auto !important;
        margin-bottom: 0.05rem;
    }

    .modal-footer{
        padding: 0;
        font-size: 0.08rem;
        margin: 0;
        .btn {
            padding: 0;
            width: calc(50% - 1px);
            border: none;
            border-radius: 0;
            border-top: 1px solid #d8d8d8;
            border-right: 1px solid #d8d8d8;
            font-size: 0.14rem;
            color: #999999;
            height: 0.49rem;
            line-height: 0.49rem;
            margin: 0;
            text-align: center;
            background: transparent;
            &:last-child {
                width: 50%;
                font-size: 0.14rem;
                color: #1B81FF;
            }
        }
    }
    .modal-footer>* {
        margin: 0.025rem;
    }

}

#myModalPublic,#myModalPromote {
    .modal-content{
        width: 3rem;
        height: 3.14rem;
        margin: 0;
        background: #FFFFFF;
        border-radius: 0.05rem;
        padding: 0.2rem 0.5rem;
        box-sizing: border-box;
    }
    .modal-header{
        height: 0.2rem;
        background: transparent;
        border: none;
        padding: 0;
        box-sizing: border-box;
        font-size: 0.16rem;
        color: #333;
        text-align: center;
        margin-bottom: 0.17rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        .close-img {
            height: 100%;
            margin-left: 0.4rem;
            vertical-align: middle;
        }
    }
    .public-img {
        width: 100%;
        height: auto;
    }

    .save-bottom {
        margin-top: 0.14rem;
        width: 100%;
        text-align: center;
        font-size: 0.12rem;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #1B81FF;
    }
}


.btn-secondary:not(:disabled):not(.disabled).active:focus, 
.btn-secondary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 !important;
}

.btn-secondary.focus, 
.btn-secondary:focus {
    box-shadow: 0 0 0 0 rgb(130 138 145 / 50%) !important;
}
