* {
  margin: 0;
  padding: 0;
  user-select: none;
}
.agreement {
  font-family: Calibri;
  color: #000;
}
h1 {
  padding: 40px 40px 20px;
  font-weight: bold;
  font-size: 28px;
  line-height: 46px;
  text-align: center;
}
p {
  padding: 0 40px;
  line-height: 30px;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 30px;
}
