@font-face {
  font-family: "fz";
  src: url("/font/FZLTHJWGB10.TTF");
}

html,
body {
  width: 100%;
  font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
  color: #717171;
  font-size: 16px;
  overflow-x: hidden;
}

.hover {
  cursor: pointer;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: inline-block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

//外边距相关
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-60 {
  margin-top: 60px !important;
}
.mt-70 {
  margin-top: 70px !important;
}
.mt-80 {
  margin-top: 80px !important;
}
.mt-90 {
  margin-top: 90px !important;
}
.mt-100 {
  margin-top: 100px !important;
}
.mt-110 {
  margin-top: 110px !important;
}
.mt-120 {
  margin-top: 120px !important;
}
.mt-130 {
  margin-top: 130px !important;
}
.mt-140 {
  margin-top: 140px !important;
}
.mt-150 {
  margin-top: 150px !important;
}
.mt-160 {
  margin-top: 160px !important;
}
//底部边距
.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-140 {
  margin-bottom: 140px !important;
}
//左侧边距
.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-50 {
  margin-left: 50px !important;
}
.ml-60 {
  margin-left: 60px !important;
}

.ml-120 {
  margin-left: 120px !important;
}

//右侧边距
.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-45 {
  margin-right: 45px !important;
}

.mr-50 {
  margin-right: 50px !important;
}
.mr-70 {
  margin-right: 70px !important;
}
.mb-80 {
  margin-bottom: 80px;
}
//内边距
.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-25 {
  padding-top: 25px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pt-40 {
  padding-top: 40px !important;
}
.pt-45 {
  padding-top: 45px !important;
}
.pt-50 {
  padding-top: 50px !important;
}
.pt-60 {
  padding-top: 60px !important;
}
.pt-70 {
  padding-top: 70px !important;
}
.pt-80 {
  padding-top: 80px !important;
}
.pt-100 {
  padding-top: 100px !important;
}

.pt-140 {
  padding-top: 100px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}
.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pb-40 {
  padding-bottom: 40px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}
.pb-45 {
  padding-bottom: 45px !important;
}
.pb-50 {
  padding-bottom: 50px !important;
}
.pb-60 {
  padding-bottom: 60px !important;
}
.pb-70 {
  padding-bottom: 70px !important;
}
.pb-130 {
  padding-bottom: 130px !important;
}
.pr-10 {
  padding-right: 10px !important;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}
.pr-40 {
  padding-right: 40px;
}
.pr-50 {
  padding-right: 50px;
}
.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}
.pl-40 {
  padding-left: 40px;
}
.pl-50 {
  padding-left: 50px;
}
.pl-100 {
  padding-left: 100px;
}

.pd-10 {
  padding: 10px !important;
}

.pd-15 {
  padding: 15px !important;
}

.pd-20 {
  padding: 20px !important;
}

.font-5 {
  font-size: 5px;
}

.font-10 {
  font-size: 10px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-25 {
  font-size: 25px;
}

.font-30 {
  font-size: 30px;
}

.font-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-column {
  flex-direction: column !important;
}

.grid {
  display: grid !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-around {
  justify-content: space-around !important;
}

.justify-start {
  justify-content: start !important;
}

.justify-end {
  justify-content: end !important;
}

.align-center {
  align-items: center !important;
}

.align-end {
  align-items: flex-end;
}

.pointer {
  cursor: pointer;
}

.widthAll {
  width: 100%;
}

.hightAll {
  height: 100%;
}
.text-white {
  color: #fff;
}
.main-title-color {
  color: #091d43;
}

.text-blue {
  color: #1968fc;
}
.text-desc {
  color: #333;
}
.no-border {
  border: none;
}

.white-line {
  white-space: pre;
}

//设置计算因子
.box-content {
  box-sizing: content-box !important;
}
.box-border {
  box-sizing: border-box !important;
}
.inline-flex {
  display: inline-flex;
}

.margin-auto {
  margin: 0 auto;
}

input::-webkit-input-placeholder {
  color: #b2bccb;
}

// 弹窗提示
.message_tip {
  position: relative;
  min-width: 240px;
  display: flex;
  align-items: center;
  padding: 15px 15px 15px 20px;
  border-radius: 8px;
  position: fixed;
  top: 15%;
  left: 50%;
  color: #ffffff;
  z-index: 9999;
  transform: translate(-50%, 0);
  font-size: 16px;
  line-height: 16px;
  span {
    padding-right: 24px;
  }
  i {
    position: absolute;
    top: 50%;
    right: 15px;
    cursor: pointer;
    color: #dfe2e7;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
}

.message_tip_success {
  background-color: #f0f9eb;
  border: none;
  color: #67c23a;
}

.message_tip_warning {
  background-color: #e6a23c;
  border: none;
  color: #fff;
}

.message_tip_error {
  background-color: #fef0f0;
  border: none;
  color: #f76c6c;
}

/* 动态按钮 -- start */
/* 文字需用 <span> 包裹 */
/* 橙色面性按钮 */
.or-button {
  position: relative;
  border-radius: 4px;
  border: none;
  width: 100px;
  height: 30px;
  background-color: #fc7019;
  overflow: hidden;
  color: white !important;

  transition-duration: 0.4s;
  /* transition-timing-function: cubic-bezier(0.4, 2, 0.3, -0); */
}

.or-button::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  /* background-color: black; */
  background: linear-gradient(45deg, #fdb539, #fc7019);
  transform: translate(-101%);
  transition: transform 0.3s;
}

/* 蓝色面性按钮 */
.bl-button {
  position: relative;
  border-radius: 4px;
  border: none;
  width: 100px;
  height: 30px;
  background-color: #1968fc;
  overflow: hidden;
  color: white;

  transition-duration: 0.4s;
  /* transition-timing-function: cubic-bezier(0.4, 2, 0.3, -0); */
}

.bl-button::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  /* background-color: black; */
  background: linear-gradient(45deg, #4e38c7, #1968fc);
  transform: translate(-101%);
  transition: transform 0.3s;
}

/* 橙色线性按钮 */
.or-l-button {
  position: relative;
  border: 1px solid #fc7019;
  border-radius: 4px;
  width: 100px;
  height: 25px;
  color: #fc7019;
  overflow: hidden;

  transition: all 0.4s;
  transition: color 0.01s 0.2s;
  /* transition-timing-function: cubic-bezier(0.4, 2, 0.3, -0); */
}

.or-l-button::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: inherit;
  background-color: #fc7019;
  transform: translate(-101%);
  transition: transform 0.3s;
}

/* 蓝色线性按钮 */
.bl-l-button {
  position: relative;
  border: 1px solid #1968fc;
  border-radius: 4px;
  width: 100px;
  height: 25px;
  color: #1968fc;
  overflow: hidden;

  transition-duration: 0.4s;
  /* transition-timing-function: cubic-bezier(0.4, 2, 0.3, -0); */
}

.bl-l-button::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: inherit;
  background-color: #1968fc;
  transform: translate(-101%);
  transition: transform 0.3s;
}

/* 公共属性 */
.or-l-button:hover span,
.or-l-button:focus span,
.bl-l-button:hover span,
.bl-l-button:focus span {
  color: white;
}

.or-l-button span,
.bl-l-button span,
.bl-button span,
.or-button span {
  position: relative;
  z-index: 2;
}

.or-l-button:hover::after,
.or-l-button:focus::after,
.bl-l-button:hover::after,
.bl-l-button:focus::after,
.bl-button:hover::after,
.bl-button:focus::after,
.or-button:hover::after,
.or-button:focus::after {
  transform: translate(0%);
}
/* 动态按钮 -- end */

//ease-in-out== ease:于匀速，开始和结束都慢
//linear：匀速
//ease-in:开始慢，之后快
//ease-out：开始块，结束慢
//从左边划入效果
.common-slideInLeft {
  -webkit-animation: slideInLeft 0.8s ease-in-out;
  animation: slideInLeft 0.8s ease-in-out;
}
.common-slideInRight {
  -webkit-animation: slideInRight 0.8s ease-in-out;
  animation: slideInRight 0.8s ease-in-out;
}
.common-fadeInUp {
  -webkit-animation: fadeInUp 0.8s ease-out both;
  animation: fadeInUp 0.8s ease-out both;
}
.common-fadeInUp-fast-1 {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.common-fadeInUp-fast-2 {
  -webkit-animation-delay: 0.5;
  animation-delay: 0.5s;
}
.common-fadeInUp-fast-3 {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
.common-fadeInUp-fast-4 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
// .common-fadeInUp-fast-5 {
//   -webkit-animation-delay: 1s;
//   animation-delay: 0.5s;
// }
.common-fadeInUp-fast-05 {
  -webkit-animation-delay: 0.5;
  animation-delay: 0.5s;
}
.common-fadeInUp-delay-06 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.common-fadeInUp-delay-07 {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.common-up-down {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

a:hover {
  color: #0056b3;
  text-decoration: none !important;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
}

.empty-box {
  margin: 0 auto;
  margin-top: 50px;
  width: 300px;
  height: 300px;
  background: url("/images/empty.jpg") no-repeat;
  background-size: 100% 100%;
}

.title {
  color: #677294;
}

.mainHover:hover {
  color: #1968fc;
}
