@font-face {
  font-family: "fz";
  src: url("/font/FZLTHJWGB10.TTF");
}

html,
body {
  width: 100%;
  font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
  color: #717171;
  font-size: 16px;
  overflow-x: hidden;
}

.hover {
  cursor: pointer;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: inline-block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

//外边距相关
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-60 {
  margin-top: 60px !important;
}
.mt-80 {
  margin-top: 80px !important;
}
.mt-90 {
  margin-top: 90px !important;
}
.mt-100 {
  margin-top: 100px !important;
}
.mt-110 {
  margin-top: 110px !important;
}
.mt-120 {
  margin-top: 120px !important;
}
.mt-130 {
  margin-top: 130px !important;
}

//底部边距
.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

//左侧边距
.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-50 {
  margin-left: 50px !important;
}
.ml-60 {
  margin-left: 60px !important;
}

//右侧边距
.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-45 {
  margin-right: 45px !important;
}

.mr-50 {
  margin-right: 50px !important;
}
.mr-70 {
  margin-right: 70px !important;
}
.mb-80 {
  margin-bottom: 80px;
}
//内边距
.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-25 {
  padding-top: 25px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pt-50 {
  padding-top: 50px !important;
}
.pt-100 {
  padding-top: 100px !important;
}
.pb-0 {
  padding-bottom: 0px !important;
}
.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pb-40 {
  padding-bottom: 40px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}
.pb-50 {
  padding-bottom: 50px !important;
}
.pb-130 {
  padding-bottom: 130px !important;
}
.pr-10 {
  padding-right: 10px !important;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.pd-10 {
  padding: 10px !important;
}

.pd-15 {
  padding: 15px !important;
}

.pd-20 {
  padding: 20px !important;
}

.font-5 {
  font-size: 5px;
}

.font-10 {
  font-size: 10px;
}

.font-15 {
  font-size: 15px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-25 {
  font-size: 25px;
}

.font-30 {
  font-size: 30px;
}

.font-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-column {
  flex-direction: column !important;
}

.grid {
  display: grid;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}

.align-center {
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.widthAll {
  width: 100%;
}

.hightAll {
  height: 100%;
}

.main-title-color {
  color: #091D43;
}

.text-blue {
  color: #1968FC;
}

.no-border {
  border: none;
}

.white-line {
  white-space: pre;
}

//设置计算因子
.box-content {
  box-sizing: content-box !important;
}
.box-border {
  box-sizing: border-box !important;
}

// 弹窗提示
.message_tip {
  position: relative;
  min-width: 240px;
  display: flex;
  align-items: center;
  padding: 15px 15px 15px 20px;
  border-radius: 8px;
  position: fixed;
  top: 15%;
  left: 50%;
  color: #ffffff;
  z-index: 999;
  transform: translate(-50%, 0);
  span{
    padding-right: 24px;
  }
  i {
    position: absolute;
    top: 50%;
    right: 15px;
    cursor: pointer;
    color: #dfe2e7;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
}

.message_tip_success {
  background-color: #f0f9eb;
  border: 1px solid #E1F3D8;
  color: #67c23a;
}

.message_tip_warning {
  background-color: #E6A23C;
  border: 1px solid #E6A23C;
  color: #fff;
}

.message_tip_error {
  background-color: #fef0f0;
  border: 1px solid #fde2e2;
  color: #F76C6C;
}
