@font-face {
  font-family: "fz";
  src: url("/font/FZLTHJWGB10.TTF");
}

@font-face {
  font-family: "DIN Alternate";
  src: url("/font/DIN-RegularAlternate-2.otf");
}

html,
body {
  width: 100%;
  font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
  color: #717171;
  font-size: 16px;
  overflow-x: hidden;
}
.hover {
  cursor: pointer;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: inline-block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

//外边距相关
.mtop-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-60 {
  margin-top: 60px !important;
}
.mt-70 {
  margin-top: 70px !important;
}
.mt-80 {
  margin-top: 80px !important;
}
.mt-90 {
  margin-top: 90px !important;
}
.mt-100 {
  margin-top: 100px !important;
}
.mt-110 {
  margin-top: 110px !important;
}
.mt-120 {
  margin-top: 120px !important;
}
.mt-130 {
  margin-top: 130px !important;
}
.mt-140 {
  margin-top: 140px !important;
}
.mt-150 {
  margin-top: 150px !important;
}
.mt-160 {
  margin-top: 160px !important;
}
//底部边距
.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-140 {
  margin-bottom: 140px !important;
}
//左侧边距
.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-50 {
  margin-left: 50px !important;
}
.ml-60 {
  margin-left: 60px !important;
}

.ml-120 {
  margin-left: 120px !important;
}

.ml-210 {
  margin-left: 210px !important;
}
//右侧边距
.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-45 {
  margin-right: 45px !important;
}

.mr-50 {
  margin-right: 50px !important;
}
.mr-70 {
  margin-right: 70px !important;
}
.mb-80 {
  margin-bottom: 80px !important;
}
//内边距
.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-25 {
  padding-top: 25px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pt-40 {
  padding-top: 40px !important;
}
.pt-45 {
  padding-top: 45px !important;
}
.pt-50 {
  padding-top: 50px !important;
}
.pt-60 {
  padding-top: 60px !important;
}
.pt-70 {
  padding-top: 70px !important;
}
.pt-80 {
  padding-top: 80px !important;
}
.pt-100 {
  padding-top: 100px !important;
}

.pt-140 {
  padding-top: 100px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}
.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pb-40 {
  padding-bottom: 40px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}
.pb-45 {
  padding-bottom: 45px !important;
}
.pb-50 {
  padding-bottom: 50px !important;
}
.pb-60 {
  padding-bottom: 60px !important;
}
.pb-70 {
  padding-bottom: 70px !important;
}
.pb-130 {
  padding-bottom: 130px !important;
}
.pr-10 {
  padding-right: 10px !important;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}
.pr-40 {
  padding-right: 40px;
}
.pr-50 {
  padding-right: 50px;
}
.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}
.pl-40 {
  padding-left: 40px;
}
.pl-50 {
  padding-left: 50px;
}
.pl-100 {
  padding-left: 100px;
}

.pd-10 {
  padding: 10px !important;
}

.pd-15 {
  padding: 15px !important;
}

.pd-20 {
  padding: 20px !important;
}

.font-5 {
  font-size: 5px;
}

.font-10 {
  font-size: 10px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-25 {
  font-size: 25px;
}

.font-30 {
  font-size: 30px;
}

.font-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}
.text-white {
  color: #fff;
}
.main-title-color {
  color: #091d43;
}

.text-gray {
  color: #4c5664;
}

.text-blue {
  color: #1968fc;
}
.text-desc {
  color: #4c5664;
}

.flex {
  display: flex;
}

.flex-no-wrap {
  flex-wrap: nowrap !important;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-content-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-end {
  justify-content: end !important;
}

.align-center {
  align-items: center !important;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-column {
  flex-direction: column !important;
}

.text-right {
  text-align: right;
}

.pointer {
  cursor: pointer;
}

.widthAll {
  width: 100%;
}

.hightAll {
  height: 100%;
}

.no-border {
  border: none;
}

.white-line {
  white-space: pre;
}

//设置计算因子
.box-content {
  box-sizing: content-box !important;
}
.box-border {
  box-sizing: border-box !important;
}
.inline-flex {
  display: inline-flex;
}

.margin-auto {
  margin: 0 auto;
}

input::-webkit-input-placeholder {
  color: #b2bccb;
}

// 弹窗提示
.message_tip {
  position: relative;
  min-width: 240px;
  display: flex;
  align-items: center;
  padding: 15px 15px 15px 20px;
  border-radius: 8px;
  position: fixed;
  top: 15%;
  left: 50%;
  color: #ffffff;
  z-index: 9999;
  transform: translate(-50%, 0);
  font-size: 16px;
  line-height: 16px;
  span {
    padding-right: 24px;
  }
  i {
    position: absolute;
    top: 50%;
    right: 15px;
    cursor: pointer;
    color: #dfe2e7;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
}

.message_tip_success {
  background-color: #f0f9eb;
  border: none;
  color: #67c23a;
}

.message_tip_warning {
  background-color: #e6a23c;
  border: none;
  color: #fff;
}

.message_tip_error {
  background-color: #fef0f0;
  border: none;
  color: #f76c6c;
}

/* 动态按钮 -- start */
/* 文字需用 <span> 包裹 */
/* 橙色面性按钮 */
.or-button {
  position: relative;
  border-radius: 4px;
  border: none;
  width: 100px;
  height: 30px;
  background-color: #fc7019;
  overflow: hidden;
  color: white !important;

  transition-duration: 0.4s;
  /* transition-timing-function: cubic-bezier(0.4, 2, 0.3, -0); */
}

.or-button::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  /* background-color: black; */
  background: linear-gradient(45deg, #fdb539, #fc7019);
  transform: translate(-101%);
  transition: transform 0.3s;
}

/* 蓝色面性按钮 */
.bl-button {
  position: relative;
  border-radius: 4px;
  border: none;
  width: 100px;
  height: 30px;
  background-color: #1968fc;
  overflow: hidden;
  color: white;

  transition-duration: 0.4s;
  /* transition-timing-function: cubic-bezier(0.4, 2, 0.3, -0); */
}

.bl-button::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  /* background-color: black; */
  background: linear-gradient(45deg, #2e90fa, #1968fc);
  transform: translate(-101%);
  transition: transform 0.3s;
}

/* 橙色线性按钮 */
.or-l-button {
  position: relative;
  border: 1px solid #fc7019;
  border-radius: 4px;
  width: 100px;
  height: 25px;
  color: #fc7019;
  overflow: hidden;

  transition: all 0.4s;
  transition: color 0.01s 0.2s;
  /* transition-timing-function: cubic-bezier(0.4, 2, 0.3, -0); */
}

.or-l-button::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: inherit;
  background-color: #fc7019;
  transform: translate(-101%);
  transition: transform 0.3s;
}

/* 蓝色线性按钮 */
.bl-l-button {
  position: relative;
  border: 1px solid #1968fc;
  border-radius: 4px;
  width: 100px;
  height: 25px;
  color: #1968fc;
  overflow: hidden;

  transition-duration: 0.4s;
  /* transition-timing-function: cubic-bezier(0.4, 2, 0.3, -0); */
}

.bl-l-button::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: inherit;
  background-color: #1968fc;
  transform: translate(-101%);
  transition: transform 0.3s;
}

/* 公共属性 */
.or-l-button:hover span,
.or-l-button:focus span,
.bl-l-button:hover span,
.bl-l-button:focus span {
  color: white;
}

.or-l-button span,
.bl-l-button span,
.bl-button span,
.or-button span {
  position: relative;
  z-index: 2;
}

.or-l-button:hover::after,
.or-l-button:focus::after,
.bl-l-button:hover::after,
.bl-l-button:focus::after,
.bl-button:hover::after,
.bl-button:focus::after,
.or-button:hover::after,
.or-button:focus::after {
  transform: translate(0%);
}
/* 动态按钮 -- end */
.common-up-down {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.animate__delay-faster {
  animation-delay: 0.25s;
}

.animate__delay-0 {
  animation-delay: 0.25s;
}
.animate__delay-1 {
  animation-delay: 0.5s;
}

.animate__delay-2 {
  animation-delay: 0.75s;
}

.animate__delay-3 {
  animation-delay: 1s;
}
.animate__delay-4 {
  animation-delay: 1.25s;
}
.animate__delay-5 {
  animation-delay: 1.5s;
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

a:hover {
  color: #1968fc;
  text-decoration: none !important;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
}

.empty-box {
  margin: 0 auto;
  margin-top: 50px;
  width: 300px;
  height: 300px;
  background: url("/images/empty.jpg") no-repeat;
  background-size: 100% 100%;
}

.title {
  color: #677294;
}

.mainHover:hover {
  color: #1968fc;
}

.dialog-modal-title {
  position: relative;
  width: 100%;
  height: 60px;
  border-radius: 8px 8px 0px 0px;
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    &:nth-child(1) {
      background-color: rgba(25, 104, 252, 0.37);
    }
    &:nth-child(2) {
      clip-path: polygon(0 0, 50px 0, 0 100%);
      background: linear-gradient(300deg, #e3ecff, #cfe0ff);
    }
    &:nth-child(3) {
      clip-path: polygon(50px 0, 100px 0, 50px 100%, 0 100%);

      background: linear-gradient(300deg, #edf3ff, #b9d1fe);
    }
    &:nth-child(4) {
      clip-path: polygon(calc(100% - 100px) 0, calc(100% - 50px) 0, 100% 100%, calc(100% - 50px) 100%);

      background: linear-gradient(60deg, #edf3ff, #b9d1fe);
    }
    &:nth-child(5) {
      clip-path: polygon(calc(100% - 50px) 0, 100% 0, 100% 100%);

      background: linear-gradient(60deg, #e3ecff, #cfe0ff);
    }
  }
  .title-text {
    line-height: 60px;
    font-size: 24px;
    color: #1968fc;
    font-weight: 700;
    text-align: center;
  }
}

.login-out {
  .modal-content {
    max-width: 375px;
  }
  .modal-body {
    text-align: center;
    padding: 30px 30px 30px 30px;
  }
  .modal-footer {
    border: none;
    padding: 0 0 30px 0;
    justify-content: center;
    &:first-child {
      margin-right: 30px;
    }
  }

  .btn-primary:not(:disabled):not(.disabled).active:focus,
  .btn-primary:not(:disabled):not(.disabled):active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 !important;
  }

  .button {
    height: 40px;
    padding: 0;
    line-height: 40px;
  }
}

// 公共头部导航
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(244, 247, 255, 0.39);
  font-family: "Microsoft YaHei", "Times New Roman", serif;
  font-size: 16px;
  padding: 0 16px;
  z-index: 999;
  background-color: #f4f7ff;

  // header内容区域
  .header-main {
    max-width: 1400px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-auto-flow: row dense;
    margin: 0 auto;
  }

  // 网站logo
  .logo {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    img {
      width: 40px;
      height: 40px;
    }
    .logo-title {
      margin-left: 10px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: #1968fc;
      padding-right: 50px;
      white-space: nowrap;
      transition: all 0.8s;
    }
  }

  // 中间导航部分
  .nav-wrap {
    height: 80px;
  }

  .nav-toggler {
    display: none;
  }

  .nav-list {
    display: flex;

    // 每个导航元素
    .nav-item {
      position: relative;
      width: auto;
      min-width: 64px;
      // max-width: 96px;
      height: 80px !important;
      padding: 0 6px; // 底部线超出文字
      margin: 0 10px; // 导航文本元素间距
      text-align: center;
      line-height: 80px;
      white-space: nowrap; // 文本禁止换行

      a {
        display: block;
        height: inherit;
        text-decoration: none;
        white-space: nowrap;
        color: inherit;
      }
      .iconfont {
        font-size: 18px;
        font-weight: 600;
      }
      &:hover {
        cursor: pointer;
        color: #1968fc;
        font-weight: 600;
        .iconfont {
          transition: all 0.4s;
          display: inline-block;
          transform: rotate(180deg);
        }
      }
      &::after {
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 2px;
        content: "";
        background-color: #1968fc;
        transition: all 0.8s;
      }

      &:hover::after {
        left: 0;
        width: 100%;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &.activated {
        color: #1968fc;
        &::after {
          left: 0;
          width: 100%;
        }
      }
    }
    // 子导航  水平导航
    .child-list {
      // display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: auto;
      max-width: 508px;
      padding: 0;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 0px 20px rgba(208, 224, 255, 0.4);
      border-radius: 8px;
      font-size: 16px;
      color: #091d43;
      line-height: normal;
      transition: all, opacity 0.6s;
      height: 0; // 为了动画效果  高设为0
      overflow: hidden;
      opacity: 0;

      .child-item {
        padding: 0 20px;
        box-sizing: content-box;

        // 为了动画
        &:first-child {
          padding-left: 40px;
        }
        &:last-child {
          padding-right: 40px;
        }

        &:hover {
          transition: all 0.8s;
          color: rgb(25, 104, 252);
        }
      }

      .meal-icon {
        display: inline-block;
        width: 18px;
        height: 15px;
        // margin: 0 5px 0 0;
        // 雪碧图每个icon间距为10px  每个icon宽18px
        background: transparent url(/images/head/head_child.png) scroll 50% 50% / auto;
        background-size: 206px 35px;
        vertical-align: middle;
      }
      .icon_first {
        //  x  y
        background-position: -10px;
      }
      .icon_second {
        //  x  y
        background-position: -38px;
      }
      .icon_third {
        //  x  y
        background-position: -66px;
      }
      .icon_forth {
        //  x  y
        background-position: -94px;
      }
      .icon_fifth {
        //  x  y
        background-position: -122px;
      }
      .icon_sixth {
        //  x  y
        background-position: -150px;
      }
      .icon_seventh {
        background-position: -178px;
      }
      .title-type {
        padding: 0 10px;
        font-weight: 600;
      }
      .activity {
        padding: 6px 12px;
        box-sizing: content-box;
        text-align: center;
        color: #ffffff;
        font-size: 12px;
        border-radius: 16px 16px 16px 0;
        background: linear-gradient(90deg, #fc7019 0%, #fe344d 100%);
      }

      .describe {
        display: block;
        width: 184px;
        margin-top: 14px;
        text-align: left;
        white-space: normal;
        font-size: 14px;
        line-height: 24px;
        color: #677294;
      }
    }

    // 解开下面的注释  导航栏子菜单直接显示
    .nav-meal {
      .child-list {
        // width: auto;
        // height: 170px;
        // opacity: 1;
      }
    }

    .nav-ip {
      .child-list {
        padding: 0;
        .child-item {
          width: calc(100% - 60px);
        }
      }
    }

    .nav-business {
      .child-list {
        // height: auto;
        // opacity: 1;
        // width: 500px;
        .child-link {
          min-height: 80px;
          margin: 0;
          box-sizing: border-box;

          // 第一个到第二个
          &:nth-child(-n + 2) {
            margin-top: 40px;
          }
          &:first-child {
            // margin-top: 0;
          }
          // 最后两个
          &:nth-last-child(-n + 2) {
            margin-bottom: 40px;
          }

          // 偶数
          &:nth-child(2n) {
            margin-right: 50px;
          }

          // 奇数
          &:nth-child(2n - 1) {
            margin-left: 50px;
          }
        }
      }
    }

    .nav-help {
      .child-list {
        // height: auto;
        // opacity: 1;
      }
    }

    //  垂直导航
    .child-vertical {
      // width: auto;  // 为了动画效果  宽设为0
      // overflow: auto;
      // opacity: 1;
      flex-direction: column;
      padding: 0;
      min-height: 0;
      .child-item {
        max-width: 190px;
        padding: 10px 30px;
        box-sizing: content-box;
        // 为了动画
        &:first-child {
          margin-top: 20px;
          padding-left: 30px;
        }
        &:last-child {
          margin-bottom: 20px;
          padding-right: 30px;
        }
      }
    }

    // 混合导航
    .mixed-range {
      width: auto; // 为了动画效果  宽设为0
      overflow: auto;
      // padding: 10px 30px;
      box-sizing: border-box;
      opacity: 0;

      max-width: 540px;
      // 一行排列两个
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: row dense;
      // padding: 40px 50px;
      grid-column-gap: 50px; // 列间距50px
      grid-row-gap: 30px; // 行间距30px
      .child-item {
        display: inline-grid;
        grid-template-columns: 50px 1fr;
        grid-auto-flow: row dense;
        grid-column-gap: 20px; // 行间距20px
        padding: 0 0;
        box-sizing: content-box;
        // 为了动画
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }

        .content {
          max-width: 108px;
          text-align: left;
          .describe {
            font-size: 12px;
            max-width: 108px;
          }
        }

        .title-type {
          padding: 0;
        }
      }
      .meal-icon {
        width: 58px;
        height: 80px;
        // 间距10px 图片58px
        background: transparent url(/images/head/head_business.png) scroll 0 50% / auto auto;
        background-size: 418px 100px;
      }
      .nav_first {
        background-position: -10px;
      }
      .nav_second {
        background-position: -78px;
      }
      .nav_third {
        background-position: -146px;
      }
      .nav_forth {
        background-position: -214px;
      }
      .nav_fifth {
        background-position: -282px;
      }
      .nav_sixth {
        background-position: -350px;
      }
    }

    // 为了动画
    .nav-item:hover {
      .child-list {
        height: auto;
        opacity: 1;
      }

      &.nav-meal {
        .child-list {
          height: 170px;
          opacity: 1;
        }
      }

      &.nav-ip {
        .child-list {
          height: auto;
          opacity: 1;
        }
      }

      &.nav-business {
        .child-list {
          height: auto;
          opacity: 1;
        }
      }

      &.nav-help {
        .child-list {
          height: auto;
          opacity: 1;
        }
      }

      &.mixed-range {
        padding: 40px 50px;
      }
    }
  }

  .user {
    display: inline-flex;
    align-items: center;
    margin-left: 20px;

    .button {
      display: inline-block;
      width: 72px;
      height: 40px;
      line-height: 40px;
      padding: 0;
      text-decoration: none;
      &:first-child {
        margin-right: 20px;
      }
    }
    a {
      text-decoration: none;
    }

    .bl-l-button {
      line-height: 38px;
      &:hover {
        border: 1px solid transparent;
      }
    }

    .person-center {
      padding: 0;
      width: auto;
      text-align: center;
      transition: all 0.4s;

      a {
        color: initial;
        text-decoration: none;
        white-space: nowrap;
      }
      &:hover {
        a {
          color: #1968fc;
        }
      }
    }
    .user-logout {
      line-height: 40px;
    }
  }

  // 折叠
  .fold {
    display: none;
    width: 100%;
    position: absolute;
    top: 80px;
    &.show {
      display: block;
      right: 0;
      padding: 0 10px;
      background: #f4f7ff;
      .nav-list {
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        .nav-item {
          margin: 0;
          // width: 64px;
          width: auto;
          min-width: 64px;
          max-width: none;
        }

        .iconfont {
          display: none;
        }
      }
      .adjust_position {
        float: right;
      }
      // 移动端导航
      .nav-item:hover {
        .child-list {
          height: auto;
          opacity: 1;
          .describe {
            width: auto;
          }
          .child-item {
            margin: 10px 0;
          }
        }

        &.nav-meal {
          .child-list {
            height: auto;
            opacity: 1;
            .child-item:first-child {
              margin-top: 20px;
              margin-bottom: 20px;
            }
            .child-item:last-child {
              margin-bottom: 20px;
            }
          }
        }

        &.nav-ip {
          .child-list {
            height: 122px;
            opacity: 1;
            .child-item:first-child {
              margin-bottom: 15px;
            }
          }
        }

        &.nav-business {
          .child-list {
            max-width: 1920px;
            height: auto;
            opacity: 1;

            .child-link {
              height: auto;
            }
          }
        }

        &.nav-help {
          .child-list {
            height: auto;
            opacity: 1;
          }
        }
      }
    }

    .nav-list {
      .child-list {
        left: 0;
        top: 0;
        transform: translateX(-100%);
        flex-direction: column;
        padding: 0;
        .child-item {
          padding: 0 20px;
          &:first-child {
            padding-left: 20px;
          }

          &:last-child {
            padding-right: 20px;
          }
        }
      }
    }
  }

  .appear {
    display: flex;
    height: 100%;
    flex: 100%;
    align-items: center;
    justify-content: flex-end;
  }



  .buy-header-i{
    display: block;
    width: 150px;
    height: 100%;
    background-size: 85% 85%;
    background-position: center;
    background-repeat: no-repeat;
  }

  //铑活动
  .buy-header-l{
    background-image: url('/images/activity/june/package/buyHeader-202206.png');
  }
  //锌活动
  .buy-header-f{
    background-image: url('/images/activity/june/package/buyHeader-202206.png');
  }

  .buy-header{
    display: none;
  }
}

.header-pos {
  height: 80px;
}
// 公共底部
.footer-wrap {
  // background-color: rgba(245, 247, 255, 0.39);
  position: relative;
  z-index: 2;
  background-image: url(/images/footer/bg.png);
  background-size: cover;
  .footer-main-content {
    padding: 64px 0 52px;
    width: 1400px;
    margin: 0 auto;
    transition: all 0.3s;

    display: grid;
    grid-template-columns: 100px 3fr [ewmimg-start] 100px [ewmimg-end ewmtext-start] minmax(145px, 0.8fr) [ewntext-end];
    grid-auto-rows: 38px;
    gap: 16px 10px;

    align-content: center;

    .title {
      display: flex;
      font-weight: 400;
      color: #091d43;
      font-size: 20px;
      align-items: flex-start;
    }

    .link-title {
      align-items: flex-start;
    }

    .cooperate-content {
      display: grid;
      grid-template-columns: minmax(160px, 180px) minmax(300px, 1fr);
      align-content: flex-start;
      div {
        padding-top: 3px;
        color: #4c5664;
      }
    }

    .ewm {
      grid-row: 1 / 3;
      justify-self: center;
      align-self: center;
    }
    .ewm-img {
      grid-column: ewmimg;
      img {
        transform: translateY(6px);
        width: 100px;
        height: 100px;
      }
    }
    .ewm-text {
      grid-column: ewmtext;
      justify-self: flex-start;
      text-align: center;
      font-size: 20px;
      padding-left: 33px;
      color: #4c5664;
      p:first-child {
        margin-bottom: 10px;
      }
      transform: translateY(6px);
    }

    .link-content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(80px, auto));
      grid-auto-rows: 22px;
      gap: 10px;
      transition: inherit;
      padding-right: 85px;

      a {
        display: block;
        color: inherit;
        align-self: end;
        color: #4c5664;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }

  .footer-text-content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    gap: 20px;
    color: #677294;

    padding: 20px 20px 30px;

    font-size: 14px;

    span {
      margin-right: 22px;

      a {
        color: inherit;
        line-height: 20px;

        img {
          vertical-align: bottom;
          margin-right: 8px;
        }

        &:hover {
          text-decoration: none;
          color: initial;
        }
      }
    }
  }
}

//蓝色按钮
.blue-btn {
  border: 1px solid #1968fc;
  border-radius: 4px;
  height: 25px;
  color: #1968fc;

  &:focus {
    color: #fff;
    background: #1968fc;
  }

  &:hover {
    background-color: #1968fc;
    color: #fff;
    transition: transform 0.3s;
  }
}

//支付按钮
.pay-btn {
  width: 60px;
  height: 30px;
  background: #3e6ae2;
  color: #fff;

  &:focus {
    background: #3e6ae2;
    color: #fff;
  }

  &:hover {
    background: #3e6ae2;
    color: #fff;
  }
}

//个人中心部分
div#app {
  min-height: 600px;
}

.two-line {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden; //溢出内容隐藏
  text-overflow: ellipsis; //文本溢出部分用省略号表示
  display: -webkit-box; //特别显示模式
  -webkit-line-clamp: 2; //行数
  line-clamp: 2;
  -webkit-box-orient: vertical; //盒子中内容竖直排列
}
