.wx-login {
  max-width: 550px;
  margin: 0 auto;
}

.wx-client {
  display: none;

  .form-input {
    width: 86%;
    margin: 0 auto;
    font-size: 14px;
    input {
      width: 90%;
      padding: 8px;
      border: 1px solid rgba(0, 0, 0, 0.1);

      border-radius: 6px;
      &:focus {
        outline: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
  }

  .save {
    width: 150px;
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
    &:hover {
      cursor: pointer;
    }
  }
}

.wxLogin-message {
}

.error {
  color: red;
  margin-top: 5px;
  display: none;
}
