<!--
 * @Author: 秦琛
 * @LastEditors: 秦琛
 * @description: page description
 * @Date: 2022-05-10 11:35:51
 * @LastEditTime: 2022-05-11 14:34:07
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>落地推广页面</title>
    <link rel="stylesheet" href="/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/iconfont.css">
    <link rel="stylesheet" href="/css/promotion.css">
    <%- include('./computed.html') %>
</head>


<body>
    <div class="mobile-container flex">
        <nav class="nav-bar flex">
            <img class="nav-logo" src="/images/promotion/logo.png"
                srcset="/images/promotion/logo.png 375w, /images/promotion/logo@2x.png 750w, /images/promotion/logo@3x.png 800w">
        </nav>

        <div class="banner flex">
            <img class="banner-img" src="/images/promotion/bg.png"
                srcset="/images/promotion/bg.png 375w, /images/promotion/bg@2x.png 750w, /images/promotion/bg@3x.png 800w">
            <div class="banner-cont flex">
                <span class="cont-font1">企业级代理IP服务商</span>
                <span class="cont-font1">全国200+城市，百万高匿去重IP</span>
                <span class="cont-font2 cont-btn">HTTP / HTTPS / SOCKS5 / 隧道代理 / 动态IP / 固态IP</span>
            </div>
        </div>

        <!-- 移动端注册 -->
        <div class="mobile-register">
            <img class="reg-img" src="/images/promotion/regbg.png"
                srcset="/images/promotion/regbg.png 375w, /images/promotion/regbg@2x.png 750w, /images/promotion/regbg@3x.png 800w">
            <!--注册表单-->
            <div class="mobile-regForm flex">
                <div class="hover-title">注册完成后，联系客服领取测试。</div>
                <div class="reg-discounted flex">
                    <span class="discount-cont">领取</span>
                    <span class="discount-cont get-ip-num">5000IP</span>
                    <span class="discount-cont">试用</span>
                </div>
                <div class="form">
                    <div class="form-group">
                        <input type="text" class="form-control enter_name" autocomplete="off" id="userName"
                            placeholder="请输入用户名">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control enter_phone" autocomplete="off" id="phoneNumber"
                            placeholder="请输入手机号">
                    </div>

                    <div class="form-group form-code flex">
                        <input type="text" class="form-control code-child enter_code" autocomplete="off" id="phoneCode"
                            placeholder="请输入短信验证码">
                        <button type="button" class="btn btn-default code-child get_code" id="getCode">获取验证码</button>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control enter_password" autocomplete="off" id="password"
                            placeholder="请输入密码">
                    </div>
                    <button class="btn btn-default reg_form_btn" id="register1">注册免费试用</button>
                </div>
            </div>
        </div>

        <!--天启优势-->
        <div class="understand flex">
            <div class="cont-introduce flex">
                <img class="banner-img" src="/images/promotion/title-left.png"
                    srcset="/images/promotion/title-left.png 375w, /images/promotion/title-left@2x.png 750w, /images/promotion/title-left@3x.png 800w">
                <span>快速了解天启优势</span>
                <img class="banner-img" src="/images/promotion/title-right.png"
                    srcset="/images/promotion/title-right.png 375w, /images/promotion/title-right@2x.png 750w, /images/promotion/title-right@3x.png 800w">
            </div>
            <ul class="understand-list flex">
                <li class="understand-item flex">
                    <img class="banner-img" src="/images/promotion/comprehend.png"
                        srcset="/images/promotion/comprehend.png 375w, /images/promotion/comprehend@2x.png 750w, /images/promotion/comprehend@3x.png 800w">
                    <span>企业级专属定制HTTP服务</span>
                </li>
                <li class="understand-item flex">
                    <img class="banner-img" src="/images/promotion/comprehend.png"
                        srcset="/images/promotion/comprehend.png 375w, /images/promotion/comprehend@2x.png 750w, /images/promotion/comprehend@3x.png 800w">
                    <span>全国200+城市节点</span>
                </li>
                <li class="understand-item flex">
                    <img class="banner-img" src="/images/promotion/comprehend.png"
                        srcset="/images/promotion/comprehend.png 375w, /images/promotion/comprehend@2x.png 750w, /images/promotion/comprehend@3x.png 800w">
                    <span>全国自建机房，一手IP资源</span>
                </li>
                <li class="understand-item flex">
                    <img class="banner-img" src="/images/promotion/comprehend.png"
                        srcset="/images/promotion/comprehend.png 375w, /images/promotion/comprehend@2x.png 750w, /images/promotion/comprehend@3x.png 800w">
                    <span>专属顾问一对一7*24小时服务</span>
                </li>
            </ul>

            <div class="cont-introduce flex">
                <img class="banner-img" src="/images/promotion/title-left.png"
                    srcset="/images/promotion/title-left.png 375w, /images/promotion/title-left@2x.png 750w, /images/promotion/title-left@3x.png 800w">
                <span>天启助您提升行业竞争力</span>
                <img class="banner-img" src="/images/promotion/title-right.png"
                    srcset="/images/promotion/title-right.png 375w, /images/promotion/title-right@2x.png 750w, /images/promotion/title-right@3x.png 800w">
            </div>

            <ul class="understand-footer flex">
                <li class="footer-item flex">
                    <img class="banner-img" src="/images/promotion/timing.png"
                        srcset="/images/promotion/timing.png 375w, /images/promotion/timing@2x.png 750w, /images/promotion/timing@3x.png 800w">
                    <span>定时营销</span>
                </li>
                <li class="footer-item flex">
                    <img class="banner-img" src="/images/promotion/promote.png"
                        srcset="/images/promotion/promote.png 375w, /images/promotion/promote@2x.png 750w, /images/promotion/promote@3x.png 800w">
                    <span>优化推广</span>
                </li>
                <li class="footer-item flex">
                    <img class="banner-img" src="/images/promotion/collection.png"
                        srcset="/images/promotion/collection.png 375w, /images/promotion/collection@2x.png 750w, /images/promotion/collection@3x.png 800w">
                    <span>数据采集</span>
                </li>
                <li class="footer-item flex">
                    <img class="banner-img" src="/images/promotion/intelligent.png"
                        srcset="/images/promotion/intelligent.png 375w, /images/promotion/intelligent@2x.png 750w, /images/promotion/intelligent@3x.png 800w">
                    <span>人工智能</span>
                </li>
            </ul>
        </div>

        <!-- 移动端注册 -->
        <div class="mobile-register">
            <img class="reg-img" src="/images/promotion/regbg.png"
                srcset="/images/promotion/regbg.png 375w, /images/promotion/regbg@2x.png 750w, /images/promotion/regbg@3x.png 800w">
            <!--注册表单-->
            <div class="mobile-regForm flex">
                <div class="hover-title">注册完成后，联系客服领取测试。</div>
                <div class="reg-discounted flex">
                    <span class="discount-cont">领取</span>
                    <span class="discount-cont get-ip-num">5000IP</span>
                    <span class="discount-cont">试用</span>
                </div>
                <div class="form">
                    <div class="form-group">
                        <input type="text" class="form-control enter_name" autocomplete="off" id="userName2"
                            placeholder="请输入用户名">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control enter_phone" autocomplete="off" id="phoneNumber2"
                            placeholder="请输入手机号">
                    </div>

                    <div class="form-group form-code flex">
                        <input type="text" class="form-control code-child enter_code" autocomplete="off" id="phoneCode2"
                            placeholder="请输入短信验证码">
                        <button type="button" class="btn btn-default code-child get_code" id="getCode2">获取验证码</button>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control enter_password" autocomplete="off" id="password2"
                            placeholder="请输入密码">
                    </div>
                    <button class="btn btn-default reg_form_btn" id="register2">注册免费试用</button>
                </div>
            </div>
        </div>

        <!--提取示例-->
        <div class="collect-wrap flex">
            <div class="cont-introduce menu-title flex">
                <img class="banner-img" src="/images/promotion/title-left.png"
                    srcset="/images/promotion/title-left.png 375w, /images/promotion/title-left@2x.png 750w, /images/promotion/title-left@3x.png 800w">
                <span>提取示例</span>
                <img class="banner-img" src="/images/promotion/title-right.png"
                    srcset="/images/promotion/title-right.png 375w, /images/promotion/title-right@2x.png 750w, /images/promotion/title-right@3x.png 800w">
            </div>

            <div class="menu-label">提取数量</div>
            <div class="collect-group draw-count flex">
                <button type="button" class="btn btn-default flex" id="getReduce">
                    <span class="decrease"></span>
                </button>
                <input class="form-control" value="10" id="ip-num">
                <button type="button" class="btn btn-default flex" id="getIncrease">
                    <div class="plus-span">
                        <span>+</span>
                    </div>
                </button>
            </div>

            <div class="menu-label">数据格式</div>
            <div class="data-group collect-group flex">
                <div class="menu-item flex">
                    <input type="radio" id="TXT" name="data" class="original-radio">
                    <label for="TXT" class="replace-radio"></label>
                    <label for="TXT">TXT</label>
                </div>
                <div class="menu-item flex">
                    <input type="radio" id="JSON" name="data" class="original-radio">
                    <label for="JSON" class="replace-radio"></label>
                    <label for="JSON">JSON</label>
                </div>
            </div>

            <div class="attribute">
                <div class="menu-label">选择属性</div>
                <div class="attr-group collect-group flex">
                    <div class="menu-item flex">
                        <input type="checkbox" id="city" name="attr" class="original-checkbox">
                        <label for="city" class="replace-checkbox"></label>
                        <label for="city">城市</label>
                    </div>
                    <div class="menu-item flex">
                        <input type="checkbox" id="operation" name="attr" class="original-checkbox">
                        <label for="operation" class="replace-checkbox"></label>
                        <label for="operation">运营商</label>
                    </div>
                    <div class="menu-item flex">
                        <input type="checkbox" id="expiredTime" name="attr" class="original-checkbox">
                        <label for="operation" class="replace-checkbox"></label>
                        <label for="expiredTime">过期时间</label>
                    </div>
                </div>
            </div>

            <div class="split-sign">
                <div class="menu-label">分隔符</div>
                <div class="split-group collect-group flex">
                    <div class="menu-item flex">
                        <input type="radio" id="br-radio" name="delimiter" class="original-radio">
                        <label for="br-radio" class="replace-radio"></label>
                        <label for="br-radio">回车换行(\r\n)</label>
                    </div>
                    <div class="menu-item flex">
                        <input type="radio" id="shift-radio" name="delimiter" class="original-radio">
                        <label for="shift-radio" class="replace-radio"></label>
                        <label for="shift-radio">回车(\r)</label>
                    </div>
                    <div class="menu-item flex">
                        <input type="radio" id="n-radio" name="delimiter" class="original-radio">
                        <label for="n-radio" class="replace-radio"></label>
                        <label for="n-radio">换行(\n)</label>
                    </div>
                    <div class="menu-item flex">
                        <input type="radio" id="tab-radio" name="delimiter" class="original-radio">
                        <label for="tab-radio" class="replace-radio"></label>
                        <label for="tab-radio">Tab(\t)</label>
                    </div>
                </div>
            </div>


            <div class="menu-label">地区选择</div>
            <div class="area-group collect-group flex">
                <div class="menu-item flex">
                    <input type="radio" id="country" name="area" class="original-radio">
                    <label for="country" class="replace-radio"></label>
                    <label for="country">全国混播</label>
                </div>
                <div class="menu-item flex">
                    <input type="radio" id="province" name="area" class="original-radio">
                    <label for="province" class="replace-radio"></label>
                    <label for="province">省份混播</label>
                </div>
            </div>
            <!--城市-->
            <div class="province-introduce">
                <div class="province-group collect-group flex">
                    <div class="menu-item prov-item flex">
                        <input type="checkbox" id="hn" name="province" class="original-checkbox">
                        <label for="hn" class="replace-checkbox"></label>
                        <label for="hn">湖南省</label>
                    </div>
                    <div class="menu-item prov-item flex">
                        <input type="checkbox" id="fj" name="province" class="original-checkbox">
                        <label for="fj" class="replace-checkbox"></label>
                        <label for="fj">福建省</label>
                    </div>
                    <div class="menu-item prov-item flex">
                        <input type="checkbox" id="bj" name="province" class="original-checkbox">
                        <label for="bj" class="replace-checkbox"></label>
                        <label for="bj">北京省</label>
                    </div>
                    <div class="menu-item prov-item flex">
                        <input type="checkbox" id="jl" name="province" class="original-checkbox">
                        <label for="jl" class="replace-checkbox"></label>
                        <label for="jl">吉林省</label>
                    </div>
                    <div class="menu-item prov-item flex">
                        <input type="checkbox" id="sc" name="province" class="original-checkbox">
                        <label for="sc" class="replace-checkbox"></label>
                        <label for="sc">四川省</label>
                    </div>
                    <div class="menu-item prov-item flex">
                        <input type="checkbox" id="ah" name="province" class="original-checkbox">
                        <label for="ah" class="replace-checkbox"></label>
                        <label for="ah">安徽省</label>
                    </div>
                    <div class="menu-item prov-item flex">
                        <input type="checkbox" id="ln" name="province" class="original-checkbox">
                        <label for="ln" class="replace-checkbox"></label>
                        <label for="ln">辽宁省</label>
                    </div>
                    <div class="menu-item prov-item flex">
                        <input type="checkbox" id="cq" name="province" class="original-checkbox">
                        <label for="cq" class="replace-checkbox"></label>
                        <label for="cq">重庆省</label>
                    </div>
                    <div class="menu-item prov-item flex">
                        <input type="checkbox" id="sd" name="province" class="original-checkbox">
                        <label for="sd" class="replace-checkbox"></label>
                        <label for="sd">山东省</label>
                    </div>
                    <div class="menu-item prov-item flex">
                        <input type="checkbox" id="sx" name="province" class="original-checkbox">
                        <label for="sx" class="replace-checkbox"></label>
                        <label for="sx">山西省</label>
                    </div>
                    <div class="menu-item prov-item flex">
                        <input type="checkbox" id="gd" name="province" class="original-checkbox">
                        <label for="gd" class="replace-checkbox"></label>
                        <label for="gd">广东省</label>
                    </div>
                    <div class="menu-item prov-item flex">
                        <input type="checkbox" id="js" name="province" class="original-checkbox">
                        <label for="js" class="replace-checkbox"></label>
                        <label for="js">江苏省</label>
                    </div>
                    <div class="menu-item prov-item flex">
                        <input type="checkbox" id="jx" name="province" class="original-checkbox">
                        <label for="jx" class="replace-checkbox"></label>
                        <label for="jx">江西省</label>
                    </div>

                    <div class="menu-item prov-item flex">
                        <input type="checkbox" id="hb" name="province" class="original-checkbox">
                        <label for="hb" class="replace-checkbox"></label>
                        <label for="hb">河北省</label>
                    </div>
                    <div class="menu-item prov-item flex">
                        <input type="checkbox" id="hns" name="province" class="original-checkbox">
                        <label for="hns" class="replace-checkbox"></label>
                        <label for="hns">河南省</label>
                    </div>
                    <div class="menu-item prov-item flex">
                        <input type="checkbox" id="zj" name="province" class="original-checkbox">
                        <label for="zj" class="replace-checkbox"></label>
                        <label for="zj">浙江省</label>
                    </div>
                    <div class="menu-item prov-item flex">
                        <input type="checkbox" id="hbs" name="province" class="original-checkbox">
                        <label for="hbs" class="replace-checkbox"></label>
                        <label for="hbs">湖北省</label>
                    </div>
                    <div class="menu-item prov-item flex">
                        <input type="checkbox" id="sxs" name="province" class="original-checkbox">
                        <label for="sxs" class="replace-checkbox"></label>
                        <label for="sxs">陕西省</label>
                    </div>
                    <div class="menu-item prov-item flex">
                        <input type="checkbox" id="hlj" name="province" class="original-checkbox">
                        <label for="hlj" class="replace-checkbox"></label>
                        <label for="hlj">黑龙江省</label>
                    </div>
                    <div class="menu-item prov-item flex">
                        <input type="checkbox" id="nmg" name="province" class="original-checkbox">
                        <label for="nmg" class="replace-checkbox"></label>
                        <label for="nmg">内蒙古自治区</label>
                    </div>
                    <div class="menu-item prov-item flex">
                        <input type="checkbox" id="nx" name="province" class="original-checkbox">
                        <label for="nx" class="replace-checkbox"></label>
                        <label for="nx">宁夏回族自治区</label>
                    </div>
                </div>
            </div>

            <div class="menu-label">运营商</div>
            <div class="operator-group collect-group flex">
                <div class="menu-item flex">
                    <input type="radio" id="no-limit" name="operator" class="original-radio">
                    <label for="no-limit" class="replace-radio"></label>
                    <label for="no-limit">不限</label>
                </div>
                <div class="menu-item flex">
                    <input type="radio" id="dx" name="operator" class="original-radio">
                    <label for="dx" class="replace-radio"></label>
                    <label for="dx">电信</label>
                </div>
                <div class="menu-item flex">
                    <input type="radio" id="lt" name="operator" class="original-radio">
                    <label for="lt" class="replace-radio"></label>
                    <label for="lt">联通</label>
                </div>
            </div>

            <div class="menu-label">IP协议</div>
            <div class="operator-group collect-group flex">
                <div class="menu-item flex">
                    <input type="radio" id="HTTP" name="ipPact" class="original-radio">
                    <label for="HTTP" class="replace-radio"></label>
                    <label for="HTTP">HTTP</label>
                </div>
                <div class="menu-item flex">
                    <input type="radio" id="HTTPS" name="ipPact" class="original-radio">
                    <label for="HTTPS" class="replace-radio"></label>
                    <label for="HTTPS">HTTPS</label>
                </div>
                <div class="menu-item flex">
                    <input type="radio" id="SOCKS5" name="ipPact" class="original-radio">
                    <label for="SOCKS5" class="replace-radio"></label>
                    <label for="SOCKS5">SOCKS5</label>
                </div>
            </div>

            <!-- 移动端注册 -->
            <div class="mobile-register">
                <img class="reg-img" src="/images/promotion/regbg.png"
                    srcset="/images/promotion/regbg.png 375w, /images/promotion/regbg@2x.png 750w, /images/promotion/regbg@3x.png 800w">
                <!--注册表单-->
                <div class="mobile-regForm flex">
                    <div class="hover-title">注册完成后，联系客服领取测试。</div>
                    <div class="reg-discounted flex">
                        <span class="discount-cont">领取</span>
                        <span class="discount-cont get-ip-num">5000IP</span>
                        <span class="discount-cont">试用</span>
                    </div>
                    <div class="form">
                        <div class="form-group">
                            <input type="text" class="form-control enter_name" autocomplete="off" id="userName3"
                                placeholder="请输入用户名">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control enter_phone" autocomplete="off" id="phoneNumber3"
                                placeholder="请输入手机号">
                        </div>

                        <div class="form-group form-code flex">
                            <input type="text" class="form-control code-child enter_code" autocomplete="off"
                                id="phoneCode3" placeholder="请输入短信验证码">
                            <button type="button" class="btn btn-default code-child get_code"
                                id="getCode3">获取验证码</button>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control enter_password" autocomplete="off" id="password3"
                                placeholder="请输入密码">
                        </div>
                        <button class="btn btn-default reg_form_btn" id="register3">注册免费试用</button>
                    </div>
                </div>
            </div>

        </div>

        <!-- 客户定制 -->
        <div class="last-wrap flex">
            <img id="promoteImg" class="reg-img" src="/images/promotion/service-wx.png"
                srcset="/images/promotion/service-wx.png 375w, /images/promotion/service-wx@2x.png 750w, /images/promotion/service-wx@3x.png 800w">
            <div class="tailor-made-cont">
                <span class="cont1">大客户定制</span>
                <span class="cont2">电话：17368683470</span>
            </div>
            <span class="introduce-warn">*天启http服务仅适用于营销或工作使用, 切勿做违法用途</span>
        </div>

        <!-- 底部 -->
        <footer class="footer-bar">
            <ul class="footer-wrap flex">
                <li class="footer-item tab-phone flex">
                    <img class="banner-img" src="/images/promotion/tab-phone.png"
                        srcset="/images/promotion/tab-phone.png 375w, /images/promotion/tab-phone@2x.png 750w, /images/promotion/tab-phone@3x.png 800w">
                    <span>客服电话</span>
                </li>
                <li class="footer-item tab-qq flex" data-clipboard-text="282179323">
                    <img class="banner-img" src="/images/promotion/tab-qq.png"
                        srcset="/images/promotion/tab-qq.png 375w, /images/promotion/tab-qq@2x.png 750w, /images/promotion/tab-qq@3x.png 800w">
                    <span>客服QQ</span>
                </li>
                <li class="footer-item tab-wx flex" data-clipboard-text="tianqiip">
                    <img class="banner-img" src="/images/promotion/tab-wx.png"
                        srcset="/images/promotion/tab-wx.png 375w, /images/promotion/tab-wx@2x.png 750w, /images/promotion/tab-wx@3x.png 800w">
                    <span>客服微信</span>
                </li>
                <li class="footer-item tab-wxPublic flex">
                    <img class="banner-img" src="/images/promotion/tab-wxPublic.png"
                        srcset="/images/promotion/tab-wxPublic.png 375w, /images/promotion/tab-wxPublic@2x.png 750w, /images/promotion/tab-wxPublic@3x.png 800w">
                    <span>微信公众号</span>
                </li>
            </ul>
        </footer>
    </div>
</body>
<%- include('../components/js.html'); %>
    <%- include('./js.html') %>

</html>