<!--
 * @Author: 秦琛
 * @LastEditors: 秦琛
 * @description: page description
 * @Date: 2022-05-10 13:55:26
 * @LastEditTime: 2022-05-10 14:05:36
-->
<script>
    // 不同分辨率屏幕 计算rem
    function rootResize () {
        var baseFontSize = 200;
        var baseWidth = 750;
        var minWidth = 375;
        var clientWidth = document.documentElement.clientWidth || window.innerWidth;
        var innerWidth = Math.max(Math.min(clientWidth, baseWidth), minWidth);
        var rem = clientWidth / (baseWidth / baseFontSize);
        if (innerWidth == 750 || innerWidth == 375) {
            rem = innerWidth / (baseWidth / baseFontSize)
        }
        document.querySelector('html').style.fontSize = rem + 'px';
        console.log(rem, 'document');
    };
    rootResize();
    window.onresize = function () {
        rootResize()
    };
    $(function () {

    })
</script>