<!--
 * @Author: 秦琛
 * @LastEditors: 秦琛
 * @description: page description
 * @Date: 2022-05-10 13:55:26
 * @LastEditTime: 2022-05-26 18:03:45
-->
<script>
  //获取location 地址栏query查询参数
  function getParams () {
    var url = decodeURI(location.search);
    var request = {};
    if (url.indexOf("?") !== -1) {
      var str = url.slice(1); //去掉?号
      let strs = str.split("&");
      for (var i = 0; i < strs.length; i++) {
        //unescape 被弃用  decodeURI来替代
        request[strs[i].split("=")[0]] = decodeURI(strs[i].split("=")[1]);
      }
    }
    return JSON.parse(JSON.stringify(request));
  }
  function fingerprint2 () {
    //生成浏览器指纹
    Fingerprint2.get(function (components) {
      const values = components.map(function (component, index) {
        if (index === 0) { //把微信浏览器里UA的wifi或4G等网络替换成空,不然切换网络会ID不一样
          return component.value.replace(/\bNetType\/\w+\b/, '')
        }
        return component.value
      });
      // 生成最终id murmur
      const murmur = Fingerprint2.x64hash128(values.join(''), 31);
      localStorage.setItem('fingerPrint', murmur)
    });

    //获取推广链接关键词等
    let param = getParams();
    let did = param.did;
    if (!did) return;
    let domain;
    if (location.hostname == '61.147.70.57') {
      domain = location.hostname
    } else if (location.hostname == 'location' || location.hostname == '127.0.0.1') {
      domain = location.hostname
    } else {
      domain = 'tianqiip.com'
    }
    try {
      let exp = new Date();
      exp.setTime(exp.getTime() + 30 * 24 * 60 * 60 * 1000);
      let time = exp.toGMTString();
      let keyword = param.keyword;
      let from = param.from;
      document.cookie = "did=" + did + ";domain=" + domain + ";path=/;expires=" + time;
      localStorage.setItem("did", did);
      if (from === 'seller') {
        document.cookie = "from=seller" + ";domain=" + domain + ";path=/;expires=" + time;
        localStorage.setItem("from", "seller");
      } else {
        document.cookie = "from=;" + ";domain=" + domain + ";path=/;expires=" + time;
        localStorage.setItem("from", "");
        if (keyword) {
          document.cookie = "keyword=" + keyword + ";domain=" + domain + ";path=/;expires=" + time;
          localStorage.setItem("keyword", keyword);
        }
      }
    } catch (e) {
      Helper.$message.error({
        message: '推广链接有误，请联系客服',
        showClose: true
      })
    }
  }
  fingerprint2()




  //获取手机验证码
  async function getRegisterCode (phoneData) {

    let url = 'registerCode'
    const res = await ajax({
      url,
      query: JSON.stringify({
        phone: phoneData
      })
    }, '/api')
    return res

  }




  //注册代码
  async function postRegister (params) {
    if (!params) return
    let url = "/login"
    const res = await ajax({
      url,
      query: JSON.stringify(params)
    }, '/api')


  }





  $(function () {

    $('.tab-phone').click(function () {
      $('#myModal').modal({
        show: true,
        backdrop: false,
        keyboard: false,
        remote: './dialog/index.html',
      });
    })

    $('.tab-qq').click(async function () {
      var clipboard = new ClipboardJS('.tab-qq');
      let isSuccess = 0;
      await clipboard.on('success', function (e) {
        isSuccess = 1;
        e.clearSelection();
      });

      setTimeout(function () {
        if (isSuccess) {
          $('#myModalQQ').modal({
            show: true,
            backdrop: false,
            keyboard: false,
            remote: './dialog/index.html',
          });
        } else {
          clipboard.on('error', function (e) {
          });
        }
      }, 120)
    })

    //　客服微信
    $('.tab-wx').click(function () {
      var clipboard = new ClipboardJS('.tab-wx');
      let isSuccess = 0;
      clipboard.on('success', function (e) {
        isSuccess = 1;
        e.clearSelection();
      });
      setTimeout(function () {
        if (isSuccess) {
          console.log(isSuccess, 'isSuccess');
          $('#myModalWX').modal({
            show: true,
            backdrop: false,
            keyboard: false,
            remote: './dialog/index.html',
          });
        } else {
          clipboard.on('error', function (e) {
          });
        }
      }, 120)
    })


    $('#submitDialog').click(function () {
      window.open('tel:17368683470')
    })

    $('.tab-wxPublic').click(function () {
      $('#myModalPublic').modal({
        show: true,
        backdrop: false,
        keyboard: false,
        remote: './dialog/index.html',
      });
    })

    $('#promoteImg').click(function () {
      $('#myModalPromote').modal({
        show: true,
        backdrop: false,
        keyboard: false,
        remote: './dialog/index.html',
      });
    })

    // 关闭微信公众号
    $('#myModalPublic .close-img').click(function () {
      $('#myModalPublic').modal('hide');
      $(".mode.fade").hide();
    })
    // 关闭大客户
    $('#myModalPromote .close-img').click(function () {
      $('#myModalPromote').modal('hide');
      $(".mode.fade").hide();
    })

    let sameTime = 'false';
    let timeout = 60;
    let timeout2 = 60;
    let timeout3 = 60;
    // 验证用户名输入
    function usernameValidate (val) {
      let value = val;
      let reg = /^[a-zA-Z0-9_@]{4,16}$/;
      let flag = reg.test(value);
      if (!value) {
        Helper.$message.warning({
          message: "用户名不能为空",
          showClose: true
        })
        return false;
      } else if (!flag) {
        if (value.length < 4 || value.length > 16) {
          Helper.$message.warning({
            message: "用户名长度在4到16个字符",
            showClose: true
          })
          return false;
        }
        Helper.$message.warning({
          message: "用户名只能由字母，数字，_@组成",
          showClose: true
        })
        return false;
      } else {
        sameTime = 'false';
        return true;
      }
    }

    // 验证手机格式
    function phoneValidate (val) {
      sameTime = 'true';
      let value = val;
      let reg = /^[0-9]{11}$/;
      let flag = reg.test(value);
      if (!value) {
        Helper.$message.warning({
          message: "请输入手机号",
          showClose: true
        })
        return false;
      } else if (!flag) {
        Helper.$message.error({
          message: "请输入正确的手机号码",
          showClose: true
        })
        return false;
      } else {
        sameTime = 'false';
        return true;
      }
    }

    // 验证手机验证码
    function codeValidate (val) {
      sameTime = 'true';
      let value = val;
      if (!value) {
        Helper.$message.warning({
          message: "请输入短信验证码",
          showClose: true
        })
        return false;
      }
      let reg = /^[0-9]{6}$/;
      let flag = reg.test(value);
      if (!flag) {
        Helper.$message.error({
          message: "请输入正确的短信验证码",
          showClose: true
        })
        return false;
      } else {
        sameTime = 'false';
        return true;
      }
    }

    // 验证密码
    function passwordValidate (val) {
      sameTime = 'true';
      let value = val;
      if (!value) {
        Helper.$message.warning({
          message: "请输入登录密码",
          showClose: true
        })
        return false;
      }
      let reg = /^[a-zA-Z0-9_!@#$%^&*.]{6,20}$/;
      let flag = reg.test(value);
      if (!flag) {
        if (value.length < 6 || value.length > 20) {
          Helper.$message.warning({
            message: "密码长度在6到20个字符",
            showClose: true
          })
          return false;
        }
        Helper.$message.warning({
          message: "密码只能由字母，数字，特殊符号组成",
          showClose: true
        })
        return false;
      } else {
        sameTime = 'false';
        return true;
      }
    }

    // 计数器加减事件
    $('#getReduce').click(function () {
      $(this).addClass('btnClick').siblings().removeClass('btnClick');
      let $this = $(this)[0];
      let that = $('#ip-num')[0];
      that.value = that.value - 1;
      if (that.value <= 0) {
        that.value = 0;
        $this.disabled = true;
      }
    })

    $("#getIncrease").click(function () {
      $(this).addClass('btnClick').siblings().removeClass('btnClick');
      let that = $('#ip-num')[0];
      that.value = parseInt(that.value) + 1;
      if (that.value > 0) {
        $("#getReduce")[0].disabled = false;
      }
    });
    // 数据格式切换 
    $('.data-group .menu-item').click(function () {
      $('#JSON').prop("checked") ? $('.attribute').css('display', 'block') : $('.attribute').css('display', 'none');

      $('#TXT').prop("checked") ? $('.split-sign').css('display', 'block') : $('.split-sign').css('display', 'none');
    })
    //地区选择切换
    $('.area-group .menu-item').click(function () {
      $('#province').prop("checked") ? $('.province-introduce').css('display', 'block') : $('.province-introduce').css('display', 'none');
    })

    // 注册规则验证
    //第一个注册表单　用户名失去焦点事件
    $('#userName').blur(function () {
      sameTime = 'true';
      let value = $(this).val();
      return usernameValidate.call(this, value);
    });
    $('#userName2').blur(function () {
      sameTime = 'true';
      let value = $(this).val();
      return usernameValidate.call(this, value);
    });
    $('#userName3').blur(function () {
      sameTime = 'true';
      let value = $(this).val();
      return usernameValidate.call(this, value);
    });
    $('#phoneNumber').blur(function () {
      let value = $(this).val();
      return phoneValidate.call(this, value);
    });
    $('#phoneNumber2').blur(function () {
      let value = $(this).val();
      return phoneValidate.call(this, value);
    });
    $('#phoneNumber3').blur(function () {
      let value = $(this).val();
      return phoneValidate.call(this, value);
    });

    $('#phoneCode').blur(function () {
      let value = $(this).val();
      return codeValidate.call(this, value);
    });
    $('#phoneCode2').blur(function () {
      let value = $(this).val();
      return codeValidate.call(this, value);
    });
    $('#phoneCode3').blur(function () {
      let value = $(this).val();
      return codeValidate.call(this, value);
    });

    $('#password').blur(function () {
      let value = $(this).val();
      return passwordValidate.call(this, value);
    });
    $('#password2').blur(function () {
      let value = $(this).val();
      return passwordValidate.call(this, value);
    });
    $('#password3').blur(function () {
      let value = $(this).val();
      return passwordValidate.call(this, value);
    });

    //获取验证码
    $("#getCode").click(async function () {
      if (sameTime == 'true') {
        return;
      }
      if (!usernameValidate.call($('#userName'), $('#userName').val()) || !phoneValidate.call($('#phoneNumber'), $('#phoneNumber').val())) {
        return;
      }

      let btn = $('#getCode');
      //点击按钮就将其置为不可点击，等倒计时结束将其置为可点击
      btn.attr('disabled', true);

      const phoneData = $('#phoneNumber').val().trim()

      let resp = await getRegisterCode(phoneData)
      if (resp === false) {
        btn.attr('disabled', false);
        return;
      }
      Helper.$message.success({
        message: '获取成功',
        showClose: true
      })
      btn.text(timeout2 + 's后重新获取');
      let interval = setInterval(function () {
        btn.attr('disabled', true);
        btn.text(--timeout2 + 's后重新获取');
        if (timeout2 <= 0) {
          clearInterval(interval);
          btn.html("重新获取");
          timeout2 = 60;
          btn.attr('disabled', false);
          btn.css("pointer-events", "");
        }
      }, 1000);

    });

    //获取验证码
    $("#getCode2").click(async function () {
      if (sameTime == 'true') {
        return;
      }
      if (!usernameValidate.call($('#userName2'), $('#userName2').val()) || !phoneValidate.call($('#phoneNumber2'), $('#phoneNumber2').val())) {
        return;
      }


      let btn = $('#getCode2');
      //点击按钮就将其置为不可点击，等倒计时结束将其置为可点击
      btn.attr('disabled', true);


      const phoneData = $('#phoneNumber2').val().trim()
      let resp = await getRegisterCode(phoneData)
      if (resp === false) {
        btn.attr('disabled', false);
        return;
      }
      Helper.$message.success({
        message: '获取成功',
        showClose: true
      })
      btn.text(timeout2 + 's后重新获取');
      let interval = setInterval(function () {
        btn.attr('disabled', true);
        btn.text(--timeout2 + 's后重新获取');
        if (timeout2 <= 0) {
          clearInterval(interval);
          btn.html("重新获取");
          timeout2 = 60;
          btn.attr('disabled', false);
          btn.css("pointer-events", "");
        }
      }, 1000);
    });

    $("#getCode3").click(async function () {
      if (sameTime == 'true') {
        return;
      }
      if (!usernameValidate.call($('#userName3'), $('#userName3').val()) || !phoneValidate.call($('#phoneNumber3'), $('#phoneNumber3').val())) {
        return;
      }

      let btn = $('#getCode3');
      //点击按钮就将其置为不可点击，等倒计时结束将其置为可点击
      btn.attr('disabled', true);

      const phoneData = $('#phoneNumber3').val().trim()
      let resp = await getRegisterCode(phoneData)
      if (resp === false) {
        btn.attr('disabled', false);
        return;
      }
      Helper.$message.success({
        message: '获取成功',
        showClose: true
      })
      btn.text(timeout3 + 's后重新获取');
      let interval = setInterval(function () {
        btn.attr('disabled', true);
        btn.text(--timeout3 + 's后重新获取');
        if (timeout3 <= 0) {
          clearInterval(interval);
          btn.html("重新获取");
          timeout3 = 60;
          btn.attr('disabled', false);
          btn.css("pointer-events", "");
        }
      }, 1000);
    });

    // 第一个注册
    $('#register1').click(async function () {
      if (sameTime == 'true') {
        return;
      }
      let userName = $('#userName').val().trim();
      let phone = $('#phoneNumber').val().trim();
      let code = $('#phoneCode').val().trim();
      let password = $('#password').val().trim();

      if (!usernameValidate(userName) || !phoneValidate(phone) || !passwordValidate(password) || !codeValidate(code)) {
        return;
      }

      let form = getCookie('from');
      let did = getCookie('did');
      let keyword = getCookie('keyword');
      if (!did) {
        form = localStorage.getItem('from');
        did = localStorage.getItem('did');
        keyword = localStorage.getItem('keyword');
      }



      const formData = {
        username: userName,
        userName: userName,
        pwd: password,
        phone: phone,
        code: code,
        from: form,
        did: did,
        keyword: keyword,
        readProtocol: 1,   // 推广页默认阅读协议
        agreeMent: 1,
        fingerPrint: localStorage.getItem("fingerPrint"),
        type: 'register'
      }

      let resp = await postRegister(formData)

      if (resp && resp.code === 200) {
        Helper.$message.success({
          message: '注册成功',
          showClose: true
        })

        $('#userName').val('');
        $('#phoneNumber').val('');
        $('#phoneCode').val('');
        $('#password').val('');
      } else {
        Helper.$message.error({
          message: resp && (resp.message || resp.msg) || '注册失败',
          showClose: true
        })
        return false
      }
    })

    $('#register2').click(async function () {
      if (sameTime == 'true') {
        return;
      }
      let userName = $('#userName2').val().trim();
      let phone = $('#phoneNumber2').val().trim();
      let code = $('#phoneCode2').val().trim();
      let password = $('#password2').val().trim();

      if (!usernameValidate(userName) || !phoneValidate(phone) || !passwordValidate(password) || !codeValidate(code)) {
        return;
      }

      let form = getCookie('from');
      let did = getCookie('did');
      let keyword = getCookie('keyword');
      if (!did) {
        form = localStorage.getItem('from');
        did = localStorage.getItem('did');
        keyword = localStorage.getItem('keyword');
      }

      const formData = {
        username: userName,
        userName: userName,
        pwd: password,
        phone: phone,
        code: code,
        from: form,
        did: did,
        keyword: keyword,
        readProtocol: 1,   // 推广页默认阅读协议
        agreeMent: 1,
        fingerPrint: localStorage.getItem("fingerPrint"),
        type: 'register'
      }

      let resp = await postRegister(formData);
      if (resp && resp.code === 200) {
        Helper.$message.success({
          message: '注册成功',
          showClose: true
        })
        $('#userName2').val('');
        $('#phoneNumber2').val('');
        $('#phoneCode2').val('');
        $('#password2').val('');
      } else {
        Helper.$message.error({
          message: resp && (resp.message || resp.msg) || '注册失败',
          showClose: true
        })
        return false
      }
    })

    $('#register3').click(async function () {
      if (sameTime == 'true') {
        return;
      }
      let userName = $('#userName3').val().trim();
      let phone = $('#phoneNumber3').val().trim();
      let code = $('#phoneCode3').val().trim();
      let password = $('#password3').val().trim();

      if (!usernameValidate(userName) || !phoneValidate(phone) || !passwordValidate(password) || !codeValidate(code)) {
        return;
      }

      let form = getCookie('from');
      let did = getCookie('did');
      let keyword = getCookie('keyword');
      if (!did) {
        form = localStorage.getItem('from');
        did = localStorage.getItem('did');
        keyword = localStorage.getItem('keyword');
      }

      const formData = {
        username: userName,
        userName: userName,
        pwd: password,
        phone: phone,
        code: code,
        from: form,
        did: did,
        keyword: keyword,
        readProtocol: 1,   // 推广页默认阅读协议
        agreeMent: 1,
        fingerPrint: localStorage.getItem("fingerPrint"),
        type: 'register'
      }

      let resp = await postRegister(formData);
      if (resp && resp.code === 200) {
        Helper.$message.success({
          message: '注册成功',
          showClose: true
        })
        $('#userName3').val('');
        $('#phoneNumber3').val('');
        $('#phoneCode3').val('');
        $('#password3').val('');
      } else {
        Helper.$message.error({
          message: resp && (resp.message || resp.msg) || '注册失败',
          showClose: true
        })
        return false
      }
    })
  })



















</script>