<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="force-rendering" content="webkit">
  <meta name="renderer" content="webkit">
  <meta name="keywords" content="购买代理ip,短效ip购买,代理ip包月,付费代理ip">
  <meta name="description"
    content="天启IP代理提供http代理和自动切换IP软件,支持PC/iOS/Android，千万高品质静态ip/动态ip随意选,API链接在线生成,高效稳定免费试用,国内ip代理软件就选天启HTTP">
  <title>套餐购买-天启HTTP代理</title>
  <!-- 公共css -->
  <%- include('../components/style.html'); %>
    <link rel="stylesheet" href="/css/package.css">
</head>

<body>
  <%- include('../components/header.html'); %>
    <div class="packageBuy">
      <% if(actt==='l' ) { %>
        <div class="package-banner-l">
          <div class="button">
            <a href="https://wpa1.qq.com/Lkz12X21?_type=wpa&qidian=true" target="_blank">
              <img src="/images/package/banner-button.png" alt="banner按钮" />
            </a>
          </div>
        </div>
        <% } else if(actt==='f' ) { %>
          <div class="package-banner-f">
            <div class="button">
              <a href="https://wpa1.qq.com/Lkz12X21?_type=wpa&qidian=true" target="_blank">
                <img src="/images/package/banner-button.png" alt="banner按钮" />
              </a>
            </div>
          </div>
          <% } %>
            <div class="package-content">
              <!-- 切换tab头部 -->
              <div id="changeTab" class="changeTab mediaStyle">
                <div class="tab-header current" type="1">
                  <span>余额套餐</span>
                  <i class="iconfont icon-xianxing-wenhao" data-toggle="tooltip" data-placement="top"
                  data-title="可自定义提取不同时效、地区、数量的IP，适合大多数用户"></i>
                </div>
                <div class="tab-header" type="2" id="packageTab">
                  <span>包时套餐</span>
                  <i class="iconfont icon-xianxing-wenhao" data-title="IP时效固定，可定制每日提取数量，适合每日IP需求固定的用户"></i>
                </div>
              </div>
              <div class="tabContent">
                <!-- 按次提取 tab内容 -->
                <div id="balancePackage" class="tab-balance">
                  <!-- ip价格区域 -->
                  <div class="ipPrice wow fadeInUp">
                    <div class="ipPrice-left">
                      <div class="ipPrice-title"><span>IP价格</span></div>
                      <ul class="ipPrice-list">
                        <% countMeal.forEach(function(countMeal) { %>
                          <li class="mr-40">
                            <span>
                              <%= countMeal.proxyTime %>
                            </span>分钟：【<span class="fontblod">
                              <%= countMeal.price %>
                            </span>元/IP】
                          </li>
                          <% }) %>
                      </ul>
                    </div>
                    <!-- Button trigger modal -->
                    <div class="ipPrice-markPng mt-15" data-toggle="modal" data-target="#calculatModal">
                      <span style="display: none;" id="pointMeText">点我算一算</span>
                      <div class="orText">
                        <span  id="pointMe"></span>
                      </div>
                      <img src="/images/package/calculator.png" alt="计算器">
                    </div>
                  </div>

                  <div class="rechargeAmount mt-60">
                    <div class="rechargeAmount-title mb-10"><span>选择预充值金额</span></div>
                    <ul id="selectRechargeMeals" class="amount-list wow fadeInUp animate__delay-2">
                      <!-- 选择预充值金额 -->
                      <% rechargeMeals.forEach(function(rate,index) { %>
                        <% if (index==0) { %>
                          <li class="amount-item current" price="<%= rate.price %>">
                            <% } else { %>
                          <li class="amount-item" price="<%= rate.price %>">
                            <% } %>

                              <% if (rate.giftRate && Number(rate.giftRate)>0) { %>
                                <div class="discount"><span>赠<%= rate.giftRate %>%</span></div>
                                <% } %>
                                  <div class="rechargeAmount"><span>￥<%= rate.price %></span> </div>
                                  <div class="lastAmount"><span>实到<span class="moneyFont"><%= rate.all %></span>元</span></div>
                          </li>
                          <% }) %>

                            <li class="amount-item contactUs" onclick="payMore()">
                              <div class="discount"><span>优惠+</span></div>
                              <div class="rechargeAmount"><span class="moneyFont moreMoney">预充更多金额</span></div>
                              <div class="lastAmount"><span class="moneyFont font16">联系平台客户经理</span></div>
                            </li>
                    </ul>
                  </div>
                  <!-- 我的红包 -->
                  <div id="balanceRedPacketSelect" class="redPacket mt-50">
                    <div class="redPacket-title mr-40"><span>我的红包</span></div>
                    <div>
                      <select class="form-control">
                        <option>暂无可用红包</option>
                      </select>
                    </div>
                  </div>

                  <!-- 选择支付方式 -->
                  <div class="payType mt-50">
                    <div class="payType-content">
                      <div class="payType-title mr-40"><span>选择支付方式</span></div>
                      <ul id="balancePagPayType" class="payMode">
                        <li class="aliPay mr-30 current" type="ali">
                          <!-- <img src="https://www.tianqiip.com/website/images/buy/ali.png" alt="支付宝"> -->
                          <i class="iconfont icon-zhifubao"></i>
                          <span class="ml-20">支付宝</span>
                        </li>
                        <li class="wxPay" type="weChat">
                          <!-- <img src="https://www.tianqiip.com/website/images/buy/wechat.png" alt="支付宝"> -->
                          <i class="iconfont icon-weixin"></i>
                          <span class="ml-20">微信</span>
                        </li>
                      </ul>
                    </div>
                    <div class="payType-tip mt-20"><span>友情提示：如遇微信支付异常，请使用支付宝付款或联系专属销售</span></div>
                  </div>

                  <!-- 支付金额 -->
                  <div class="payMoney">
                    <div class="payMoney-title mr-40"><span>支付金额</span></div>
                    <div class="payMoney-number mr-30"><span id="rechargeMoney" class="moneyFont">0.00</span><span>元</span></div>
                    <div class="payMoney-origin2"><span>原价：</span><span id="totalPrice2" class="moneyFont"
                        noRedPrice="0.00">0.00</span><span>元</span></div>
                    <div class="pay-button pointer bl-button" onclick="toPayMoney(1)"><span>立即支付</span></div>
                  </div>
                </div>
                <!-- 短效IP  tab内容-->
                <div id="packageTime" class="tab-packageTime" style="display: none;">
                  <ul class="package-params">
                    <li class="wt-170"><span>IP可用率：</span><span class="blue">99%</span></li>
                    <li class="wt-170"><span>多机器调用：</span><span class="blue">不限制</span></li>
                    <li class="wt-375"><span>API最快调用频率：</span><span class="blue">1秒</span></li>
                    <li class="wt-240"><span>支持协议：</span><span class="blue">HTTP/HTTPS/SOCKS</span></li>
                    <li class="wt-170"><span>单次最大提取数量：</span><span class="blue">200</span></li>
                    <li class="wt-170"><span>并发请求数量：</span><span class="blue">不限制</span></li>
                    <li class="wt-375"><span>价格计算公式：</span><span class="blue">IP单价*时长天数*提取数量*折扣比例</span></li>
                  </ul>

                  <!--选择IP时效  -->
                  <div class="package-column">
                    <div class="column-title">
                      <span>选择IP时效</span>
                    </div>

                    <ul id="selectIPTimes" class="column-list">
                      <% proxyTimes.forEach(function(proxyTime,index) { %>
                        <% if (index==0) { %>
                          <li class="current" data-id="<%= proxyTime.second %>" price="<%= proxyTime.price %>">
                            <% } else { %>
                          <li data-id="<%= proxyTime.second %>" price="<%= proxyTime.price %>">
                            <% } %>
                              <div class="times"><span>
                                  <%= proxyTime.minute %>分钟
                                </span></div>
                              <div class="amount"><span>
                                  <span class="moneyFont"><%= proxyTime.price %></span>元/IP
                                </span></div>
                          </li>
                          <% }) %>

                    </ul>
                  </div>

                  <!-- 选择购买时长 -->
                  <div id="selectBuyDuration" class="package-column">
                    <div class="column-title">
                      <span>选择购买时长</span>
                    </div>
                    <% mealDates.forEach(function(mealDate,index) { %>
                      <% if(mealDate.id==proxyTimes[0].second) { %>
                        <ul class="column-list current" meal-duration-id="<%= mealDate.id %>">
                          <% } else { %>
                            <ul class="column-list hide" meal-duration-id="<%= mealDate.id %>">
                              <% } %>

                                <% mealDate.list.forEach(function(item,index) { %>
                                  <% var days=Number(item.time)/24/60/60 %>
                                    <% if (index==0) { %>
                                      <li class="current" days="<%= days %>" data-id="<%= item.id %>">
                                        <% } else { %>
                                      <li days="<%= days %>" data-id="<%= item.id %>">
                                        <% } %>

                                          <!-- 获取当前数据的id映射至activityVoMap -->
                                          <% var mealItemId=item.id %>
                                            <% if(activityVoMap && activityVoMap[mealItemId]){ %>
                                              <% var activityType=activityVoMap[mealItemId]["activityType"] %>

                                                <!-- <% if(activityType && activityVoMap[mealItemId].rate !='100' ){ %>
                                                  <div class="discount" activityType="<%= activityType %>"
                                                    rate="<%= activityVoMap[mealItemId].rate%>">
                                                    <% if(activityType==1){ %>
                                                      <span>
                                                        <%= activityVoMap[mealItemId].rate/10 %>折
                                                      </span>
                                                    <% } %>

                                                    <% if(activityType==2){ %>
                                                      <span>赠<%= activityVoMap[mealItemId].rate%>%</span>
                                                    <% } %>


                                                  </div>
                                                <% } %> -->

                                                <!--activityType==1：折扣  -->
                                                <% if(activityType && activityType==1 && activityVoMap[mealItemId].rate
                                                  !='100' ){ %>
                                                  <div class="discount" activityType="<%= activityType %>"
                                                    rate="<%= activityVoMap[mealItemId].rate%>">
                                                    <span>
                                                      <%= activityVoMap[mealItemId].rate/10 %>折
                                                    </span>
                                                  </div>
                                                  <% } %>
                                                    <!-- 1：折扣 end -->

                                                    <!--activityType==2：增量  -->
                                                    <% if(activityType && activityType==2 &&
                                                      activityVoMap[mealItemId].rate !='0' ){ %>
                                                      <div class="discount" activityType="<%= activityType %>"
                                                        rate="<%= activityVoMap[mealItemId].rate%>">
                                                        <span>赠<%= activityVoMap[mealItemId].rate%>%</span>
                                                      </div>
                                                      <% } %>
                                                        <!-- 增量结束 -->

                                                        <% } %>
                                                          <div class="times mt-15">
                                                            <span>
                                                              <%= item.name %>
                                                            </span>
                                                          </div>

                                                          <div class="amount">
                                                            <span>
                                                              <%= days %>天
                                                            </span>
                                                          </div>
                                      </li>
                                      <% }) %>
                            </ul>
                            <% }) %>

                  </div>

                  <!-- 选择提取数量 -->
                  <div class="ipNumber mt-50">
                    <div class="column-title">
                      <span>选择提取数量</span>
                    </div>
                    <div class="content mt-40">
                      <div>
                        <div class="myProgress">
                          <input type="range" class="control-range" id="formControlRange" value="2000" max="5000000"
                            min="2000" step="2000">
                        </div>
                        <div class="number">
                          <span>2000</span>
                          <span>5000000</span>
                        </div>
                      </div>
                      <div class="counter-control ml-60">
                        <div class="decrease button" onclick="computerCounter('decrease')"><span>-</span></div>
                        <div class="enterVal"><input type="number" max="5000000" min="2000" step="2000" value="2000"
                            id="counter-enter" /></div>
                        <div class="plus button" onclick="computerCounter('plus')"><span>+</span></div>
                      </div>
                      <div id="realIpNum" class="realIpNum ml-20">实际到账<span>2000</span>IP</div>
                    </div>
                  </div>
                  <!-- 我的红包 -->
                  <div id="packTimeRedPacketSelect" class="redPacket mt-50">
                    <div class="redPacket-title mr-40"><span>我的红包</span></div>
                    <div>
                      <select class="form-control">
                        <option>暂无可用红包</option>
                      </select>
                    </div>
                  </div>
                  <!--选择支付方式  -->
                  <div class="payType mt-50">
                    <div class="payType-content">
                      <div class="payType-title mr-40"><span>选择支付方式</span></div>
                      <ul id="packagePayType" class="payMode">
                        <li class="aliPay mr-30 current" type="ali">
                          <!-- <img src="https://www.tianqiip.com/website/images/buy/ali.png" alt="支付宝"> -->
                          <i class="iconfont icon-zhifubao"></i>
                          <span class="ml-20">支付宝</span>
                        </li>
                        <!-- <li class="wxPay" data-toggle="modal" data-target="#wxPayModal"> -->
                        <li class="wxPay" type="weChat">
                          <!-- <img src="https://www.tianqiip.com/website/images/buy/wechat.png" alt="支付宝"> -->
                          <i class="iconfont icon-weixin"></i>
                          <span class="ml-20">微信</span>
                        </li>
                      </ul>
                    </div>
                    <div class="payType-tip mt-20"><span>友情提示：如遇微信支付异常，请使用支付宝付款或联系专属销售</span></div>
                  </div>
                  <!-- 支付金额 -->
                  <div class="payMoney mt-50">
                    <div class="payMoney-title mr-30"><span>支付金额</span></div>
                    <div class="payMoney-number mr-30"><span id="discountPrice" class="moneyFont">0.00</span><span>元</span></div>
                    <div class="payMoney-origin"><span>原价：</span><span id="totalPrice"
                        noRedPrice="0.00">0.00</span><span>元</span></div>
                    <div class="pay-button ml-40" onclick="toPayMoney(2)"><span>立即支付</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 计算器弹框 start-->
            <div class="modal fade calculatModal" id="calculatModal" tabindex="-1" aria-labelledby="calculatModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <!-- 弹框内容 -->
                  <div class="modal-body modalContent">
                    <div class="modal-title mt-50 mb-40  pl-100"><span>计算器换算</span></div>
                    <div class="tabHeader pl-100">
                      <div class="button current mr-40" onclick="changeModalTab(1,this)"><span>计算IP数量</span></div>
                      <div class="button" onclick="changeModalTab(2,this)"><span>计算充值金额</span></div>
                    </div>
                    <!--计算IP数量 start  -->
                    <div id="calcIpNumber" class="tabContent mt-30 pl-100">
                      <div class="enterMoney">
                        <div class="label "><span>输入金额</span></div>
                        <div>
                          <input class="ml-30 mr-30" type="number" id="calculatorIPNumber" max="100000" min="1" />
                          <span>元</span>
                          <div class="closeIcon" onclick="closeIcon()"><span>X</span></div>
                        </div>
                      </div>
                      <div class="table mt-30">
                        <div class="table-title"><span>IP数换算结果</span></div>
                        <div class="table-list mt-20" id="ipConvertResult">
                          <div class="table-row">
                            <div class="colum">IP时效</div>
                            <div class="colum">可购买IP数（个）</div>
                            <div class="colum">消耗天启币（币）</div>
                          </div>
                          <% countMeal.forEach(function(countMeal) { %>
                            <div class="table-row comRow" unitPrice="<%= countMeal.price %>">
                              <div class="colum"><span>
                                  <%= countMeal.proxyTime %>分钟 【<%= countMeal.price %>元/IP】
                                </span></div>
                              <div class="colum"><span class="orange ipNumber">--</span></div>
                              <div class="colum"><span class="orange tqNumber">--</span></div>
                            </div>
                            <% }) %>

                        </div>
                      </div>

                    </div>
                    <!-- 计算IP数量 end-->

                    <!-- 计算充值金额 -->
                    <div id="calcAmount" class="tabContent mt-30 pl-100" style="display: none;">
                      <div class="tab-title"><span>时效组合选择</span></div>
                      <ul id="rechargeAmountDialog">

                        <% countMeal.forEach(function(countMeal) { %>
                          <li class="mt-20" unitPrice="<%= countMeal.price %>">
                            <div class="times"><span>
                                <%= countMeal.proxyTime %>分钟 【<%= countMeal.price %>元/IP】
                              </span></div>
                            <div class="counter-control ml-60">
                              <div class="decrease button" onclick="computerDialog('decrease',this)"><span>-</span>
                              </div>
                              <div class="enterVal"><input type="number" max="100000" min="0" value="0"
                                  class="conterInput" />
                              </div>
                              <div class="plus button" onclick="computerDialog('plus',this)"><span>+</span></div>
                            </div>
                            <div class="ml-60">所需<span class="orange tianqiCoin">0</span>天启币</div>
                          </li>
                          <% }) %>
                      </ul>
                      <div class="result mt-30">
                        <div class="title"><span>金额换算结果</span></div>
                        <div class="deatail ml-60">预计所需<span class="orange" id="all-tianqiCoin">0</span>天启币，折合<span
                            id="rMBPay" class="orange">0</span>元
                        </div>
                      </div>
                    </div>
                    <!-- 计算充值金额 end -->
                  </div>
                </div>
              </div>
            </div>
            <!-- 计算器弹框 end-->

            <!-- 微信支付弹框 start-->
            <div class="modal fade wxPayModal" id="wxPayModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body wxPayContent">
                    <div class="dialog-title">
                      <div class="bg"></div>
                      <div class="bg"></div>
                      <div class="bg"></div>
                      <div class="bg"></div>
                      <div class="bg"></div>
                      <div class="title-text">微信扫码支付</div>
                    </div>
                    <div class="content mt-40">请在<span class="red" id="time-flag">300秒</span>内完成支付</div>
                    <div id="wxQcCode" class="mt-30 mb-40 qcCode"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 微信支付弹框 end -->
    </div>
    <%- include('../components/rightToolbar.html'); %>
      <%#公共底部 %>
        <%- include('../components/footer.html'); %>

</body>
<%- include('../components/js.html'); %>
  <script src="/lib/js/qrcode.min.js"></script>
  <script src="/lib/js/wow.min.js"></script>
  <script src="/js/package.js" async defer></script>

</html>