.userAccount {
  padding: 0 50px;
  background: rgba(255, 255, 255, 0.39);
  box-shadow: 0px 0px 20px rgba(208, 224, 255, 0.4);
  border-radius: 4px;
  .account {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .left {
      display: flex;
      font-size: 18px;
      color: #091d43;
      min-width: 500px;
      display: flex;
      align-items: center;
      .user-info {
        display: flex;
        align-items: center;
        .user-name {
          .user-edit {
            cursor: pointer;
          }
        }
      }
    }
    .account-vipInfo {
      font-size: 23px;
      color: #333333;
      line-height: 30px;
      // width: 193px;
      .orange {
        color: #ff5f00;
        font-weight: bold;
        font-family: "DIN Alternate";
      }
    }
  }
  .operation {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    .customTip {
      position: relative;
      &::before {
        content: "赠3000IP";
        color: #ffffff;
        font-size: 14px;
        line-height: 35px;
        width: 81px;
        height: 35px;
        background: linear-gradient(90deg, #fc7019 0%, #fe344d 100%);
        border-radius: 15px 15px 15px 0;
        display: block;
        position: absolute;
        top: -44px;
      }
    }

    .operate-box {
      flex-wrap: wrap;
      width: 500px;
      height: 144px;
      // background: rgba(255, 255, 255, 0.39);
      box-shadow: 0px 0px 20px rgba(208, 224, 255, 0.4);
      // opacity: 0.6;
      border-radius: 8px;
      padding: 30px 40px;
      box-sizing: border-box;
      background-image: linear-gradient(to bottom left, rgba(208, 224, 255, 0.5), #fff, #fff, #fff);
      background-size: 200px 200px;
      background-repeat: no-repeat;
      background-position: right top;
      .name {
        font-size: 18px;
        line-height: 24px;
        color: #677294;
      }
      .content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .number {
          font-size: 20px;
          color: #091d43;
          line-height: 40px;
          font-family: "DIN Alternate";
        }
      }
      .explain {
        font-size: 14px;
        line-height: 21px;
        color: #091d43;
      }
      .alginRight {
        text-align: right;
      }
    }
    .operate-box-big {
      width: 500px;
      height: 204px;
    }
    .saleBox {
      display: flex;
      justify-content: space-between;
      .saleInfo {
        width: 200px;
        .sale-name {
          font-size: 16px;
          line-height: 21px;
          color: #091d43;
        }
        .telep {
          font-size: 20px;
          line-height: 26px;
          color: #091d43;
          .number {
            font-family: "DIN Alternate";
          }
          .copyBtn {
            font-size: 14px;
            line-height: 26px;
            color: #1968fc;
            cursor: pointer;
          }
        }
      }
    }
    .balance {
      .balance-name {
        font-size: 18px;
        line-height: 24px;
        color: #677294;
        .iconHover {
          position: absolute;
          i {
            font-size: 18px;
            color: #b2bccb;
            cursor: pointer;
          }
          .iconfont:nth-of-type(1) {
            display: block;
          }
          .iconfont:nth-of-type(2) {
            color: #1968fc;
            display: none;
          }
          &:hover {
            .iconfont:nth-of-type(1) {
              display: none;
            }
            .iconfont:nth-of-type(2) {
              display: block;
            }
          }
        }
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        .amount span {
          font-size: 22px;
          font-weight: bold;
          line-height: 40px;
          color: #091d43;
          font-family: "DIN Alternate";
        }
      }
    }
  }
}
.pointer {
  cursor: pointer;
}
