.gift-wrap{
  display: grid;
  gap: 30px 80px;
  grid-template-columns: repeat(auto-fill, minmax(auto, 440px));
  grid-auto-rows: 110px;
  justify-content: center;

  padding-top: 40px;
  .gift {
    display: flex;
    background-image: url('assets/images/gift.png');
    background-size: 113% 149%;
    background-position: center;
    box-shadow: 0px 0px 20px rgba(208, 224, 255, 0.4);

    .gift-header{
      display: grid;
      grid-template-rows: 65px 35px;
      row-gap: 8px;
      width: 140px;
      height: 110px;
      border-radius: 4px 0 0 4px;
      div{
        color: #FFFFFF;
        text-align: center;
        &:first-child{
          align-self: end;
          font-size: 30px;
          span{
            display: inline-block;
            width: 24px;
            font-size: 22px;
          }
        }
        &:nth-child(2){
          font-size: 13px;
        }
      }

      /* 裁剪div */ 
    }

    .gift-text{
      display: grid;
      grid-template-rows: 65px 35px;
      width: 250px;
      div{
        padding-left: 30px;
        &:first-child {
          padding-top: 8px;
          align-self: center;
          font-size: 18px;
          color: #4C5664;
        }
        &:nth-child(2) {
          font-size: 12px;
          color: #677294;
        }
      }
    }

    .gift-use {
      display: flex;
      justify-content: center;
      align-items: center;
      width: min-content;
      padding: 0px 4%;
      font-size: 14px;
      color: #FF7D55;
      cursor: pointer;

    }
  }

  .show-gift {
    grid-column: 1 / span 2;
    text-align: end;
    font-size: 16px;
    color: #1968FC;
    cursor: pointer;
  }

  .gift.gift-used{
    .gift-header{
      background: #E4E5EB;
    }
    .gift-text>div,.gift-use{
      color: #B2BCCB;
    }
  }
}