.common-btnGroup {
  text-align: right;
}
.common-btnGroup.center {
  text-align: center;
}
.formContent {
  padding: 40px;
  .remarks {
    height: 48px;
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
    color: #fc7019;
  }
  .vaildCode {
    display: flex;
  }
}
.authContent {
  padding: 0 40px;
  text-align: center;
  .explain {
    font-size: 16px;
    line-height: 21px;
    color: #677294;
  }
  .scan {
    width: 240px;
    height: 240px;
    background: #fc7019;
    margin: auto;
    .qcCode {
      width: 100%;
      height: 100%;
    }
  }
  .title {
    line-height: 21px;
    font-size: 16px;
    color: #fc7019;
  }
  .erro {
    color: #f8486f;
  }
}
.tip {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: #677294;
  text-align: left;
  span {
    display: inline-block;
  }
}

.ft-20 {
  font-size: 20px;
}

.customize_dialog {
  .dialog-body {
    font-size: 16px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    color: #677294;
    padding: 30px;
    box-sizing: border-box;
  }

  .child-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
    margin: 0;
    box-sizing: border-box;
  }
  .el-form-item {
    margin-bottom: 20px !important;
    &.child-item {
      align-items: flex-start;
    }
    .form-item-tip {
      line-height: initial;
      font-size: 14px;
      font-weight: 400;
      margin-top: 6px;
    }
    .el-form-item__content {
      width: 200px;
    }
  }

  .clear-padding {
    padding: 0;
  }

  .child-elem {
    margin-right: 20px;

    &:last-child {
      margin: 0;
    }
  }

  .lighting {
    font-family: "DIN Alternate";
    font-size: 20px;
    font-weight: 600;
    color: #fc7019;
  }
  .tip {
    font-size: 14px;
    font-weight: 400;
    color: #fc7019;
  }

  .pay-tip {
    color: #4c5664;
    padding: 0;
    justify-content: center;
    margin-bottom: 16px;
  }
  .countdown {
    margin: 0 4px;
    color: #f8486f;
  }

  .code {
    position: relative;
    .code_img {
      position: absolute;
      z-index: 9999;
      top: 50%;
      left: 50%;
      width: 40px;
      height: 40px;
      transform: translate(-50%, -50%);
    }
    .code-url {
      // background: #333333;
      width: 100%;
      text-align: center;
      margin: auto;
    }
  }

  .pay-btn {
    width: auto;
    height: auto;
    margin: 10px 0;
    border: 1px solid transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 40px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.39);
    box-shadow: 0px 0px 20px rgba(208, 224, 255, 0.5);
    border-radius: 8px;

    img {
      width: 30px;
      vertical-align: middle;
      margin-right: 8px;
    }
    span {
      color: #333333;
    }
    &:first-child {
      margin-right: 20px;
    }
  }

  .pay-btn:hover {
    cursor: pointer;
  }

  .dialog-footer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-right: 20px;
    &.double-item {
      justify-content: flex-end;
      ::v-deep(.el-button) {
        &:first-child {
          margin-right: 20px;
        }
      }
    }
  }

  .footer-double {
    justify-content: flex-end;
    padding-top: 0;
    padding-bottom: 0;
  }

  .submit-btn {
    width: 200px;
    height: 40px;
    background: rgba(252, 112, 25, 1);
    border-color: transparent;
    border-radius: 4px;
  }

  .checked {
    border-color: #3e6ae2;
  }
}

@media screen and (max-width: 440px) {
  .customize_dialog {
    .pay-btn {
      padding: 8px 30px;
      border-radius: 6px;
      img {
        width: 30px;
        vertical-align: middle;
        margin-right: 8px;
      }
      span {
        color: #333333;
      }
      &:first-child {
        margin-right: 20px;
      }
    }

    .pay-btn:hover {
      cursor: pointer;
    }

    .checked {
      border-color: #3e6ae2;
    }
  }
}
