<!--
 * @Author: 秦琛
 * @LastEditors: 秦琛
 * @description: page description
 * @Date: 2022-05-12 11:10:24
 * @LastEditTime: 2022-05-12 14:28:14
-->
<!-- 模态框 -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
                提示
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                确定拨打电话：17368683470？
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" id="submitDialog" class="btn btn-secondary" data-dismiss="modal">确认</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModalQQ">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
                提示
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                客服QQ号复制成功！
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" id="submitQQ" class="btn btn-secondary" data-dismiss="modal">确认</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModalWX">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
                提示
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                客服微信号复制成功！
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" id="submitWX" class="btn btn-secondary" data-dismiss="modal">确认</button>
            </div>

        </div>
    </div>
</div>

<!-- 大客户 -->
<div class="modal fade" id="myModalPromote">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
                <span>微信公众号</span>
                <img class="close-img" src="/images/promotion/close.png"
                    srcset="/images/promotion/close.png 375w, /images/promotion/close@2x.png 750w, /images/promotion/close@3x.png 800w">
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <img class="public-img" src="/images/promotion/public-code.png"
                    srcset="/images/promotion/public-code.png 375w, /images/promotion/public-code@2x.png 750w, /images/promotion/public-code@3x.png 800w">
                <div class="save-bottom">
                    <span>长按图片保存</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 微信公众号 -->
<div class="modal fade" id="myModalPublic">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
                <span>微信公众号</span>
                <img class="close-img" src="/images/promotion/close.png"
                    srcset="/images/promotion/close.png 375w, /images/promotion/close@2x.png 750w, /images/promotion/close@3x.png 800w">
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <img class="public-img" src="/images/promotion/public-code.png"
                    srcset="/images/promotion/public-code.png 375w, /images/promotion/public-code@2x.png 750w, /images/promotion/public-code@3x.png 800w">
                <div class="save-bottom">
                    <span>长按图片保存</span>
                </div>
            </div>
        </div>
    </div>
</div>