<!--
 * @Author: 李云涛
 * @LastEditors: 李云涛
 * @description: page description
 * @Date: 2022-04-27 14:30:33
 * @LastEditTime: 2022-04-27 14:30:33
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="force-rendering" content="webkit">
  <meta name="renderer" content="webkit">
  <meta name="keywords" content="天启http">
  <meta name="description" content="天启http">
  <title>企业服务</title>
</head>
<body>
  <h1>企业服务</h1>
  <div>
    <%=name%>
  </div>
  <div>
    <%=data%>
  </div>
</body>
</html>