/******** moduleName:全局样式维护 *******/
/* stylelint-disable */
body {
  font-size: 14px;
  font-family: "PingFang SC";
}
// 设置页面最小占满整屏
html,
body,
#app {
  height: 100%;
}

a:hover {
  cursor: pointer;
  color: $main;
}

//自定义滚动条
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 6px;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 4px;
  background: rgba(144, 147, 153, 0.5);
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  border-radius: 4px;
  background: #ededed;
  position: relative;
  z-index: 9999;
}
.layout {
  width: 100%;
  height: 100%;
}
//文本部分
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

//flex 布局相关
.flex {
  display: flex !important;
}

.basis-xs {
  flex-basis: 20%;
}

.basis-sm {
  flex-basis: 40%;
}

.basis-df {
  flex-basis: 50%;
}

.basis-lg {
  flex-basis: 60%;
}

.basis-xl {
  flex-basis: 80%;
}

.flex-sub {
  flex: 1;
}

.flex-twice {
  flex: 2;
}

.flex-treble {
  flex: 3;
}

.flex-direction {
  flex-direction: column !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.align-start {
  align-items: flex-start !important;
}
.flex-grow {
  flex-grow: 1 !important;
}
.align-end {
  align-items: flex-end !important;
}

.align-center {
  align-items: center !important;
}

.align-stretch {
  align-items: stretch !important;
}

.self-start {
  align-self: flex-start !important;
}

.self-center {
  align-self: center !important;
}

.self-end {
  align-self: flex-end !important;
}

.self-stretch {
  align-self: stretch !important;
}

.align-stretch {
  align-items: stretch !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-around {
  justify-content: space-around !important;
}

//字体大小相关
.text-sm {
  font-size: 12px;
}

.text-md {
  font-size: 13px;
}

.text-lg {
  font-size: 14px;
}
.text-lm {
  font-size: 16px;
}
.text-l {
  font-size: 18px;
}

//外边距相关
//距离顶部距离
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
//底部边距
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
//左侧边距
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-25 {
  margin-left: 25px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-50 {
  margin-left: 50px;
}
//右侧边距
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-25 {
  margin-right: 25px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-50 {
  margin-right: 50px;
}
//内边距
.pt-5 {
  padding-top: 5px;
}
.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-30 {
  padding-right: 30px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-30 {
  padding-left: 30px;
}
.pv-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pv-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
// 纵向padding
.pv-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
// 水平padding
.ph-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.ph-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.ph-16 {
  padding: 0 16px;
}

//添加

.widthAll {
  width: 100%;
}
.hover:hover {
  cursor: pointer;
}
.mainColor {
  color: $main;
}
