/******** moduleName:全局变量管理 *******/

//颜色管理
$main: #6153ff; //主色
$fontColor: #1e183f; //正文文字、按钮、ICON颜色
$thinH1: #f99945; //强调性按钮颜色
$thinH2: #1989fa;
$bgColor: #f6f5ff; //背景底色（或卡片间分割颜色）
$desc: #666; //说明性文字颜色及Keyword、Reviews下正文颜色;
$sign: #999; //输入前说明性文字颜色及搜索框文字颜色
$gray: #f9f9f9; //Keyword、Reviews下背景颜色及搜索框颜色
$disabled: #ccc; //输入框中删除按钮色、不可编辑色
$border: #ebeef5; //边框描边、分割线颜色

//圆角数值
$radius: 3px; //按钮圆角
$cardRadius: 6px; //卡片圆角

//字体相关
$fontTitle: 18px; //标题字体
$fontSecond: 14px; //次级标题
$fontText: 13px; //普通文本
$fontCommon: 12px; //通用大小
