<!--
 * @Author: 秦琛
 * @LastEditors: 李云涛
 * @description: 公共头部导航
 * @Date: 2022-05-09 09:48:25
 * @LastEditTime: 2022-05-11 18:18:38
-->
<link rel="stylesheet" href="/css/header.css">
<div class="header">
  <div class="header-main">
    <!-- logo -->
    <div class="logo">
      <img src="/images/tq_logo.png" alt="天启HTTP" title="天启HTTP">
      <span class="logo-title box-border">天启HTTP</span>
    </div>
    <!-- 中间导航 -->
    <nav class="nav-wrap">

      <div class="nav-body">
        <ul class="nav-list">
          <li class="nav-item box-border">
            <a href="/" title="首页">首页</a>
          </li>
          <li class="nav-item box-border">
            <a href="/getIp" title="礼券管理">礼券管理</a>
          </li>
          <li class="nav-item box-border">
            <a href="/package" title="套餐购买">套餐购买v</a>
          </li>
          <li class="nav-item box-border">
            <a href="/getIp" title="提取IP">提取IPv</a>
          </li>
          <li class="nav-item box-border">
            <a href="/businessScene" title="业务场景">业务场景v</a>
          </li>
          <li class="nav-item box-border">
            <a href="/helpCenter" title="帮助中心">帮助中心</a>
          </li>
          <li class="nav-item box-border">
            <a href="/firmsServer" title="企业服务">提取IPv</a>
          </li>
        </ul>
      </div>


      <!-- 双态icon -->
      <div class="nav-toggler">
        <span>显示</span>
      </div>
    </nav>
    <!-- 右侧按钮/登录信息 -->
    <div class="user">
      <%=name %>
    </div>
  </div>
</div>
<!-- <script src="../../static/js/header/index.js"></script> -->

<!-- controller manager部分 fs模块引入ejs %- 路径找不到，暂时解决办法 -->
<!-- !!!   在这加模块 -->
<script src="/lib/js/jquery-3.5.1.min.js"></script>
<script src="/lib/js/bootstrap.min.js"></script>
<script src="/lib/js/popper.min.js"></script>
<script src="/lib/js/utils.js"></script>

<script>
  $(function () {
    let resizeTimer = null;
    const headerAttr = {
      allWidth: 0,
      mainWidth: 0,  // 所有导航子元素加起来的宽度
      itemWidth: 0,  // 导航子元素宽度 + padding + margin
      logoWidth: 0,  // logo区域宽度
      navRightWidth: 0,  // 右侧登陆注册区域宽度
    }
    function toggleHead () {


      let windowWidth = $(window).width();
      headerAttr.logoWidth = $('.header-main .logo').outerWidth(true);
      headerAttr.navRightWidth = $('.header-main .user').outerWidth(true);

      const domTree = $('.header-main .nav-list .nav-item');
      domTree.each(function (index) {
        headerAttr.itemWidth = $(this).outerWidth(true);
        headerAttr.mainWidth += headerAttr.itemWidth
      })

      headerAttr.allWidth = headerAttr.logoWidth + headerAttr.navRightWidth + headerAttr.mainWidth;
      console.log(headerAttr.allWidth, 'headerAttr.allWidth');
    }
    toggleHead();

    $('.nav-toggler').click(function () {
      if ($('.header-main .nav-body').hasClass('show')) {
        $('.header-main .nav-body').removeClass('show')
      } else {
        $('.header-main .nav-body').addClass('show');
        $('.header-main .nav-body .nav-list').addClass('adjust_position').css("margin-right", headerAttr.navRightWidth - 10)
      }

    })

    window.onresize = function () {
      if (resizeTimer) {
        clearTimeout(resizeTimer);
      }
      // //再重新开始下一轮等待
      resizeTimer = setTimeout(function () {
        toggleHead();
      }, 200);
    }
  })
</script>