<%# * @description: 公共顶部模板 %>
  <%# 判断是否登录 %>
    <% if (token) { %>
      <script>
        window.isLogin = true
      </script>
      <% }else { %>
        <script>
          window.isLogin = false
        </script>
        <% } %>

          <div class="header">
            <div class="header-main align-center">
              <!-- logo -->
              <div class="logo align-center">
                <img src="/images/tq_logo.png" alt="天启HTTP" title="天启HTTP">
                <span class="logo-title box-border ml-10">天启HTTP</span>
              </div>
              <!-- 中间导航 -->
              <nav class="nav-wrap">
                <div class="nav-body">
                  <ul class="nav-list">
                    <li class="nav-item box-border" data-path="index">
                      <a href="/" title="首页">首页</a>
                    </li>
                    <!-- 后期会配置红包礼券领取 根据活动时间动态显示-->
                    <!-- <li class="nav-item box-border">
            <a href="/getIp" title="礼券管理">礼券管理</a>
          </li> -->
                    <li class="nav-item box-border nav-meal" data-path="package">
                      <a href="/package" title="套餐购买">
                        <span>套餐购买</span>
                        <i class="iconfont icon-xiala"></i>
                      </a>
                      <!-- 子导航 -->
                      <ul class="child-list flex-center">
                        <li class="child-item" onclick="jumpPackage(1)">
                          <div class="title flex-center justify-start">
                            <span class="meal-icon icon_first"></span>
                            <span class="title-type">余额套餐</span>
                            <% if(HEADER_ACTIVE_TAB && HEADER_ACTIVE_TAB.maxRechargeGift) { %>
                              <div class="activity">
                                加赠<%= HEADER_ACTIVE_TAB.maxRechargeGift %>%
                              </div>
                              <% } else { %>
                                <!-- 仅仅留作占位 -->
                                <span></span>
                                <% } %>
                          </div>
                          <span class="describe">
                            余额充值提取，自定义IP时效地区、数量
                          </span>
                        </li>

                        <li class="child-item" onclick="jumpPackage(2)">
                          <div class="title flex-center justify-start">
                            <span class="meal-icon icon_second"></span>
                            <span class="title-type">包时套餐</span>
                            <% if(HEADER_ACTIVE_TAB && HEADER_ACTIVE_TAB.minPurchaseRate) { %>
                              <div class="activity">
                                限时<%= HEADER_ACTIVE_TAB.minPurchaseRate %>折
                              </div>
                              <% } else { %>
                                <span></span>
                                <% } %>
                          </div>
                          <span class="describe">
                            每日固定IP提取量，3 / 5 / 10 /15 分钟时效IP
                          </span>
                        </li>
                      </ul>
                    </li>

                    <li class="nav-item box-border nav-ip" data-path="getIp">
                      <a href="/getIp" title="提取IP">
                        <span>提取IP</span>
                        <i class="iconfont icon-xiala"></i>
                      </a>

                      <!-- 子导航 -->
                      <ul class="child-list flex-center child-vertical align-start ">
                        <li class="child-item">
                          <div class="title flex-center justify-start">
                            <a href="/getIp">
                              <span class="meal-icon icon_third"></span>
                              <span class="title-type">API提取</span>
                            </a>
                          </div>
                        </li>

                        <li class="child-item">
                          <div class="title flex-center justify-start">
                            <a href="/getIp?a_id=cd">
                              <span class="meal-icon icon_forth"></span>
                              <span class="title-type">代码demo</span>
                            </a>
                          </div>
                        </li>
                      </ul>
                    </li>

                    <li class="nav-item box-border nav-business" data-path="businessScene">
                      <a href="/businessScene" title="业务场景">
                        <span>业务场景</span>
                        <i class="iconfont icon-xiala"></i>
                      </a>

                      <!-- 子导航 -->
                      <ul class="child-list flex-center mixed-range">
                        <a href="/businessScene/1.html" class="child-link">
                          <li class="child-item">
                            <div class="meal-icon nav_first"></div>
                            <div class="content">
                              <span class="title-type">市场调查</span>
                              <span class="describe">
                                收集全网行业数据，
                                了解竞争对手动态
                              </span>
                            </div>
                          </li>
                        </a>

                        <a href="/businessScene/2.html" class="child-link">
                          <li class="child-item">
                            <div class="meal-icon nav_second"></div>
                            <div class="content">
                              <span class="title-type">社交采集</span>
                              <span class="describe">
                                采集社交媒体数据，
                                为企业提供支持
                              </span>
                            </div>
                          </li>
                        </a>

                        <a href="/businessScene/3.html" class="child-link">
                          <li class="child-item">
                            <div class="meal-icon nav_third"></div>
                            <div class="content">
                              <span class="title-type">品牌保护</span>
                              <span class="describe">
                                保护品牌商标打造，
                                优质品牌形象
                              </span>
                            </div>
                          </li>
                        </a>

                        <a href="/businessScene/4.html" class="child-link">
                          <li class="child-item">
                            <div class="meal-icon nav_forth"></div>
                            <div class="content">
                              <span class="title-type">SEO情报</span>
                              <span class="describe">
                                收集搜索引擎情报，
                                提升品牌收益
                              </span>
                            </div>
                          </li>
                        </a>

                        <a href="/businessScene/5.html" class="child-link">
                          <li class="child-item">
                            <div class="meal-icon nav_fifth"></div>
                            <div class="content">
                              <span class="title-type">电子商务</span>
                              <span class="describe">
                                淘宝、京东、拼多
                                多等电商平台抢购
                              </span>
                            </div>
                          </li>
                        </a>

                        <a href="/businessScene/6.html" class="child-link">
                          <li class="child-item">
                            <div class="meal-icon nav_sixth"></div>
                            <div class="content">
                              <span class="title-type">价格监控</span>
                              <span class="describe">
                                利用优质代理IP监
                                控行业动态价格
                              </span>
                            </div>
                          </li>
                        </a>
                      </ul>
                    </li>

                    <li class="nav-item box-border nav-help" data-path="help-center">
                      <a href="/help-center" title="帮助中心">
                        <span>帮助中心</span>
                        <i class="iconfont icon-xiala"></i>
                      </a>

                      <!-- 子导航 -->
                      <ul class="child-list flex-center child-vertical align-start ">
                        <% CATEGORY_TYPES && CATEGORY_TYPES.forEach(function(item,index) { %>
                          <li class="child-item">
                            <div class="title flex-center justify-around">
                              <span
                                class="meal-icon  <%- index%3 === 0 ? 'icon_fifth' : (index%3 === 1 ? 'icon_sixth' : 'icon_seventh') %> "></span>
                              <a class="title-type" href="/help-center/<%= item.typeAlias%>/1.html">
                                <%= item.type %>
                              </a>
                            </div>
                          </li>
                          <% }) %>
                      </ul>
                    </li>

                    <li class="nav-item box-border" data-path="firmsServer">
                      <a href="/firmsServer">
                        <span>企业服务</span>
                      </a>
                    </li>
                  </ul>
                </div>


                <!-- 双态icon -->
                <div class="nav-toggler">
                  <!-- <span>显示</span> -->
                  <i class="iconfont icon-zhankai"></i>
                </div>
              </nav>
              <!-- 右侧按钮/登录信息 -->
              <div class="user btn">
                <% if(token) { %>
                  <a href="/manager/user" title="个人中心" class="default-btn button person-center text-gray">个人中心</a>
                  <a href="javascript:void(0)" class="bl-l-button button user-logout text-center"
                    onclick="layout()"><span>退出</span></a>
                  <% } else { %>
                    <a href="/login" class="bl-button button user-login text-white"><span>登录</span></a>
                    <a href="/register" class="or-button button user-register text-white"><span>注册</span></a>
                    <% } %>
              </div>
            </div>
          </div>