
<link rel="stylesheet" href="/css/activity.css">
<!-- 弹窗部分 -->
<% if(actt === 'd'){ %>

<% } else { %>
  <div class="home-dialog-wrap">
    <% if(actt === 'l') { %>
      <div class="home-dialog-l center-dialog-jump">
      </div>
    <% } else if(actt === 'f') { %>
      <div class="home-dialog-f center-dialog-jump">
      </div>
    <% } %>

  
    <div class="close-center-dialog-btn">
      <i class="iconfont icon-guanbi close-i" onclick="closeDialog('home-dialog-wrap', 'left-dialog-wrap')"></i>
    </div>
  
  </div>

  <div class="left-dialog-wrap  left-dialog-jump" style="display: none;">
    <% if(actt === 'l') { %>
      <div class="left-dialog-l">
      </div>
    <% } else if(actt === 'f') { %>
      <div class="left-dialog-f">
      </div>
    <% } %> 
    <div class="close-left-dialog-btn">
      <i class="iconfont icon-guanbi close-i" onclick="closeDialog('left-dialog-wrap')"></i>
    </div>
  </div>
<% } %>


<script>
  let dia_token = JSON.parse(JSON.stringify('<%- token %>'))
  let actt = JSON.parse(JSON.stringify('<%- actt %>'))
</script>