<!--
 * @Author: liyuntao
 * @LastEditors: liyuntao
 * @description: page description
 * @Date: 2022-05-25 17:47:24
 * @LastEditTime: 2022-05-26 15:04:54
-->

<%# 
 * @description: 右侧咨询框模板
%> 
<link rel="stylesheet" href="/css/rightToolbar.css">
<ul class="rightToolbar mediaStyle">
  <li class="toolbar-gift" onclick="freeGift()" >
    <!-- <div class="">

    </div> -->
  </li>
  <li class="toolbar mt-20">
    <div class="toolbar-consult toolbar-item">
      <a href="https://wpa1.qq.com/Lkz12X21?_type=wpa&qidian=true" target="_blank">
        <div class="right">
          <div class=" toolbar-backg backg-1"></div>
          <div class="mt-10"><span>在线咨询</span></div>
        </div>
      </a>
    </div>
    <div class="toolbar-consult toolbar-item">
      <div class="cooperate-left pr-30">
        <div class="left-box">
          <div class="title pt-30"><span>大客户经理</span></div>
          <ul>
            <li class="mt-20">
              <div class="QQ image mr-15"></div>
              <div class="number"><span id="managerQQ">800183207</span></div>
              <div class="ml-15 copy pointer"><span onclick="theCopy('managerQQ')">复制</span></div>
            </li>
            <li class="mt-20">
              <div class="telephone image mr-15"></div>
              <div class="number"><span id="managerTelep">13260755168</span></div>
              <div class="ml-15 copy pointer"><span onclick="theCopy('managerTelep')">复制</span></div>
            </li>
            <li class="mt-20">
              <div class="wx image mr-15"></div>
              <div class="number"><span>13260755168</span></div>
              <!-- <div class="ml-15 copy"><span>复制</span></div> -->
            </li>
          </ul>
          <div class="qrCode mt-25 pb-40">
            <img src="/images/rightToolbar/managerWX.png" alt="大客户经理">
          </div>
        </div>
      </div>

      <div class="right pointer">
        <div class="toolbar-backg backg-2"></div>
        <div class="mt-10"><span>商务合作</span></div>
      </div>
    </div>
    <div class="toolbar-publicNum toolbar-item">
      <div class="publicNum-left">
        <div class="left-box">
          <div class="title pt-30"><span>关注公众号</span></div>
          <div class="qrCode mt-20">
            <img src="/images/promotion/public-code.png" style="width: 70%; height: 70%;" alt="关注公众号">
          </div>
          <div class="desc mt-20 pb-30"><span>关注公众号，享受更多优惠</span></div>
        </div>

      </div>
      <div class="right pointer">
        <div class="toolbar-backg backg-3"></div>
        <div class="mt-10"><span>公众号</span></div>
      </div>
    </div>
  </li>
  <li class="toolbar-toTop mt-30">
    <a onclick="topToWindow()">
      <div class="toolbar-backg backg-4"></div>
      <div class="mt-10"><span>置顶</span></div>
    </a>
  </li>
</ul>
<div>
  <textarea id="myTextArea" style="opacity: 0;"></textarea>
</div>


<script src="/js/rightToolbar.js"></script>