<!--
 * @Author: 朱占伟
 * @LastEditors: 秦琛
 * @description: 公共css文件
 * @Date: 2022-04-22 16:18:59
 * @LastEditTime: 2022-05-12 15:04:23
-->
<link href="/images/favicon.ico" rel="shortcut icon">
<link rel="stylesheet" href="/lib/css/bootstrap.min.css">
<link rel="stylesheet" href="/lib/css/animate.min.css">

<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/iconfont.css">
<link rel="stylesheet" href="/css/public.css">

<!-- 适配部分 -->
<link rel="stylesheet" href="/css/media.mobile.css" media="screen and (max-width: 768px)">
<link rel="stylesheet" href="/css/media.ipad.css" media="screen and (max-width: 1200px)">