<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include('../components/style.html'); %>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <div class="lrr-wrap">
    <div class="card-bg">

    </div>
    <section id="login-card" class="lrr-card is-active">
      <div class="lrr-title">
        Login
      </div>
      <form onsubmit="return function () { return false }">
        <div class="form-item">
          <input type="text" id="user-input" class="form-input" placeholder="username">
          <label for="user-input" class="form-label"> UserName </label>
        </div>
        <div class="form-item">
          <input type="text" id="pw-input" class="form-input" placeholder="password">
          <label for="pw-input" class="form-label"> PassWord </label>
        </div>
        <button class="form-btn" type="button">
          Login
        </button>
      </form>
      <div class="card-change">
        <span class="reg-bt">
          Register
        </span>
      </div>
      <div class="card-change">
        <span class="reset-bt">
          Reset
        </span>
      </div>
      <div class="hitokoto">
        <div>
          <%= hito.hitokoto %>
        </div>
        <div class="hito-from">
          --<%= hito.from %>
        </div>
      </div>
    </section>
    <section id="register-card" class="lrr-card is-unactive-1">
      <div class="lrr-title">
        Register
      </div>
      <form onsubmit="return function () { return false }">
        <div class="form-item">
          <input type="text" id="user-input" class="form-input" placeholder="username">
          <label for="user-input" class="form-label"> UserName </label>
        </div>
        <div class="form-item">
          <input type="text" id="pw-input" class="form-input" placeholder="password">
          <label for="pw-input" class="form-label"> PassWord </label>
        </div>
        <div class="form-item">
          <input type="text" id="pw-input" class="form-input" placeholder="password">
          <label for="pw-input" class="form-label"> Again PW </label>
        </div>
        <button class="form-btn" type="button">
          Register
        </button>
      </form>
      <div class="card-change">
        <span class="login-bt">
          Login
        </span>
      </div>
      <div class="card-change">
        <span class="reset-bt">
          Reset
        </span>
      </div>
    </section>
    <section id="reset-card" class="lrr-card is-unactive-2">
      <div class="lrr-title">
        Reset
      </div>
      <form onsubmit="return function () { return false }">
        <div class="form-item">
          <input type="text" id="user-input" class="form-input" placeholder="username">
          <label for="user-input" class="form-label"> UserName </label>
        </div>
        <div class="form-item">
          <input type="text" id="pw-input" class="form-input" placeholder="password">
          <label for="pw-input" class="form-label"> PassWord </label>
        </div>
        <div class="form-item">
          <input type="text" id="pw-input" class="form-input" placeholder="password">
          <label for="pw-input" class="form-label"> Again PW </label>
        </div>
        <button class="form-btn" type="button">
          Register
        </button>
      </form>
      <div class="card-change">
        <span class="login-bt">
          Login
        </span>
      </div>
      <div class="card-change">
        <span class="reset-bt">
          Register
        </span>
      </div>
    </section>
  </div>
</body>
<script src="/js/login.js"></script>
</html>