<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="force-rendering" content="webkit">
  <meta name="renderer" content="webkit">
  <meta name="keywords" content="天启http">
  <meta name="description" content="天启http">
  <title>
    <%= title%>
  </title>
  <%- include('../components/style.html'); %>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body style="margin-bottom: 20px">
  <%- include('../components/header.html'); %>
    <div class="login">
      <div class="login-page">
        <div class="flex justify-content-between align-items-center flex-wrap ">
          <div class="login-banager">
            <div>
              <div class="bg"></div>
              <p class="text-blue mt-30">完成注册+关注公众号+实名认证=更多免费IP</p>
            </div>
          </div>
          <div class="login-box pb-40">
            <form name="login" method="post">
              <%# 表单标题 %>
                <% if(pageType !=='reset' ){ %>
                  <h3 class="pt-40 pb-40">天启HTTP会员<%= pageType==='login' ? "登录" : "注册" %>
                  </h3>
                  <% }else { %>
                    <h3 class="pt-40 pb-40">重置密码</h3>
                    <% } %>

                      <%# 手机号/账号 %>
                        <div class="flex justify-content-center form-input">
                          <input type="text" placeholder='<%= pageType===' login' ? "请输入账号" : "请输入手机号" %>' name="phone">
                        </div>

                        <div class="flex align-items-center ml-60 mt-10 login-danger" id="phone">
                          请输入账号
                        </div>


                        <%# 短信验证码 %>
                          <% if(pageType !=='login' ){ %>
                            <div class="mt-20 flex justify-content-center login-other  margin-auto form-input">
                              <input type="number" placeholder="请输入短信验证码" name="code">
                              <input id="obn-code" class="btn  btn-outline-code ml-30" type="button" value="获取验证码"
                                onclick="sendCode('<%=pageType%>')">
                            </div>
                            <div class="flex align-items-center ml-60 mt-10 login-danger" id="code">
                              请输入验证码
                            </div>
                            <% } %>
                              <%# 用户名 %>
                                <% if(pageType==='register' ){ %>
                                  <div class="mt-20 flex justify-content-center form-input">
                                    <input type="text" placeholder="请设置用户名" name="userName">
                                  </div>

                                  <div class="flex align-items-center ml-60 mt-10 login-danger" id="userName">
                                    请设置用户名
                                  </div>
                                  <% } %>



                                    <%# 密码 %>
                                      <div class="mt-20 flex justify-content-center form-input">
                                        <input name="pwd" type="password"
                                          placeholder="<%= pageType==='login' ? '请输入密码' : '请设置登录密码'%> ">
                                      </div>
                                      <div class="flex align-items-center ml-60 mt-10 login-danger" id="pwd">
                                        请设置登录密码
                                      </div>

                                      <%# 确认密码 %>
                                        <% if(pageType==='reset' ){ %>
                                          <div class="mt-20 flex justify-content-center form-input">
                                            <input name="cpwd" type="password" placeholder="请确认登录密码">
                                          </div>
                                          <div class="flex align-items-center ml-60 mt-10 login-danger" id="cpwd">
                                            请确认登录密码
                                          </div>
                                          <% } %>


                                            <%# 协议 %>
                                              <% if(pageType==='register' ){ %>
                                                <div class="mt-20 flex justify-content-center">
                                                  <p>
                                                    <input type="checkbox" class="btn-group-vertical" name="agreeMent"
                                                      onclick="agreeOn()">
                                                    我已阅读并同意
                                                    <a href="/user/protocol" target="_blank">《天启HTTP用户协议》</a>
                                                  </p>
                                                </div>
                                                <div class="flex align-items-center ml-60 mt-10 login-danger"
                                                  id="agreeMent">
                                                  请先勾选用户协议，点击用户协议打开新窗口到协议内容
                                                </div>
                                                <% } %>



                                                  <div class="mt-30 flex justify-content-center form-input">
                                                    <input class="btn btn-primary" type="button"
                                                      onclick="loginSubmit('<%=pageType%>')"
                                                      value="<%= pageType==='login' ? '登录' : (pageType==='reset' ? '保存' : '立即注册')%> ">
                                                  </div>

                                                  <%# 登录页独有 %>
                                                    <% if(pageType==='login' ){ %>
                                                      <div
                                                        class="mt-20 flex justify-content-between login-other margin-auto">
                                                        <p>还没有账号,<a href="/register">立即注册</a></p>
                                                        <p><a href="/reset">忘记密码</a></p>
                                                      </div>
                                                      <% } %>

                                                        <%# 注册页独有 %>
                                                          <% if(pageType==='register' ){ %>
                                                            <div
                                                              class="mt-20 flex justify-content-center login-other margin-auto">
                                                              <p>已有账号,<a href="/login">立即登录</a></p>
                                                            </div>
                                                            <% } %>
            </form>
          </div>
        </div>
      </div>

    </div>

    <%- include('../components/footer.html'); %>
</body>
<!-- 公共js -->
<%- include('../components/js.html'); %>
  <!-- 浏览器指纹 注册需要 -->
  <script src="/lib/js/fingerprint2.min.js"></script>
  <script src="/lib/js/cryptojs.js"></script>
  <script src="/js/login.js" async defer></script>

</html>